@using Inventory.ViewModels
@model CustomerConsignViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuConsignmentGp {
            display: block;
        }
    </style>

    <script type="text/javascript">
        document.getElementById('subMenuCustomerConsign').className = 'active';
    </script>
</head>

<div class="row m-t-5 m-b-5 m-l-5">
    <div class="col-md-3 col-lg-3 note align-justify-center">
        <label id="lblUserVoucherNo" class="control-label mb-0"></label>
    </div>
    <div class="col-md-3 col-lg-3">
        <input id="inputDate" type="date" class="form-control control-input" />
    </div>
    <div class="col-md-3 col-lg-3">
        <input id="inputVoucherID" type="text" class="form-control control-input" placeholder="@Resource.VoucherID" />
    </div>
    <div class="col-md-3 col-lg-3">
        @Html.DropDownList("Location", Model.Locations, new { @id = "ddlLocation", @class = "form-control control-input" })        
    </div>  
    
</div>
<div class="row m-t-10 m-b-5 m-l-5">
    <div class="col-md-3 col-lg-3">
        @Html.DropDownList("Customer", Model.Customers, new { @id = "ddlCustomer", @class = "form-control control-input" })
    </div>
    <div class="col-md-3 col-lg-3">
        @Html.DropDownList("Division", Model.Divisions, new { @id = "ddlDivision", @class = "form-control control-input" })
    </div>
    <div class="col-md-3 col-lg-3">
        @Html.DropDownList("SalePerson", Model.SalePersons, new { @id = "ddlSalePerson", @class = "form-control control-input" })
    </div>
</div>

<div class="row">
    <div id="divCustomerConsign" class="col-md-6 col-lg-6">
        <div class="input-icons">
            <i class="fa fa-search icon"></i>
            <input id="inputSearch" type="text" class="form-control control-input input-field" placeholder="@Resource.SearchProduct" />
        </div>
        <div class="m-t-5 padding-5 search-div">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <input id="inputNumber" type="hidden" />
                    <input id="inputProductID" type="hidden" />
                    <input id="inputCode" type="text" class="form-control control-input" placeholder="@Resource.Code" />
                </div>
                <div class="col-md-8 col-lg-8">
                    <input id="inputProductName" type="text" class="form-control control-input" placeholder="@Resource.ProductName" disabled />
                </div>
            </div>
            <div class="row m-t-5 align-center">
                <div class="col-md-4 col-lg-4">
                    <input id="inputQuantity" type="text" class="form-control control-input numberonly" placeholder="@Resource.Qty" />
                </div>
                <div id="divUnit" class="col-md-4 col-lg-4">
                    @Html.DropDownList("Unit", Model.Units, new { @id = "ddlUnit", @class = "form-control control-input" })
                </div>
                <div class="col-md-2 col-lg-2"></div>
                <div id="divTranBtn" class="col-md-2 col-lg-2 aligh-right">
                    <button id="btnAdd" class="btn btn-second">@Resource.Add</button>
                    <button id="btnEdit" class="btn btn-third">@Resource.Edit</button>
                </div>
            </div>
        </div>
        <div id="divCustomerConsignChild">
            <div id="divCustomerConsignTran" class="tran-table">
                <table id="tblTranCustomerConsign" class="width-100-percent">
                    <thead>
                        <tr class="row tran-table-header-row">
                            <td class="col-md-6 col-lg-6 text-overflow"><span>@Resource.Product</span></td>
                            <td class="col-md-5 col-lg-5 text-overflow"><span>@Resource.Qty</span></td>
                            <td class="col-md-1 col-lg-1"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div style="bottom:0px;position:absolute;width:100%;">

                <div class="row soft-gray-background pt-1">
                    <div class="col-md-6 col-lg-6">
                        <button id="btnCancel" class="btn btn-third">@Resource.Reset</button>
                        <button id="btnEditCancel" class="btn btn-third m-t-0">@Resource.Cancel</button>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 aligh-right">
                        <button id="btnContinue" class="btn btn-first plr-30">@Resource.Continue</button>
                        <button id="btnEditContinue" class="btn btn-first plr-30 m-t-0">@Resource.Edit</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6 col-lg-6">
        @{
            Html.RenderPartial("_ProductMenu", Model);
        }
    </div>
</div>
<div>
    @{
        Html.RenderPartial("_SearchProductDialog");
    }
</div>
<div>
    @{
        Html.RenderPartial("_CustomerConsignRemarkDialog");
    }
</div>


<script type="text/javascript">

    let tranCustomerConsignAction, defaultCustomerId, defaultLocationId, defaultSalePersonId, defaultDivisionId,isEditTranCustomerConsign=false;
    $('body').addClass("hideVerticalScrollbar");
    calcMenuHeight(210);
    calcCustomerConsignHeight();

    function calcCustomerConsignHeight() {
        let windowHeight = window.innerHeight;
        let thingsHeight = 145; // average other component height
        let extraHeight = 20;
        let customerConsignAreaHeight = windowHeight - (thingsHeight + extraHeight);
        let customerConsignChildHeight = customerConsignAreaHeight - 100;  // 100 is top component
        let customerConsignTranHeight = customerConsignChildHeight - 135 - 40;  // 135 is bottom component and 40 is extra
        document.getElementById('divCustomerConsign').setAttribute("style", "height:" + customerConsignAreaHeight + "px");
        document.getElementById('divCustomerConsignChild').setAttribute("style", "height:" + customerConsignChildHeight + "px");
        document.getElementById('divCustomerConsignTran').setAttribute("style", "height:" + customerConsignTranHeight + "px");
    }
    $(document).ready(function () {
        setModuleTitle('@Resource.Consignment', '@Resource.AddCustomerConsign');
        if ('@ViewBag.IsEdit' == 'True')
        {
            getDefaultSelectedId();
            fillEditData();
        }
        else initializeControl();
        function initializeControl() {
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val(getTodayDate());
            showHideUnit();
            showHideTranCustomerConsignAddEdit(false);
            showHideMainButton(false);
            getDefaultSelectedId();
        }
        function getDefaultSelectedId() {
            defaultLocationId = $('#ddlLocation option:selected').val();
            defaultSalePersonId = $('#ddlSalePerson option:selected').val();
            defaultDivisionId = $('#ddlDivision option:selected').val();
            defaultCustomerId = $('#ddlCustomer option:selected').val();
        }
        function AssignDefaultSelectedId()
        {
            $("#ddlLocation").val(defaultLocationId);
            $("#ddlCustomer").val(defaultCustomerId);
            $("#ddlDivision").val(defaultDivisionId);
            $("#ddlSalePerson").val(defaultSalePersonId);
            $('#inputVoucherID').val("");
            
        }
        function showHideUnit() {
            if (isMultiUnit == "True") {
                createDefaultUnit();
                $("#divUnit").show();
            } else
            {
                $('#divUnit').css("display", "none");
                $('#divTranBtn').addClass("col-md-6 col-lg-6");
            }
        }
        function createDefaultUnit() {
            let unit;
            $("#ddlUnit").html("");
            unit = '<option value="0">Unit</option>';
            $("#ddlUnit").append(unit);
        }
        $('#inputCode').keydown(function (event) {
            if (event.which === 13) {
                let productCode = $("#inputCode").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProductByCodeAction", "CustomerConsign")',
                    data: { "productCode": productCode, "isMultiUnit": isMultiUnit },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            responseUnSuccessful(response);
                        }
                        else
                        {
                            if (!response.IsExistProduct)
                            {
                                showToast(0, '@Inventory.Common.AppConstants.Message.NoProductByCode');
                            }
                            else {
                                $("#inputProductID").val(response.ProductID);
                                $("#inputProductName").val(response.ProductName);
                                $("#inputQuantity").val('1');
                                createUnitData(response);
                                showHideTranCustomerConsignAddEdit(false);
                            }
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });
        $('#inputSearch').keydown(function (event) {
            if (event.which === 13) {
                let keyword = $("#inputSearch").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProductByKeywordAction", "CustomerConsign")',
                    data: { "keyword": keyword },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (response.length == 0)
                        {
                            showToast(0, '@Inventory.Common.AppConstants.Message.NoProduct');
                        }                           
                        else {
                            createSearchProductData(response);
                            $('#modalSearchProduct').modal('show');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });
        function createSearchProductData(response) {
            $("#tblSearchProduct").find("tbody").empty();
            $.each(response, function (i, item) {
                var rows = "<tr class='row table-item' style='cursor:pointer;'>"
                    + "<td style='display:none;'>" + item.ProductID + "</td>"
                    + '<td class="col-md-8 col-lg-8"><label class="control-label mb-0 text-overflow">' + item.ProductName + '</label></td>'
                    + '<td class="col-md-4 col-lg-4 value-right"><label class="control-label mb-0">' + item.Code + '</label></td>'
                    + "</tr>";
                $('#tblSearchProduct tbody').append(rows);
            });
        }
        $("#tblSearchProduct").on("click", "tbody tr", function (event) {
            $(this).find("td:first").each(function () {
                let productId = $(this).text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchProductClickAction", "CustomerConsign")',
                    data: { "productId": productId, "isMultiUnit": isMultiUnit },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            fillSelectedProductData(response, productId);
                            $('#modalSearchProduct').modal('hide');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            })
        });
        $(document).on('click', '.btnProduct', function (e) {
            let productId = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProductClickAction", "ProductMenu")',
                data: { "productId": productId, "isMultiUnit": isMultiUnit, "isMultiCurrency": isMultiCurrency },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        responseUnSuccessful(response);
                    else fillSelectedProductData(response, productId);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        function clearProductControl() {
            $("#inputNumber").val("");
            $("#inputProductID").val("");
            $("#inputCode").val("");
            $("#inputProductName").val("");
            $("#inputQuantity").val("");
            showHideUnit();
            showHideTranCustomerConsignAddEdit(false);
            isEditTranCustomerConsign = false;
        }
        function validateProductControl() {
            if ($("#inputProductID").val().length == 0 || $("#inputProductID").val() == 0) return false;
            else if ($("#inputQuantity").val().length == 0 || $("#inputQuantity").val() == 0) {
                $("#inputQuantity").focus();
                return false;
            }
            return true;
        }
        $("#inputQuantity").keydown(function () {
            if (event.which === 13) {
                addOrEditTranCustomerConsign(isEditTranCustomerConsign);
            }
        })
        $("#btnAdd").click(function (e) {
            addOrEditTranCustomerConsign(isEditTranCustomerConsign);
        });
        $("#btnEdit").click(function (e) {
            addOrEditTranCustomerConsign(isEditTranCustomerConsign);
        });
        function addOrEditTranCustomerConsign(isEdit) {
            if (validateProductControl()) {
                let unitId, unitKeyword, adjustTypeId, adjustTypeKeyword;
                let number = $("#inputNumber").val();
                let productId = $("#inputProductID").val();
                let productCode = $("#inputCode").val();
                let productName = $("#inputProductName").val();
                let quantity = $("#inputQuantity").val();
                if (isMultiUnit == "True") {
                    unitId = $('#divUnit option:selected').val();
                    unitKeyword = $('#divUnit option:selected').text();
                }
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("TranCustomerConsignAddEditAction", "CustomerConsign")',
                    data: { "productId": productId, "productCode": productCode, "productName": productName, "quantity": quantity, "unitId": unitId, "unitKeyword": unitKeyword, "isEdit": isEdit, "number": number },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            createTranCustomerConsignData(response.LstTranCustomerConsign);
                            clearProductControl();
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        }
        function createTranCustomerConsignData(lstTranCustomerConsign) {
            let num = 0;
            $("#tblTranCustomerConsign").find("tbody").empty();
            $.each(lstTranCustomerConsign, function (i, item) {
                num += 1;
                if (item.UnitKeyword == null) item.UnitKeyword = '';
                let row = '<tr class="row tran-table-item-row">'
                       + '<td style="display:none;">' + item.ProductID + '</td>'
                       + '<td class="col-md-6 col-lg-6"><label class="control-label mb-0 text-link text-overflow">' + item.ProductName + '</label></td>'
                       + '<td class="col-md-5 col-lg-5"><label class="control-label mb-0">' + item.Quantity + '<span class="control-span-sm">&nbsp;' + item.UnitKeyword + '</span></label></td>'
                       + '<td class="col-md-1 col-lg-1 value-right"><button class="btn-icon gray" title="Delete" onclick="tranCustomerConsignTableAction(3)"><i class="fa fa-remove"></i></button></td>'
                       + '<td style="display:none;">' + num + '</td>'
                       + '</tr>';
                $('#tblTranCustomerConsign tbody').append(row);
            })
        }
        $("#tblTranCustomerConsign").on("click", "tbody tr", function (event) {
            $('#tblTranCustomerConsign tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                let number = $(this).text();
                if (tranCustomerConsignAction == 3) {
                    tranCustomerConsignAction = 0;
                    deleteTranCustomerConsign(number);
                } else {
                    prepareToEditTranCustomerConsign(number);
                }
            })
        });
        function deleteTranCustomerConsign(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranCustomerConsignDeleteAction", "CustomerConsign")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranCustomerConsignData(response.LstTranCustomerConsign);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        function prepareToEditTranCustomerConsign(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PrepareToEditTranCustomerConsignAction", "CustomerConsign")',
                data: { "number": number, "isMultiUnit": isMultiUnit },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        $("#inputNumber").val(number);
                        $("#inputProductID").val(response.ProductID);
                        $("#inputCode").val(response.ProductCode);
                        $("#inputProductName").val(response.ProductName);
                        $("#inputQuantity").val(response.Quantity);
                        createUnitData(response);
                        $("#ddlUnit").val(response.UnitID);
                        showHideTranCustomerConsignAddEdit(true);
                        isEditTranCustomerConsign = true;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }

        $("#btnCancel").click(function (e) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CancelAction", "CustomerConsign")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    clearProductControl();
                    $("#dDueDate").val("");
                    $("#txtRemarkNote").val("");
                    $("#tblTranCustomerConsign").find("tbody").empty();
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnContinue").click(function (e) {
            let row = $("#tblTranCustomerConsign tbody tr").length;
            if (row < 1) return;
            $("#modalRemarkTitle").text("Add Remark");
            $("#lblDueDate").text("Due Date");
            $("#lblRemark").text("Enter a Note");
            $('#modalRemark').modal('show');
        });
        $("#btnRemarkOk").click(function (e) {
            let No = $('#lblUserVoucherNo').text();
            let userVoucherNo = $('#lblUserVoucherNo').text();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let locationId = $('#ddlLocation option:selected').val();
            let customerId = $('#ddlCustomer option:selected').val();
            let divisionId = $('#ddlDivision option:selected').val();
            let salePersonId = $('#ddlSalePerson option:selected').val();
            let dueDate = $('#dDueDate').val();
            let remark = $('#txtRemarkNote').val();
            let userId = localStorage.getItem("UserID");
            showLoadingIcon();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CustomerConsignSubmitAction", "CustomerConsign")',
                data: JSON.stringify({
                    "userVoucherNo": userVoucherNo, "date": date, "voucherId": voucherId, "locationId": locationId, "customerId": customerId,
                    "divisionId": divisionId, "salePersonId": salePersonId, "dueDate": dueDate, "remark": remark, "userId": userId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    $('#modalRemark').modal('hide');
                    if (!response.ResultDefaultData.IsRequestSuccess)
                    {
                        responseUnSuccessful(response);
                    }
                    else {
                        showToast(1, response.ResultDefaultData.Message);
                        clearProductControl();
                        $("#tblTranCustomerConsign").find("tbody").empty();
                        $("#lblUserVoucherNo").text(response.UserVoucherNo);
                        $('#inputDate').val(getTodayDate());
                        AssignDefaultSelectedId();
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        function fillEditData() {
            $('#btnEditContinue').val('@ViewBag.CustomerConsignID');
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val('@ViewBag.Date');
            $('#inputVoucherID').val('@ViewBag.VoucherID');
            $("#ddlLocation").val('@ViewBag.LocationID');
            $("#ddlCustomer").val('@ViewBag.CustomerID');
            $("#ddlDivision").val('@ViewBag.DivisionID');
            $("#ddlSalePerson").val('@ViewBag.SalePersonID');
            $("#txtRemarkNote").val('@ViewBag.Remark');
            $("#dDueDate").val('@ViewBag.DueDate');
            showHideUnit();
            showHideTranCustomerConsignAddEdit(false);
            showHideMainButton(true, false, false);
            let tranCustomerConsignList = JSON.parse('@Html.Raw(Json.Encode(Session["TranCustomerConsignData"]))');
            createTranCustomerConsignData(tranCustomerConsignList);
        }
        $("#btnEditContinue").click(function (e) {
            let row = $("#tblTranCustomerConsign tbody tr").length;
            if (row < 1) return;
            $("#modalRemarkTitle").text("Add Remark");
            $("#lblDueDate").text("Due Date");
            $("#lblRemark").text("Enter a Note");
            $('#btnEditRemarkOk').val($(this).val());
            $('#modalRemark').modal('show');
        });
        $("#btnEditRemarkOk").click(function (e) {
            let row = $("#tblTranCustomerConsign tbody tr").length;
            if (row < 1) return;
            let customerConsignId = $(this).val();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let locationId = $('#ddlLocation option:selected').val();
            let customerId = $('#ddlCustomer option:selected').val();
            let divisionId = $('#ddlDivision option:selected').val();
            let salePersonId = $('#ddlSalePerson option:selected').val();
            let remark = $('#txtRemarkNote').val();
            let dueDate = $('#dDueDate').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CustomerConsignEditAction", "CustomerConsign")',
                data: {
                    "customerConsignId": customerConsignId, "date": date, "dueDate": dueDate, "voucherId": voucherId, "locationId": locationId, "customerId": customerId ,"divisionId": divisionId, "salePersonId": salePersonId, "remark": remark
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        $('#modalRemark').modal('hide');
                        responseUnSuccessful(response);
                    }
                    else {
                        window.location.href = '@Url.Action("ListCustomerConsign", "CustomerConsign")';
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnEditCancel").click(function (e) {
            window.location.href = '@Url.Action("CustomerConsign", "CustomerConsign")?userId=' + userId;
        });

    });
    function fillSelectedProductData(response, productId) {
        $("#inputProductID").val(productId);
        $("#inputCode").val(response.Code);
        $("#inputProductName").val(response.ProductName);
        $("#inputQuantity").val('1');
        createUnitData(response);
        showHideTranCustomerConsignAddEdit(false);
        isEditTranCustomerConsign = false;
    }
    function showHideMainButton(isEdit) {
        if (isEdit) {
            $('#btnCancel').css("display", "none");
            $('#btnContinue').css("display", "none");
            $('#btnRemarkOk').css("display", "none");
        } else {
            $("#btnEditCancel").css("display", "none");
            $('#btnEditContinue').css("display", "none");
            $('#btnEditRemarkOk').css("display", "none");
            $('#btnCancel').show();
            $('#btnContinue').show();
            $('#btnRemarkOk').show();
        }
    }
    function showHideTranCustomerConsignAddEdit(isEdit) {
        if (isEdit) {
            $('#btnAdd').css("display", "none");
            $("#btnEdit").show();
        } else {
            $("#btnAdd").show();
            $('#btnEdit').css("display", "none");
        }
    }
    function createUnitData(response) {
        let unit;
        $("#ddlUnit").html("");
        for (var i = 0; i < response.LstUnit.length; i++) {
            unit += '<option value="' + response.LstUnit[i].UnitID + '">' + response.LstUnit[i].Keyword + '</option>';
        }
        $("#ddlUnit").append(unit);
    }
    function tranCustomerConsignTableAction(value) {
        tranCustomerConsignAction = value;
    }
</script>



