@using Inventory.ViewModels;
@model RpTransferItemViewModel

@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let filter;
        $(document).ready(function () {
            if ('@ViewBag.ErrorMessage'.length != 0) {
                showToast(0, '@ViewBag.ErrorMessage');
            }
            setReportTitle('@Resource.TransferItemReport');
            setDefaultFilter('@Model.FromDate.ToShortDateString()', '@Model.ToDate.ToShortDateString()', '');           
        });
        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            document.write(result);
        }
    </script>
</head>
<div>
    <div class="row table-header" style="padding:10px 15px;">
        <div class="col-md-3 col-lg-3">@Resource.Code</div>
        <div class="col-md-3 col-lg-3">@Resource.Product</div>
        <div class="col-md-3 col-lg-3 aligh-right">@Resource.PurchasePrice</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Qty</div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
    @foreach (var Location in Model.lstMasterTransfer as List<RpTransferItemViewModel.MasterTransferModels>)
    {
        <div class="col-md-12 col-lg-12 rpt-main-group">
            <span class="ml-10">@Location.FromLocationName</span> &nbsp; &nbsp; &nbsp; &nbsp;<span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> &nbsp; &nbsp; &nbsp; &nbsp;<span> @Location.ToLocationName</span>
        </div>

        foreach (var item in Location.lstTransferItem as List<RpTransferItemViewModel.TranTransferModels>)
        {
            <div class="row rpt-item">
                <div class="col-md-3 col-lg-3"><span class="ml-10"> @item.ProductCode </span></div>
                <div class="col-md-3 col-lg-3">@item.ProductName
                    @if (item.UnitKeyword != "")
                    {
                        <span>@Resource.OpenParenthesis @item.UnitKeyword @Resource.CloseParenthesis</span>
                    }
                </div>               
                <div class="col-md-3 col-lg-3 aligh-right"><script>separatedComma(@item.PurPrice)</script></div>
                <div class="col-md-2 col-lg-2 aligh-right"><span class="mr-10"><script>separatedComma(@item.Quantity)</script></span> </div>
                <div class="col-md-1 col-lg-1"></div>
            </div>

        }
    }


</div>

