@using Inventory.ViewModels;
@model RpSaleAmountViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let filter;
        $(document).ready(function () {
            let title = '@Resource.SaleAmountSummaryReport';
            let fromDate = '@Model.FromDate.ToShortDateString()';
            let toDate = '@Model.ToDate.ToShortDateString()';
            filter = "";
            setReportTitle(title);
            setDefaultFilter(fromDate, toDate, filter);
        });
        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            document.write(result);
        }
    </script>
</head>

<div>
    <div class="row table-header">
        <div class="col-md-1 col-lg-1">@Resource.Date</div>
        <div class="col-md-1 col-lg-1">@Resource.VoucherNo</div>
        <div class="col-md-1 col-lg-1">@Resource.SlipID</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Cash</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Credit</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Tax </div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Charges</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouDis</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Bank (%)</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.AdvancedPay</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouFOC</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Grandtotal</div>
    </div>

    @foreach (var data in Model.lstMasterSaleRpt as List<RpSaleAmountViewModel.MasterSaleView>)
    {
        <div class="row table-item">
            <div class="col-md-1 col-lg-1">@data.SaleDateTime</div>
            <div class="col-md-1 col-lg-1">@data.UserVoucherNo</div>
            <div class="col-md-1 col-lg-1">@data.SlipID</div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.CashInHand)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.Banking)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.TaxAmt)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.ChargesAmt)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.VoucherDiscount)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.PayPercentAmt)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.AdvancedPay)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.VoucherFOC)</script></div>
            <div class="col-md-1 col-lg-1 aligh-right">
            <script>separatedComma(@data.Grandtotal)</script></div>
        </div>
    }

    @{
        if (Model.lstMasterSaleRpt.Count() != 0)
        {
            <div class="row rpt-total">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-1 col-lg-1">@Resource.Total</div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.CashInHand))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.Banking))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.TaxAmt))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.ChargesAmt))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.VoucherDiscount))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.PayPercentAmt))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.AdvancedPay))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.VoucherFOC))</script>
                </div>
                <div class="col-md-1 col-lg-1 aligh-right">
                    <script>separatedComma(@Model.lstMasterSaleRpt.Sum(x=>x.Grandtotal))</script>
                </div>
            </div>

            <div class="row rpt-main-group">
                <div class="col-md-1 col-lg-1">@Resource.Date</div>
                <div class="col-md-1 col-lg-1">@Resource.VoucherNo</div>
                <div class="col-md-1 col-lg-1">@Resource.SlipID</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Cash</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Credit</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Tax </div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Charges</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouDis</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Bank (%)</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.AdvancedPay</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouFOC</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Grandtotal</div>
            </div>
        }
    }

</div>





