@using Inventory.ViewModels;
@model RpSaleItemViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    
    <script type="text/javascript">

        let filter;

        $(document).ready(function () {
            setReportTitle('@Resource.SaleItemReport');
 
            if ('@Model.IsAll' == 'True') filter = '@Resource.All';
            else if ('@Model.IsCash' == 'True') filter = '@Resource.Cash';
            else filter = '@Resource.Credit';           
            setDefaultFilter('@Model.FromDate.ToShortDateString()', '@Model.ToDate.ToShortDateString()', filter);
        });

        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            //return result;
            document.write(result);
        }
    </script>
</head>
<div>
    <div class="row table-header font-weight-500">
        <div class="col-md-2 col-lg-2" style="padding-left:10px;">
            <span>@Resource.Code</span>
        </div>
        <div class="col-md-2 col-lg-2">
            <span> @Resource.Product</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right" >
            <span>@Resource.Qty</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <span>@Resource.SalePrice</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <span>Discount</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <span class="mr-10">@Resource.Amount</span>
        </div>
        
    </div>
    @foreach(var item in Model.lstMasterSaleRpt as List<RpSaleItemViewModel.MasterSaleViewModel>)
    {
        <div class="row rpt-main-group">
            <div class="col-md-2 col-lg-2" style="padding-left:10px;">@item.Code</div>
            <div class="col-md-10 col-lg-10">@item.ProductName @if(item.UnitKeyword!="") {<span>(@item.UnitKeyword )</span>}</div>                                                        
        </div>
        <div class="row">
            <table class="col-md-12 col-lg-12 m-l-5" >                                      
                @if (item.lstSaleItem.Where(m => m.PaymentID == 1).ToList().Count > 0)
                {
                    foreach (var data in item.lstSaleItem.Where(m => m.PaymentID == 1).OrderBy(m=>m.PaymentName).ToList() as List<RpSaleItemViewModel.SaleItemViewModel>)
                    {
                        <tr class="row rpt-item">
                            <td class="col-md-4 col-lg-4" style="padding-left:70px;">@data.PaymentName @if (data.DiscountPercent != 0)
                            { <span>(@data.DiscountPercent %)</span> }</td>
                            <td class="col-md-2 col-lg-2 aligh-right"><span class="m-r-5">@data.Quantity</span></td>
                            <td class="col-md-2 col-lg-2 aligh-right"><span class="mr-10"><script>separatedComma(@data.SalePrice);</script></span></td>
                            <td class="col-md-2 col-lg-2 aligh-right">
                                @if (data.Discount > 0)
                                {
                                    <span class="mr-10"><script>separatedComma(@data.Discount)</script></span>
                                }
                                else
                                {
                                    <span class="mr-10">-</span>
                                }
                            </td>
                            <td class="col-md-2 col-lg-2 aligh-right plr-30"><script>separatedComma(@data.Amount);</script></td>
                        </tr>
                    }
                    <tr class="row rpt-sub-total">
                        <td class="col-md-3 col-lg-3" style="padding-left:70px;">Total</td>
                        <td class="col-md-3 col-lg-3 aligh-right"><span class="m-r-5"> @item.lstSaleItem.Where(m => m.PaymentID == 1).Sum(m => m.Quantity)</span></td>
                        <td class="col-md-3 col-lg-3"></td>
                        <td class="col-md-3 col-lg-3 aligh-right plr-30">
                        <script>separatedComma(@item.lstSaleItem.Where(m=>m.PaymentID==1).Sum(m => m.Amount));</script></td>
                    </tr>
                }
                    
                @if (item.lstSaleItem.Where(m => m.PaymentID == 2).ToList().Count > 0)
                {
                    foreach (var data in item.lstSaleItem.Where(m => m.PaymentID == 2).OrderBy(m=>m.PaymentName).ToList() as List<RpSaleItemViewModel.SaleItemViewModel>)
                    {
                        <tr class="row rpt-item">
                            <td class="col-md-4 col-lg-4" style="padding-left:70px;">
                                @data.PaymentName @if (data.DiscountPercent != 0)
                                { <span>(@data.DiscountPercent %)</span> }
                            </td>
                            <td class="col-md-2 col-lg-2 aligh-right"><span class="m-r-5">@data.Quantity</span></td>
                            <td class="col-md-2 col-lg-2 aligh-right"><span class="mr-10"><script>separatedComma(@data.SalePrice);</script></span></td>
                            <td class="col-md-2 col-lg-2 aligh-right">
                                @if (data.Discount > 0)
                                {
                                    <span class="mr-10">
                                    <script>separatedComma(@data.Discount)</script></span>
                                }
                                else
                                {
                                    <span class="mr-10">-</span>
                                }
                            </td>
                            <td class="col-md-2 col-lg-2 aligh-right plr-30"><script>separatedComma(@data.Amount);</script></td>
                        </tr>
                    }
                    <tr class="row rpt-sub-total">
                        <td class="col-md-3 col-lg-3" style="padding-left:70px;">Total</td>
                        <td class="col-md-3 col-lg-3 aligh-right"><span class="m-r-5"> @item.lstSaleItem.Where(m => m.PaymentID == 2).Sum(m => m.Quantity)</span></td>
                        <td class="col-md-3 col-lg-3"></td>
                        <td class="col-md-3 col-lg-3 aligh-right plr-30">
                            <script>separatedComma(@item.lstSaleItem.Where(m=>m.PaymentID==2).Sum(m => m.Amount));</script>
                        </td>
                    </tr>

                }
                    
            </table>
        </div>            
    }

</div>



