@using Inventory.ViewModels
@model StockStatusViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuStockStatusGp {
            display: block;
        }     
        table tbody{
            overflow-y:scroll;
            display:block;
        }
    </style>
</head>  

<div>

    <div class="row setup-title-layout">
        <div class="col-md-12 col-lg-12">
            <label class="page-title">@Resource.StockStatusByLocation</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table id="tblStockStatus" style="width:100%">
                <thead>
                    <tr>
                        <th><div></div></th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript">
    document.getElementById('subMenuStockStatusByLocation').className = 'active';
    $('body').addClass("hideVerticalScrollbar");
    calcTableBodyHeight();

    function calcTableBodyHeight() {
        let windowHeight = window.innerHeight;
        let title = 50.5; 
        let bodyPadding = 10;
        let tableHeader = 42.5;
        let extra = 50;
        let tableBody = windowHeight - (title + bodyPadding + tableHeader + extra);
        document.getElementById('tableBody').setAttribute("style", "height:" + tableBody + "px");
    }

    $(document).ready(function () {

        setModuleTitle('@Resource.StockStatus', '@Resource.StockStatusByLocation');
        createHeader();
        createItem();

        function createHeader() {
            $("#tblStockStatus").find("thead").empty();
            var header = JSON.parse('@Html.Raw(Json.Encode(ViewData["StockStatusHeader"]))');

            var row = '<tr class="row table-header">'
                        + '<th class="col-md-1 col-lg-1">' + header.ProductCode + '</th>'
                        + '<th class="col-md-2 col-lg-2">' + header.ProductName + '</th>'
                        + '<th class="col-md-8 col-lg-8">'
                        + '<div class="row">'
                    
            if (header.lstLocationName.length <= 6) {
                $.each(header.lstLocationName, function (index, item) {
                    row += '<label class="col-md-2 col-lg-2 aligh-right mb-0">' + item + '</label>'
                });
            } else {
                $.each(header.lstLocationName, function (index, item) {
                    row += '<label class="col-md-1 col-lg-1 aligh-right mb-0">' + item + '</label>'
                });
            }
            
            row += '</div></th>'
                + '<th class="col-md-1 col-lg-1 aligh-right">' + header.Balance + '</th>'
                + '</tr>'
            $('#tblStockStatus thead').append(row);
        }

        function createItem() {
            $("#tblStockStatus").find("tbody").empty();
            var response = JSON.parse('@Html.Raw(Json.Encode(ViewData["StockStatusItem"]))');

            $.each(response, function (index, item) {
                var row = '<tr class="row table-item">'
                         + '<td class="col-md-1 col-lg-1">' + item.ProductCode + '</td>'
                         + '<td class="col-md-2 col-lg-2">' + item.ProductName + '</td>'
                         + '<td class="col-md-8 col-lg-8">'
                         + '<div class="row">'

                if (item.lstLocationBalance.length <= 6) {
                    $.each(item.lstLocationBalance, function (index, balance) {
                        row += '<label class="col-md-2 col-lg-2 aligh-right mb-0">' + balance + '</label>'
                    });
                } else {
                    $.each(item.lstLocationBalance, function (index, balance) {
                        row += '<label class="col-md-1 col-lg-1 aligh-right mb-0">' + balance + '</label>'
                    });
                }
              
                row += '</div></td>'
                    + '<td class="col-md-1 col-lg-1 aligh-right">' + item.Balance + '</td>'
                    + '</tr>'
                $('#tblStockStatus tbody').append(row);
            });           
        }

        $("#tblStockStatus").on("click", "tbody tr", function (event) {
            $('#tblStockStatus tr').removeClass("selected");
            $(this).addClass("selected");
        });

    });
</script>


