<table id="tblTranSaleReturn" class="width-100-percent">
    <thead>
        <tr class="row voucher-table-header">
            <td class="col-md-4 col-lg-4">@Resource.Product</td>
            <td class="col-md-2 col-lg-2">@Resource.Qty</td>
            <td class="col-md-2 col-lg-2">@Resource.Price</td>
            <td class="col-md-2 col-lg-2">@Resource.Dis</td>
            <td class="col-md-2 col-lg-2 aligh-right">@Resource.Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<table class="width-100-percent">
    <tr class="voucher-divider">
        <td><label class="voucher-sub-footer">@Resource.Total@Resource.ColonSign</label></td>
        <td class="aligh-right"><label id="lblTotal" class="voucher-sub-footer"></label></td>
    </tr>
</table>

