@using Inventory.ViewModels;
@model RpSaleItemSimpleViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        setReportTitle('@Resource.SaleItemSimpleReport');
        setDefaultFilter('@Model.FromDate.ToShortDateString()', '@Model.ToDate.ToShortDateString()', '');
        $("#divFilter").visible = false;
    });

    function separatedComma(value) {
        let iVal = parseInt(value);
        let result = iVal.toLocaleString('en-US');
        //return result;
        document.write(result);
    }
    </script>
    <style>
        
    </style>
</head>
<div>
    <div class="row table-header font-weight-500">
        <div class="col-md-2 col-lg-2">
            <span class="ml-10">@Resource.Code</span>
        </div>
        <div class="col-md-3 col-lg-3">
            <span> @Resource.Product</span>
        </div>
        <div class="col-md-1 col-lg-1 aligh-right">
            <span class="text-align-right">@Resource.Qty</span>
        </div>
        <div class="col-md-3 col-lg-3 aligh-right">
            <span>@Resource.SalePrice</span>
        </div>
        <div class="col-md-3 col-lg-3 aligh-right plr-30">
            <span class="mr-10">@Resource.Amount</span>
        </div>
    </div>
</div>
<div>
    @foreach(var MainMenuData in Model.lstSaleRpt as List<RpSaleItemSimpleViewModel.MainMenuViewModel>)
    {
        <div class="row rpt-main-group" style="background-color:#ffffec;">
            <div class="col-md-12 col-lg-12">
               <span class="ml-10">@MainMenuData.MainMenuName</span>  
            </div>
        </div>
        foreach (var SubMenuData in MainMenuData.lstSubMenu as List<RpSaleItemSimpleViewModel.SubMenuViewModel>)
        {
            <div class="row rpt-sub-group" style="background-color:#fffff9;">
                <div class="col-md-12 col-lg-12">
                   <span class="ml-10">@SubMenuData.SubMenuName</span> 
                </div>
            </div>
            foreach (var Item in SubMenuData.lstSaleItem as List<RpSaleItemSimpleViewModel.SaleItemViewModel>)
            {
                <div class="row rpt-item">
                    <div class="col-md-2 col-lg-2"><span class="ml-10">@Item.Code</span></div>
                    <div class="col-md-3 col-lg-3">@Item.ProductName @if (Item.UnitID != 0) {<span>( @Item.UnitKeyword )</span>} </div>
                    <div class="col-md-1 col-lg-1 aligh-right"><span>@Item.Quantity</span></div>
                    <div class="col-md-3 col-lg-3 aligh-right"><span><script>separatedComma(@Item.SalePrice)</script></span></div>
                    <div class="col-md-3 col-lg-3 aligh-right plr-30"><span class="mr-10"> <script>separatedComma(@Item.Amount)</script></span></div>
                </div>
            }
            <div class="row rpt-sub-total">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-md-3 col-lg-3">@Resource.Total</div>
                <div class="col-md-1 col-lg-1 aligh-right"><span>@SubMenuData.lstSaleItem.Sum(m=>m.Quantity)</span></div>
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-3 col-lg-3 aligh-right plr-30"><span class="mr-10"><script>separatedComma(@SubMenuData.lstSaleItem.Sum(m => m.Amount))</script></span></div>
            </div>
        }
    }
    <div class="row rpt-total">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-3 col-lg-3">@Resource.Total</div>
        <div class="col-md-1 col-lg-1 aligh-right"><span><script>separatedComma(@Model.TotalQuantity)</script></span></div>
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-3 col-lg-3 aligh-right plr-30"><span class="mr-10"><script>separatedComma(@Model.TotalAmount)</script></span></div>
    </div>
    <div class="row padding-10" style="font-weight:bold;">
        <div class="col-md-5 col-lg-5"></div>
        <div class="col-md-1 col-lg-1 aligh-right"><span>@Resource.Qty</span></div>
        <div class="col-md-6 col-lg-6 aligh-right plr-30"><span class="mr-10">@Resource.Amount</span></div>
    </div>
</div>








