@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuSaleRpGp {
            display: block;
        }
    </style>
    <script type="text/javascript">
        document.getElementById('subMenuSaleItemSimpleRp').className = 'active';
    </script>
</head>

<div>
    <div class="row setup-title-layout">
        <div class="col-md-6 col-lg-6">
            <label class="page-title">@Resource.SaleItemSimpleReport</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <button id="btnViewReport" class="btn btn-second" style="float:right">@Resource.ViewReport</button>
        </div>
    </div>

    <div>
        @{
            Html.RenderPartial("_DateFilter");
        }
    </div>
    <div>
        @{ 
            Html.RenderPartial("_MenuFilter");
        }
    </div>

</div>

<script type="text/javascript">
    var subMenuIDArray = [];
    $(function () {
        $('#btnViewReport').click(function () {
            let fromDate = $('#inputFromDate').val();
            let toDate = $('#inputToDate').val();
            $("#divMenuFilter").load("#divMenuFilter");
            window.location.href = '@Url.Action("SaleItemSimpleReport", "RpSaleItemSimple")?fromDate=' + fromDate + '&toDate=' + toDate + '&SubMenuID=' + JSON.stringify(subMenuIDArray);            
        });
    })
    $(document).ready(function () {
        if ('@ViewBag.ErrorMessage'.length != 0) {
            showToast(0, '@ViewBag.ErrorMessage');
        }
        initializeControl();

        function initializeControl() {           
            $('#inputFromDate').val(getTodayDate());
            $('#inputToDate').val(getTodayDate());
            let menuList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.MenuData))');
            createMenuFilter(menuList);
            //let menu='', submenu='',mainMenu = 0;
            //$("#divMenuFilter").html("");
            //$.each(menuList, function (i, item) {
            //    if(mainMenu!=item.MainMenuID)
            //    {
            //        mainMenu = item.MainMenuID;
            //        menu += '<div class="row rpt-main-group" id="divMainMenu" style="background-color:#ffffec;">'
            //             + '<div class="col-md-10 col-lg-10 padding-5">'
            //             + '<span>' + item.MainMenuName + '</span>'
            //             + '</div>'
            //             + '<div class="col-md-2 col-lg-2 aligh-right padding-5">'
            //             + '<input type="checkbox" name="' + item.MainMenuName + '" value="' + item.MainMenuID + '" onchange="mainMenuChange(this)" class="aligh-right mr-10" />'
            //             + '</div>'
            //             + '</div>'
            //             + '<div class="row">'
            //             + '<div class="col-md-12 col-lg-12" id="divMainMenu' + item.MainMenuID + '"></div>'
            //             + '</div>'
            //    }
            //})
            //$("#divMenuFilter").append(menu);
            //t = 0;
            //$.each(menuList, function (i, item) {
            //    submenu = '';
            //    if (t != item.MainMenuID) {
            //        t = item.MainMenuID;
            //        $.each(menuList, function (j, data) {
            //            if (data.MainMenuID === t && data.SubMenuID!=0) {
            //                submenu += '<div class="row rpt-item"><div class="col-md-10 col-lg-10 padding-5"><span>' + data.SubMenuName + '</span></div><div class="col-md-2 col-lg-2 padding-5 aligh-right"><input type="checkbox" name="' + data.MainMenuID + '" value="' + data.SubMenuID + '" onchange="subMenuChange(this)" class="aligh-right mr-10" /></div></div>'
            //            }
            //        })
            //        $("#divMainMenu" + item.MainMenuID).append(submenu);
            //    }
            //})
        }

    })
    //function mainMenuChange(mainMenu) {
    //    var checkboxes = document.getElementsByName(mainMenu.value);
    //    if (mainMenu.checked == true) {
    //        checkboxes.forEach(function (checkbox) {
    //            checkbox.checked = true;
    //            if (!subMenuIDArray.some(e=>e == checkbox.value)) {
    //                subMenuIDArray.push(checkbox.value);
    //            }
    //        });
    //    }
    //    else
    //    {
    //        checkboxes.forEach(function (checkbox) {
    //            checkbox.checked = false;
    //            subMenuIDArray = subMenuIDArray.filter(e=>e !== checkbox.value);
    //        });
    //    }
    //}
    //function subMenuChange(subMenu) {
    //    if (subMenu.checked == true) {
    //        subMenuIDArray.push(subMenu.value);
    //    }
    //    else
    //    {
    //        subMenuIDArray = subMenuIDArray.filter(e=>e !== subMenu.value);
    //    }
    //}
</script>


