@using Inventory.Models
@model VoucherSettingModels
@{
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        document.getElementById('menuVoucherSetting').className = 'active';
    </script>
</head>

<div>
    <div class="row setup-title-layout">
        <div class="col-md-6 col-lg-6">
            <label class="page-title">Voucher Setting</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <button id="btnAdd" class="btn btn-primary" style="float:right" onclick="location.href='@Url.Action("VoucherSettingEntry","VoucherSetting")?Id=0'">ADD</button>
        </div>
    </div>
    <div class="row padding-10">
        <div class="col-md-12 col-lg-12">
            <table id="tblVoucherSetting" class="col-md-12 col-lg-12" role="grid">
                <thead>
                    <tr class="row table-header">
                        <th class="col-md-5 col-lg-5">Location</th>
                        <th class="col-md-5 col-lg-5">Header</th>
                        <th class="col-md-2 col-lg-2">Action</th>
                    </tr>
                </thead>

                <tbody>

                    @for (int i = 0; i < Model.LstVoucherSetting.Count(); i++)
                    {
                        <tr class="row table-item">
                            <td class="col-md-5 col-lg-5">@Model.LstVoucherSetting[i].LocationName</td>
                            <td class="col-md-5 col-lg-5">@Model.LstVoucherSetting[i].HeaderName</td>
                            <td class="col-md-2 col-lg-2">
                                <button id="btnView" class="btn btn-sm btn-dark btn-list-action" onclick="action('1')">View</button>
                                <button id="btnEdit" class="btn btn-sm btn-primary btn-list-action" onclick="action('2')">Edit</button>
                                <button id="btnDelete" class="btn btn-sm btn-danger btn-list-action" onclick="action('3')">Delete</button>
                            </td>
                            <td style="display:none">@Model.LstVoucherSetting[i].ID</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg12">
                        <label class="control-label">Are you sure you want to delete?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnDelCancel" class="btn btn-sm btn-dialog-cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button id="btnDelOk" class="btn btn-sm btn-dialog-ok" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Location:</label> <span id="location" style="display:none;">---</span>
                            <label id="lblLocation" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Header Name:</label> <span id="name" style="display:none;">---</span>
                            <label id="lblHeaderName" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Header Description:</label> <span id="desp" style="display:none;">---</span>
                            <label id="lblHeaderDesp" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Header Phone:</label> <span id="phone" style="display:none;">---</span>
                            <label id="lblHeaderPhone" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Header Address:</label> <span id="address" style="display:none;">---</span>
                            <label id="lblHeaderAddress" class="control-input"></label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Other Header (1):</label> <span id="header1" style="display:none;">---</span>
                            <label id="lblOtherHeader1" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Other Header (2):</label> <span id="header2" style="display:none;">---</span>
                            <label id="lblOtherHeader2" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Footer Message (1):</label> <span id="message1" style="display:none;">---</span>
                            <label id="lblFooterMessage1" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Footer Message (2):</label> <span id="message2" style="display:none;">---</span>
                            <label id="lblFooterMessage2" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Footer Message (3):</label> <span id="message3" style="display:none;">---</span>
                            <label id="lblFooterMessage3" class="control-input"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Logo:</label> <span id="photo" style="display:none;">---</span>
                            <img id="image" height="40" width="40" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var actionValue, Id;

    $(function () {

        $("#tblVoucherSetting").on("click", "tbody tr", function (event) {
            selectedRow = $(this).parent('tr');
            $(this).find("td:last").each(function () {
                Id = $(this).text();
                if (actionValue == 1) {   // view
                    showLoadingIcon();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ViewAction", "VoucherSetting")',
                        data: { "Id": Id },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            hideLoadingIcon();
                            if (response.LocationName != 0) {
                                $('#location').hide();
                                $('#lblLocation').text(response.LocationName).show();
                            }
                            else {
                                $('#location').show();
                                $('#lblLocation').text(response.LocationName).hide();
                            }                          
                            if (response.HeaderName != 0) {
                                $('#name').hide();
                                $('#lblHeaderName').text(response.HeaderName).show();
                            }
                            else {
                                $('#name').show();
                                $('#lblHeaderName').text(response.HeaderName).hide();
                            }
                            
                            if (response.HeaderDesp != 0) {
                                $('#desp').hide();
                                $('#lblHeaderDesp').text(response.HeaderDesp).show();
                            }
                            else {
                                $('#desp').show();
                                $('#lblHeaderDesp').text(response.HeaderDesp).hide();
                            }                         
                            if (response.HeaderPhone != 0) {
                                $('#phone').hide();
                                $('#lblHeaderPhone').text(response.HeaderPhone).show();
                            }
                            else {
                                $('#phone').show();
                                $('#lblHeaderPhone').text(response.HeaderPhone).hide();
                            }                          
                            if (response.HeaderAddress != 0) {
                                $('#address').hide();
                                $('#lblHeaderAddress').text(response.HeaderAddress).show();
                            }
                            else {
                                $('#address').show();
                                $('#lblHeaderAddress').text(response.HeaderAddress).hide();
                            }
                            if (response.OtherHeader1 != 0) {
                                $('#header1').hide();
                                $('#lblOtherHeader1').text(response.OtherHeader1).show();
                            }
                            else {
                                $('#header1').show();
                                $('#lblOtherHeader1').text(response.OtherHeader1).hide();
                            }
                            if (response.OtherHeader2 != 0) {
                                $('#header2').hide();                        
                                $('#lblOtherHeader2').text(response.OtherHeader2).show();                               
                            }
                            else {
                                $('#header2').show();                              
                                $('#lblOtherHeader2').text(response.OtherHeader2).hide();                                
                            }
                            if (response.FooterMessage1 != 0) {
                                $('#message1').hide();
                                $('#lblFooterMessage1').text(response.FooterMessage1).show();
                            }
                            else {
                                $('#message1').show();
                                $('#lblFooterMessage1').text(response.FooterMessage1).hide();

                            }
                            if (response.FooterMessage2 != 0) {
                                $('#message2').hide();
                                $('#lblFooterMessage2').text(response.FooterMessage2).show();                              
                            }
                            else {
                                $('#message2').show();
                                $('#lblFooterMessage2').text(response.FooterMessage2).hide();                               
                            }
                            if (response.FooterMessage3 != 0) {
                                $('#message3').hide();
                                $('#lblFooterMessage3').text(response.FooterMessage3).show();
                            }
                            else {
                                $('#message3').show();
                                $('#lblFooterMessage3').text(response.FooterMessage3).hide();
                            }
                            if(response.Base64Photo != 0){
                                $('#photo').hide();
                                $('#image').attr('src', 'data:image/png;base64,' + response.Base64Photo).show();
                            }
                            else {
                                $('#photo').show();
                                $('#image').attr('src', 'data:image/png;base64,' + response.Base64Photo).hide();
                            }
   
                            $('#modalView').modal('show');
                        },
                        failure: function (response) {
                            hideLoadingIcon();
                            alert(response.responseText);
                        },
                        error: function (response) {
                            hideLoadingIcon();
                            alert(response.responseText);
                        }
                    });
                }
                else if (actionValue == 2) {  // edit
                    window.location.href = '@Url.Action("VoucherSettingEntry", "VoucherSetting")?Id=' + Id;
                } else if (actionValue == 3) {  // delete
                    $('#modalConfirm').modal('show');
                }
            });
        });

        $("#btnSearch").click(function(){          
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url:'@Url.Action("SearchAction", "VoucherSetting")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    $("#tblVoucherSetting").find("tbody").empty();                
                    $.each(response, function (i, item) {                     
                            var rows = "<tr class='row table-item'>"                          
                            + "<td class='col-md-5 col-lg-5'>" + item.LocationName + "</td>"
                            + "<td class='col-md-5 col-lg-5'>" + item.HeaderName + "</td>"
                            + "<td class='col-md-2 col-lg-2'><button id='btnView' class='btn btn-sm btn-dark btn-list-action' onclick='action(1)'>View</button><button id='btnEdit' class='btn btn-sm btn-primary btn-list-action' style='margin-left:3px' onclick='action(2)'>Edit</button><button id='btnDelete' class='btn btn-sm btn-danger btn-list-action' style='margin-left:3px' onclick='action(3)'>Delete</button></td>"
                            + "<td style='display:none'>" + item.ID + "</td>"
                            + "</tr>";
                            $('#tblVoucherSetting tbody').append(rows);                       
                    });
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnDelOk").click(function () {
            showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteAction", "VoucherSetting")',
                    data: { "Id": Id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (selectedRow != null) {
                            selectedRow.remove();
                            location.reload();
                            showToast(1, "Deleted Successfully!");                         
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

        $('#btnRefresh').click(function () {
            window.location.reload();
        });

    });

    function action(val) {
        actionValue = val;
    }

</script>


