@using Inventory.Models
@model CLMasterSaleOrderModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <style type="text/css">
        #subMenuSaleGp {
            display: block;
        }
        .cnumber {
            border-width:thin;
        }
    </style>
    <script type="text/javascript">
        document.getElementById('subMenuClientSaleOrder').className = 'active';
    </script>
</head>
<div>
    <div class="row setup-title-layout">
        <div class="col-md-4 col-lg-4">
            <label class="page-title">@Resource.ClientSaleOrder</label>
            <!--<label class="page-title" id="fcount" hidden>All Sale Orders &nbsp;&nbsp;<span class="count-circle" id="count"></span></label>  -->
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="btn-group" style="float:right">
                <input id="tvSearch" type="text" placeholder="Search..." class="width-200 custom-textbox mr-10" />
                <div class="btn-group">
                    <button id="btnSearch" class="btn btn-first setup-btn-search" title="Search"><i class="fa fa-search"></i></button>
                    <button id="btnRefresh" class="btn btn-light" title="Refresh"><i class="fa fa-refresh refresh-icon"></i></button>
                </div>
                <div class="note align-justify-center" style="margin-left:10px; font-size: 15px;font-weight: bold;padding: 5px 10px;" id="lsitcount"><span>@ViewBag.Count</span></div>
                <div class="note align-justify-center" style="margin-left:10px; font-size: 15px;font-weight: bold;padding: 5px 10px;" id="fcount" hidden><span id="count"></span></div>
            </div>
        </div>
    </div>
    <div class="row padding-10">
        <div class="col-md-12 col-lg-12">
            <table id="tblSaleOrder" class="col-md-12 col-lg-12" rold="grid">
                <thead>
                    <tr class="row table-header">
                        <th class="col-md-2 col-lg-2">Order Number</th>
                        <th class="col-md-2 col-lg-2">Client</th>
                        <th class="col-md-2 col-lg-2">Customer</th>
                        <th class="col-md-3 col-lg-3">Date</th>
                        <th class="col-md-2 col-lg-2">Total</th>
                        <th class="col-md-1 col-lg-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Lstmso.Count(); i++)
                    {
                        <tr class="row table-item">
                            <td class="col-md-2 col-lg-2"><span>#</span>@Model.Lstmso[i].OrderNumber</td>
                            <td class="col-md-2 col-lg-2">@Model.Lstmso[i].ClientName</td>
                            <td class="col-md-2 col-lg-2">@Model.Lstmso[i].CustomerName</td>
                            <td class="col-md-3 col-lg-3">@Model.Lstmso[i].OrderDateTime</td>
                            <td class="col-md-2 col-lg-2"><span>@Model.Lstmso[i].DefaultCurrency</span>  @Model.Lstmso[i].Total.ToString("#,##0")</td>
                            <td class="col-md-1 col-lg-1 btn-group">
                                <button id="btnView" class="btn btn-sm btn-dark" title="Order Detail" onclick="action('1')"><i class="fa fa-list"></i></button>
                                <button class="btn btn-sm btn-primary" title="Add to POS" onclick="action('3')"><i class="fa fa-dollar"></i></button>
                            </td>
                            <td style='display:none'>@Model.Lstmso[i].SaleOrderID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-xl" id="modalView" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle"><b>Sale Order Deatail</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="reload">&times;</span>
                </button>
            </div>

            <div class="modal-body">          
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12 col-lg12">
                            <div class="form-group">
                                <div hidden><label id="lbSaleOrderID" class="control-input"></label></div>
                                <h5 class="control-label">Sale Order</h5>
                                <div><b>#<label id="lblOrderNumber" class="control-input"></label></b> </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-lg12">
                            <h5 class="control-label">Order Date</h5>
                            <b><label id="OrderDate" class="control-input"></label></b>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6" style="padding-left:10px;">
                                <div class="card mb-1" style="max-width: 150px;background-color:#F3F3F3">
                                    <div class="card-body">
                                        <h5 class="control-label">Client</h5>
                                        <b><p class="card-text" id="ClientName"></p></b>
                                        <p class="card-text" id="ClientPhone"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left:10px;">
                                <div class="card mb-1" style="max-width: 150px;background-color:#F3F3F3">
                                    <div class="card-body">
                                        <h5 class="control-label">Customer</h5>
                                        <b><p id="CustomerName" class="card-text"></p></b>
                                        <p class="card-text" id="CustomerPhone"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <div class="col-md-12">
                    <button id="btnSave" class="btn btn-first setup-btn-save-edit" disabled="disabled">Save</button>
                </div>
            </div>
            <div id="divAlertSuccess" class="alert alert-success alert-dismissible fade show" style="display:none;">
                <h4 class="alert-heading">Success!</h4><span id="spnAlertMessage"></span>
            </div> 
            <div class="modal-body" style="padding:0">
                <div class="row" style="margin:0">
                    <div class="col-md-12 col-lg-12">
                        <table class="col-md-12 col-lg-12" rold="grid">
                            <thead>
                                <tr class="row table-header">
                                    <th class="col-md-1 col-lg-1"></th>
                                    <th class="col-md-1 col-lg-1">#</th>
                                    <th class="col-md-4 col-lg-4">Product</th>
                                    <th class="col-md-2 col-lg-2">Ordered Qty</th>
                                    <th class="col-md-2 col-lg-2"><label1>Price</label1></th>
                                    <th class="col-md-2 col-lg-2"><label1>Amount</label1></th>
                                </tr>
                            </thead>
                            <tbody id="tbTranSaleOrder" style="display:none"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-lg-12" style="margin-top:5px">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <div class="card mb-1" style="background-color:#F3F3F3">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="padding-left:10px">
                                                <div><h5 class="control-label"><b>Subtotal :</b></h5></div>
                                                <div><h5 class="control-label"><b>Tax (5%) :</b></h5></div>
                                                <div><h5 class="control-label"><b>Charges (5%) :</b></h5></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div><label1 id="Subtotal" class="card-text"></label1></div>
                                            <div><label1 id="Tax" class="card-text"></label1></div>
                                            <div><label1 id="Charges" class="card-text"></label1></div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div style="padding-left:10px">
                                                <div><h5 class="control-label"><b>Total :</b></h5></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div style="padding-left:23px"><b><label1><span id="DefaultCurrency" class="card-text"></span> &nbsp; <span id="Total" class="card-text"></span></label1></b></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12 col-lg-12">
                        <div id="remark" class="light-background padding-5" style="text-align:center; display:none">
                            <label id="lblRemark" class="control-label mb-0"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    let actionValue, transaleId, saleorderId, quantity,oldQty, subtotal, taxAmt, chargesAmt, total, saleOrderID;

    $(function () {

        $('#btnSave').click(function () {
            saleOrderID = $('#lbSaleOrderID').text();
            subtotal = $('#Subtotal').text();
            taxAmt = $('#Tax').text();
            chargesAmt = $('#Charges').text();
            total = $('#Total').text();
            showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SaveAction", "CLSaleOrder")',
                    data: { "saleOrderID": saleOrderID},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        showAlertInDialog(1, "Save successfully!");
                        $('#btnSave').attr('disabled', 'disabled');
                        $("#tblSaleOrder").find("tbody").empty();
                        $.each(response, function (i, item) {
                                var rows = "<tr class='row table-item'>"
                                + "<td class='col-md-2 col-lg-2'>" + "<span>#</span>" + item.OrderNumber + "</td>"
                                + "<td class='col-md-2 col-lg-2'>" + item.ClientName + "</td>"
                                + "<td class='col-md-2 col-lg-2'>" + item.CustomerName + "</td>"
                                + "<td class='col-md-3 col-lg-3'>" + item.OrderDateTime + "</td>"
                                + "<td class='col-md-2 col-lg-2'>" + "<span>" + item.DefaultCurrency + "&nbsp;" + "</span>" + item.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</td>"
                                + "<td class='col-md-1 col-lg-1 btn-group'><button id='btnView' class='btn btn-sm btn-dark' title='Order Detail' onclick='action(1)'><i class='fa fa-list'></i></button> <button id='' class='btn btn-sm btn-primary' title='Add to POS' onclick='action(3)'><i class='fa fa-dollar'></i></button></td>"
                                + "<td style='display:none'>" + item.SaleOrderID + "</td>"
                                + "</tr>";
                                $('#tblSaleOrder tbody').append(rows);
                               

                        });
                        $('#modalView').modal('show');
         
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });

        });

        $('#tbTranSaleOrder').on("change", function () {
            $('#btnSave').removeAttr("disabled");          
        });

        $("#tbTranSaleOrder").on("focus", "tr", function (event) {
            selectedRow = $(this).parent('tr');
            $(this).find("td:last").each(function () {
                transaleId = $(this).text();
                oldQty = $('#qty' + transaleId).val();
            });
        });
        $("#tbTranSaleOrder").on("change", "tr", function (event) {
            selectedRow = $(this).parent('tr');
            $(this).find("td:last").each(function () {
                transaleId = $(this).text();
                quantity = $('#qty' + transaleId).val();
                if (quantity == 0 || quantity == null)
                {
                    quantity = oldQty;
                    //$('#qty' + transaleId).val(oldQty);
                    //return;
                }
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("QuantityAction", "CLSaleOrder")',
                    data: { "transaleId": transaleId, "quantity": quantity },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        let rows = "";
                        for (var i = 0; i < response.TranSaleOrderList.length; i++) {
                            rows += "<tr class='row table-item'>"
                           + "<td class='col-md-1 col-lg-1'>"
                           + "<button id='btnDelete' title='Delete' class='btn btn-sm button4 btn-list-action' onclick='action(4)'><i class='fa fa-remove' aria-hidden='true'></i></button>"
                           + "</td>"
                           + "<td class='col-md-1 col-lg-1'>" + (i + 1) + "</td>"
                           + "<td class='col-md-4 col-lg-4'>" + response.TranSaleOrderList[i].ProductName + "</td>"
                           + "<td class='col-md-2 col-lg-2'>" + "<input type='text'  maxlength='5' size='4' class='cnumber' id='qty" + response.TranSaleOrderList[i].ID + "' min='1' max='1000' value='" + response.TranSaleOrderList[i].Quantity + "' />" + "</td>"
                           + "<td class='col-md-2 col-lg-2'>" + "<label1  id='SalePrice'>" + response.TranSaleOrderList[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
                           + "<td class='col-md-2 col-lg-2'>" + "<label1  name='totalValue' id='totalValue'>" + response.TranSaleOrderList[i].Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
                           + "<td style='display:none'>" + response.TranSaleOrderList[i].ID + "</td>"
                           + "</tr>";
                            $('#Subtotal').text(response.Subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#Tax').text(response.TaxAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#Charges').text(response.ChargesAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#DefaultCurrency').text(response.TranSaleOrderList[i].DefaultCurrency);
                            $('#Total').text(response.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#tbTranSaleOrder').html(rows);

                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        $("#tbTranSaleOrder").on("click", "tr", function (event) {
            selectedRow = $(this).parent('tr');
            $(this).find("td:last").each(function () {
                transaleId = $(this).text();
                if (actionValue == 4) {  // delete
                    actionValue = 0;
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("DeleteAction", "CLSaleOrder")',
                                data: { "transaleId": transaleId },
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    hideLoadingIcon();
                                    deleteTranAndUpdateMSale();
                                    if (response.Status == 1) {
                                        $('#Subtotal').text(response.Subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Tax').text(response.TaxAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Charges').text(response.ChargesAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Total').text(response.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        deletetransaleorder(response);
                                        $('#modalView').modal('show');
                                    } else if (response.Status == 0) {
                                        $("#tbTranSaleOrder").hide();
                                        $('#Subtotal').text(response.Subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Tax').text(response.TaxAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Charges').text(response.ChargesAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#Total').text(response.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                        $('#modalView').modal('show');

                                    }

                                },
                                failure: function (response) {
                                    hideLoadingIcon();
                                    alert(response.responseText);
                                },
                                error: function (response) {
                                    hideLoadingIcon();
                                    alert(response.responseText);
                                }
                            });
                        }
                    })
                }
            });
        });

        $('#tblSaleOrder').on("click", "tr", function (event) {
            selectedRow = $(this).parent('tr');
            $(this).find("td:last").each(function () {
                saleorderId = $(this).text();
                console.log(saleorderId);
                if (actionValue == 1) {   // view
                    actionValue = 0;
                    showLoadingIcon();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SaleOrderDetail", "CLSaleOrder")',
                        data: { "saleorderId": saleorderId },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            hideLoadingIcon();
                            $('#btnSave').attr('disabled', 'disabled');
                            $('#lbSaleOrderID').text(response.SaleOrderID);
                            $('#lblOrderNumber').text(response.OrderNumber);
                            $('#OrderDate').text(response.OrderDateTime);
                            $('#ClientName').text(response.ClientName);
                            $('#ClientPhone').text(response.ClientPhone);
                            if (response.CustomerName != "" ) {
                                $('#CustomerName').text(response.CustomerName);
                            }
                            else {
                                $('#CustomerName').text('-');
                            }
                            
                            $('#CustomerPhone').text(response.CustomerPhone);
                            if (response.Remark.length == 0) $('#remark').hide();                           
                            else {
                                $('#remark').show();
                                $('#lblRemark').text(response.Remark);
                            }
                            $('#Subtotal').text(response.Subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#Tax').text(response.TaxAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#Charges').text(response.ChargesAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('#Total').text(response.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            transaleorder(response);
                            $('#modalView').modal('show');
                        },
                        failure: function (response) {
                            hideLoadingIcon();
                            alert(response.responseText);
                        },
                        error: function (response) {
                            hideLoadingIcon();
                            alert(response.responseText);
                        }
                    });
                }
                else if (actionValue == 3)
                {
                    window.location.href = '@Url.Action("POS", "Sale")?userId=' + userId + '&clSaleOrderId=' + saleorderId;
                }
            });
        });

        $('#btnSearch').click(function () {
            var keyword = $('#tvSearch').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchCLMasterSaleOrder", "CLSaleOrder")',
                data: { "keyword": keyword },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    $("#tblSaleOrder").find("tbody").empty();
                    $.each(response, function (i, item) {
                            var rows = "<tr class='row table-item'>"
                            + "<td class='col-md-2 col-lg-2'>" + "<span>#</span>" + item.OrderNumber + "</td>"
                            + "<td class='col-md-2 col-lg-2'>" + item.ClientName + "</td>"
                            + "<td class='col-md-2 col-lg-2'>" + item.CustomerName + "</td>"
                            + "<td class='col-md-3 col-lg-3'>" + item.OrderDateTime + "</td>"
                            + "<td class='col-md-2 col-lg-2'>" + "<span>" + item.DefaultCurrency + "&nbsp;" + "</span>" + item.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</td>"
                            + "<td class='col-md-1 col-lg-1 btn-group'><button id='btnView' class='btn btn-sm btn-dark' title='Order Detail' onclick='action(1)'><i class='fa fa-list'></i></button> <button id='' class='btn btn-sm btn-primary' title='Add to POS' onclick='action(3)'><i class='fa fa-dollar'></i></button></td>"
                            + "<td style='display:none'>" + item.SaleOrderID + "</td>"
                            + "</tr>";
                            $('#tblSaleOrder tbody').append(rows);
                            $('#count').text(item.Counts);
                            $("#fcount").removeAttr("hidden");
                            $('#lsitcount').hide();
                            
                    });
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText)
                }

            });
        });

        $('#btnRefresh').click(function () {
            window.location.reload();
        });

        $(document).on('change', '.cnumber', function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/^[0-9]*$/)) {
                return false;
            }
        });

        function transaleorder(response) {
            if (response.TranSaleOrderList.length != 0) {
                let rows = "";   
                for (var i = 0; i < response.TranSaleOrderList.length; i++) {
                    rows += "<tr class='row table-item'>"
                   + "<td class='col-md-1 col-lg-1'>"
                   + "<button id='btnDelete' title='Delete' class='btn btn-sm button4 btn-list-action' onclick='action(4)'><i class='fa fa-remove' aria-hidden='true'></i></button>"
                   + "</td>"
                   + "<td class='col-md-1 col-lg-1'>" + (i + 1) + "</td>"
                   + "<td class='col-md-4 col-lg-4'>" + response.TranSaleOrderList[i].ProductName + "</td>"
                   + "<td class='col-md-2 col-lg-2'>" + "<input type='text' maxlength='5' size='4' class='cnumber' id='qty" + response.TranSaleOrderList[i].ID + "' value='" + response.TranSaleOrderList[i].Quantity + "' />" + "</td>"
                   + "<td class='col-md-2 col-lg-2'>" + "<label1  id='SalePrice'>" + response.TranSaleOrderList[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
                   + "<td class='col-md-2 col-lg-2'>" + "<label1  name='totalValue' id='totalValue'>" + response.TranSaleOrderList[i].Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
                   + "<td style='display:none'>" + response.TranSaleOrderList[i].ID + "</td>"
                   + "</tr>";

                    $('#tbTranSaleOrder').html(rows);
                    $('#tbTranSaleOrder').show();
                    $('#DefaultCurrency').text(response.TranSaleOrderList[i].DefaultCurrency);
                }
            }
            else {
                $('#tbTranSaleOrder').hide();
            }
        }

    });

    //$('#reload').click(function () {
    //    window.location.reload();
    //});

    function action(val) {
        actionValue = val;
    }

    function deleteTranAndUpdateMSale() {
        saleOrderID = $('#lbSaleOrderID').text();
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteActionCont", "CLSaleOrder")',
            data: { "saleOrderID": saleOrderID, "transaleId": transaleId },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                hideLoadingIcon();
                $("#tblSaleOrder").find("tbody").empty();
                $.each(response, function (i, item) {
                    var rows = "<tr class='row table-item'>"
                    + "<td class='col-md-2 col-lg-2'>" + "<span>#</span>" + item.OrderNumber + "</td>"
                    + "<td class='col-md-2 col-lg-2'>" + item.ClientName + "</td>"
                    + "<td class='col-md-2 col-lg-2'>" + item.CustomerName + "</td>"
                    + "<td class='col-md-3 col-lg-3'>" + item.OrderDateTime + "</td>"
                    + "<td class='col-md-2 col-lg-2'>" + "<span>" + item.DefaultCurrency + "&nbsp;" + "</span>" + item.Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</td>"
                    + "<td class='col-md-1 col-lg-1 btn-group'><button id='btnView' class='btn btn-sm btn-dark' title='Order Detail' onclick='action(1)'><i class='fa fa-list'></i></button> <button id='' class='btn btn-sm btn-primary' title='Add to POS' onclick='action(3)'><i class='fa fa-dollar'></i></button></td>"
                    + "<td style='display:none'>" + item.SaleOrderID + "</td>"
                    + "</tr>";
                    $('#tblSaleOrder tbody').append(rows);

                });
                $('#modalView').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }





    function deletetransaleorder(response) {
        let rows = "";
        for (var i = 0; i < response.TranSaleOrderList.length; i++) {
            rows += "<tr class='row table-item'>"
           + "<td class='col-md-1 col-lg-1'>"
           + "<button id='btnDelete' title='Delete' class='btn btn-sm button4 btn-list-action' onclick='action(4)'><i class='fa fa-remove' aria-hidden='true'></i></button>"
           + "</td>"
           + "<td class='col-md-1 col-lg-1'>" + (i + 1) + "</td>"
           + "<td class='col-md-4 col-lg-4'>" + response.TranSaleOrderList[i].ProductName + "</td>"
           + "<td class='col-md-2 col-lg-2'>" + "<input type='number' maxlength='5' size='4' class='cnumber' id='qty" + response.TranSaleOrderList[i].ID + "' min='1' max='1000' value='" + response.TranSaleOrderList[i].Quantity + "' />" + "</td>"
           + "<td class='col-md-2 col-lg-2'>" + "<label1  id='SalePrice'>" + response.TranSaleOrderList[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
           + "<td class='col-md-2 col-lg-2'>" + "<label1  name='totalValue' id='totalValue'>" + response.TranSaleOrderList[i].Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</label1></td>"
           + "<td style='display:none'>" + response.TranSaleOrderList[i].ID + "</td>"
           + "</tr>";
            $('#tbTranSaleOrder').html(rows);
            $('#DefaultCurrency').text(response.TranSaleOrderList[i].DefaultCurrency);
        }
    }
 
</script>



