@using Inventory.ViewModels;
@model RpPurchaseAmountOnlyViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let filter;
        $(document).ready(function () {
            let title = '@Resource.PurchaseAmountOnlyReport';
            let fromDate = '@Model.FromDate.ToShortDateString()';
            let toDate = '@Model.ToDate.ToShortDateString()';
            filter = "";
            setReportTitle(title);
            setDefaultFilter(fromDate, toDate, filter);
        });
        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            document.write(result);
        }
    </script>
</head>
<div>
    <div class="row table-header">
        <div class="col-md-2 col-lg-2">@Resource.Date</div>
        <div class="col-md-1 col-lg-1">@Resource.VoucherNo</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Cash</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Credit</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Tax </div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Charges</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouDis</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Bank (%)</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.AdvancedPay</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouFOC</div>
        <div class="col-md-1 col-lg-1 aligh-right">@Resource.Grandtotal</div>
    </div>


    @foreach (var paymethod in Model.lstPayMethod as List<RpPurchaseAmountOnlyViewModel.PayMethod>)
    {
        if (paymethod.PayMethodID == 1)
        {
            <div class="rpt-main-group">
                <label class="mb-0">@paymethod.PayMethodName</label>
            </div>

            <div class="">
                <table class="col-md-12 col-lg-12">
                    @foreach (var data in Model.lstMasterPurchase.Where(p => p.PayMethodID == 1).ToList())
                    {
                        if (data.PayMethodID == 1)
                        {
                            <tr class="row rpt-item">
                                <td class="col-md-2 col-lg-2">@data.PurchaseDateTime</td>
                                <td class="col-md-1 col-lg-1">@data.UserVoucherNo</td>
                            @if (data.PaymentID == 1)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right"><script>separatedComma(@data.Subtotal)</script></td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }

                            @if (data.PaymentID == 2)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right"><script>separatedComma(@data.Subtotal)</script></td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }
                                <td class="col-md-1 col-lg-1 aligh-right"><script>separatedComma(@data.TaxAmt)</script></td>
                                <td class="col-md-1 col-lg-1 aligh-right"><script>separatedComma(@data.ChargesAmt)</script></td>
                                <td class="col-md-1 col-lg-1 aligh-right"><script>separatedComma(@data.VouDisAmount)</script></td>
                            @if (data.PayMethodID == 1)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@data.PayPercentAmt)</script>
                                </td>
                            }
                            @if (data.PaymentID == 1)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@data.AdvancedPay)</script>
                                </td>
                            }
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@data.VoucherFOC)</script>
                                </td>
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@data.Grandtotal)</script>
                                </td>
                            </tr>
                        }
                    }

                    <tr class="row rpt-sub-total">
                        <td class="col-md-2 col-lg-2"></td>
                        <td class="col-md-1 col-lg-1">Total</td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 1 && m.PayMethodID == 1).Sum(m => m.Subtotal));</script>
                        </td>
                        @{
                            var countCredit = Model.lstMasterPurchase.Where(m => m.PaymentID == 2 && m.PayMethodID == 1).Sum(m => m.Subtotal);
                            if (countCredit > 1)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 2 && m.PayMethodID == 1).Sum(m => m.Subtotal));</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right"><span>-</span></td>
                            }
                        }

                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.TaxAmt));</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.ChargesAmt))</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.VouDisAmount))</script>
                        </td>

                        @{
                            var payPercent = Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(p => p.PayPercentAmt);

                            if (payPercent != 0)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.PayPercentAmt))</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }

                            var advancedPay = Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(p => p.AdvancedPay);
                            if (advancedPay > 0)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.AdvancedPay))</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">-</td>
                            }
                        }



                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.VoucherFOC))</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 1).Sum(m => m.Grandtotal))</script>
                        </td>
                    </tr>
                </table>

            </div>
}
       <div>
               @if (paymethod.PayMethodID == 2)
               {
                   <div class="rpt-main-group">
                       <label class="mb-0">@paymethod.PayMethodName</label>
                   </div>
                   foreach (var item in Model.lstBankPayment.Where(b => b.BankPaymentID != 0).ToList())
                   {
                       if (Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Count() != 0)
                       {
                        <div class="rpt-sub-group">
                            <label>@item.BankPaymentName</label>
                        </div>

                        <div>
                            <table class="col-md-12 col-lg-12">
                                @foreach (var data in Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).ToList())
                            {
                                if (data.PayMethodID == 2)
                                {
                                    if (data.BankPaymentID == item.BankPaymentID)
                                    {
                                            <tr class="row rpt-item">
                                                <td class="col-md-2 col-lg-2">@data.PurchaseDateTime</td>
                                                <td class="col-md-1 col-lg-1">@data.UserVoucherNo</td>
                                                @if (data.PaymentID == 1)
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">
                                                        <script>separatedComma(@data.Subtotal)</script>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">-</td>
                                                }
                                                @if (data.PaymentID == 2)
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">
                                                        <script>separatedComma(@data.Subtotal)</script>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">-</td>
                                                }

                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.TaxAmt)</script>
                                                </td>
                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.ChargesAmt)</script>
                                                </td>
                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.VouDisAmount)</script>
                                                </td>
                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.PayPercentAmt)</script>
                                                </td>
                                                @if (data.PaymentID == 1)
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">-</td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-1 col-lg-1 aligh-right">
                                                        <script>separatedComma(@data.AdvancedPay)</script>
                                                    </td>
                                                }
                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.VoucherFOC)</script>
                                                </td>
                                                <td class="col-md-1 col-lg-1 aligh-right">
                                                    <script>separatedComma(@data.Grandtotal)</script>
                                                </td>
                                            </tr>
                                        }

                                    }
                                }

                                <tr class="row rpt-sub-total">
                                    <td class="col-md-2 col-lg-2"></td>
                                    <td class="col-md-1 col-lg-1">Total</td>
                                    @{
                                        var countCash = Model.lstMasterPurchase.Where(m => m.PaymentID == 1 && m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.Subtotal);
                                        if (countCash > 0)
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right">
                                                <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 1 && m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.Subtotal));</script>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right"><span>-</span></td>
                                        }
                                        var countCredit = Model.lstMasterPurchase.Where(m => m.PaymentID == 2 && m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.Subtotal);
                                        if (countCredit > 0)
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right">
                                                <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 2 && m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.Subtotal));</script>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right"><span>-</span></td>
                                        }
                                    }

                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.TaxAmt));</script>
                                    </td>
                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.ChargesAmt))</script>
                                    </td>
                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.VouDisAmount))</script>
                                    </td>
                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.PayPercentAmt))</script>
                                    </td>
                                    @{
                                        var advancedPay = Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.AdvancedPay);
                                        if (advancedPay != 0)
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right">
                                                <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.AdvancedPay))</script>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="col-md-1 col-lg-1 aligh-right">-</td>
                                        }
                                    }


                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.VoucherFOC))</script>
                                    </td>
                                    <td class="col-md-1 col-lg-1 aligh-right">
                                        <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PayMethodID == 2 && m.BankPaymentID == item.BankPaymentID).Sum(m => m.Grandtotal))</script>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        }

                    }
                }
       </div>
    }

    @{
        var count = Model.lstMasterPurchase.Count();
        if (count != 0)
        {
            <div>
                <table class="col-md-12 col-lg-12">
                    <tr class="row rpt-total">
                        <td class="col-md-2 col-lg-2"></td>
                        <td class="col-md-1 col-lg-1">Total</td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 1).Sum(m => m.Subtotal));</script>
                        </td>
                        @{
                            var countTotalCredit = Model.lstMasterPurchase.Where(m => m.PaymentID == 2).Sum(m => m.Subtotal);
                            if (countTotalCredit > 1)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Where(m => m.PaymentID == 2).Sum(m => m.Subtotal));</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right"><span>-</span></td>
                            }
                        }

                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Sum(m => m.TaxAmt));</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Sum(m => m.ChargesAmt))</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Sum(m =>m.VouDisAmount))</script>
                        </td>
                        @{
                            var bankperecentCount = Model.lstMasterPurchase.Sum(m => m.PayPercentAmt);
                            if (bankperecentCount > 0)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Sum(m =>m.PayPercentAmt))</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <span>-</span>
                                </td>
                            }

                            var advancedPayCount = Model.lstMasterPurchase.Sum(m => m.AdvancedPay);
                            if (advancedPayCount > 0)
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <script>separatedComma(@Model.lstMasterPurchase.Sum(m =>m.AdvancedPay))</script>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-1 col-lg-1 aligh-right">
                                    <span>-</span>
                                </td>
                            }
                        }


                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Sum(m =>m.VoucherFOC))</script>
                        </td>
                        <td class="col-md-1 col-lg-1 aligh-right">
                            <script>separatedComma(@Model.lstMasterPurchase.Sum(m =>m.Grandtotal))</script>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row rpt-main-group">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Cash</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Credit</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Tax</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Charges</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouDis</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Bank (%)</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.AdvancedPay</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.VouFOC</div>
                <div class="col-md-1 col-lg-1 aligh-right">@Resource.Grandtotal</div>
            </div>
        }
    }

</div>





