@using Inventory.ViewModels;
@model AdjustmentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <style type="text/css">
        #subMenuAdjustmentGp {
            display: block;
        }
    </style>
</head>

<script type="text/javascript">
    document.getElementById('subMenuAdjustment').className = 'active';
</script>
<div class="row m-t-5 m-b-5 m-l-5">
    <div class="col-md-3 col-lg-3 note align-justify-center">
        <label id="lblUserVoucherNo" class="control-label mb-0"></label>
    </div>
    <div class="col-md-3 col-lg-3">
        <input id="inputDate" type="date" class="form-control control-input" />
    </div>
    <div class="col-md-3 col-lg-3">
        <input id="inputVoucherID" type="text" class="form-control control-input" placeholder="@Resource.VoucherID" />
    </div>
    <div class="col-md-3 col-lg-3">
        @Html.DropDownList("Location", Model.Locations, new { @id = "ddlLocation", @class = "form-control control-input" })
    </div>
</div>
<div class="row">
    <div id="divAdjustment" class="col-md-6 col-lg-6">
        <div class="input-icons">
            <i class="fa fa-search icon"></i>
            <input id="inputSearch" type="text" class="form-control control-input input-field" placeholder="@Resource.SearchProduct" />
        </div>
        <div class="m-t-5 padding-5 search-div">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <input id="inputNumber" type="hidden" />
                    <input id="inputProductID" type="hidden" />
                    <input id="inputCode" type="text" class="form-control control-input" placeholder="@Resource.Code" />
                </div>
                <div class="col-md-8 col-lg-8">
                    <input id="inputProductName" type="text" class="form-control control-input" placeholder="@Resource.ProductName" disabled />
                </div>
                
            </div>
            <div class="row m-t-5 align-center">
                <div class="col-md-2 col-lg-2">
                    <input id="inputQuantity" type="text" class="form-control control-input numberonly" placeholder="@Resource.Qty" />
                </div>
                <div id="divUnit" class="col-md-4 col-lg-4">
                    @Html.DropDownList("Unit", Model.Units, new { @id = "ddlUnit", @class = "form-control control-input" })
                </div>
               
                <div id="divAdjustType" class="col-md-4 col-lg-4">
                    @Html.DropDownList("AdjustmentType", Model.AdjustmentsType, new { @id = "ddlAdjustType", @class = "form-control control-input" })
                </div>              
                <div class="col-md-2 col-lg-2">
                    <button id="btnAdd" class="btn btn-second">@Resource.Add</button>
                    <button id="btnEdit" class="btn btn-third">@Resource.Edit</button>
                </div>
            </div>
        </div>
        <div id="divAdjustmentChild">
            <div id="divAdjustmentTran" class="tran-table">
                <table id="tblTranAdjustment" class="width-100-percent">
                    <thead>
                        <tr class="row tran-table-header-row">
                            <td class="col-md-4 col-lg-4 text-overflow"><span>@Resource.Product</span></td>
                            <td class="col-md-3 col-lg-3 text-overflow"><span>@Resource.Qty</span></td>                          
                            <td class="col-md-4 col-lg-4 text-overflow"><span>Adjust Type</span></td>
                            <td class="col-md-1 col-lg-1"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div style="bottom:0px;position:absolute;width:100%;">
                
                <div class="row soft-gray-background pt-1">
                    <div class="col-md-6 col-lg-6">
                        <button id="btnCancel" class="btn btn-third">@Resource.Reset</button>
                        <button id="btnEditCancel" class="btn btn-third m-t-0">@Resource.Cancel</button>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 aligh-right">
                        <button id="btnContinue" class="btn btn-first plr-30">@Resource.Continue</button>
                        <button id="btnEditContinue" class="btn btn-first plr-30 m-t-0">@Resource.Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        @{
            Html.RenderPartial("_ProductMenu", Model);
        }
    </div>

</div>
<div>
    @{
        Html.RenderPartial("_SearchProductDialog");
    }
</div>
<div>
    @{
        Html.RenderPartial("_RemarkDialog");
    }
</div>



<script type="text/javascript">

    let tranAdjustmentAction, defaultLocationId, defaultAdjustTypeId;
    $('body').addClass("hideVerticalScrollbar");
    calcMenuHeight(155);
    calcAdjustmentHeight();

    function calcAdjustmentHeight() {
        let windowHeight = window.innerHeight;
        let thingsHeight = 100; // average other component height
        let extraHeight = 11;
        let adjustmentAreaHeight = windowHeight - (thingsHeight + extraHeight);
        let adjustmentChildHeight = adjustmentAreaHeight - 100;  // 100 is top component
        let adjustmentTranHeight = adjustmentChildHeight - 35 - 40;  // 135 is bottom component and 40 is extra
        document.getElementById('divAdjustment').setAttribute("style", "height:" + adjustmentAreaHeight + "px");
        document.getElementById('divAdjustmentChild').setAttribute("style", "height:" + adjustmentChildHeight + "px");
        document.getElementById('divAdjustmentTran').setAttribute("style", "height:" + adjustmentTranHeight + "px");
    }
    $(document).ready(function () {
        setModuleTitle('@Resource.Adjustment', '@Resource.AddAdjustment');
        if ('@ViewBag.IsEdit' == 'True') fillEditData();
        else
        initializeControl();
        function initializeControl() {
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val(getTodayDate());
            showHideUnit();
            createDefaultAdjustType();
            showHideTranAdjustmentAddEdit(false);
            showHideMainButton(false);
            defaultLocationId = $('#ddlLocation option:selected').val();
        }
        function createDefaultUnit() {
            let unit;
            $("#ddlUnit").html("");
            unit = '<option value="0">Unit</option>';
            $("#ddlUnit").append(unit);
        }
        function createDefaultAdjustType() {
            let adjustType;
            $("#ddlAdjustType").html("");
            adjustType = '<option value="0">Adjust Type</option>';
            $("#ddlAdjustType").append(adjustType);
        }
        function showHideUnit() {
            if (isMultiUnit == "True") {
                createDefaultUnit();
                $("#divUnit").show();
            } else $('#divUnit').css("display", "none");
        }

        function clearProductControl() {
            $("#inputNumber").val("");
            $("#inputProductID").val("");
            $("#inputCode").val("");
            $("#inputProductName").val("");
            $("#inputQuantity").val("");
            showHideUnit();
            showHideTranAdjustmentAddEdit(false);
            createDefaultAdjustType();
        }
        function validateProductControl() {
            if ($("#inputProductID").val().length == 0 || $("#inputProductID").val() == 0) return false;
            else if ($("#inputQuantity").val().length == 0 || $("#inputQuantity").val() == 0) {
                $("#inputQuantity").focus();
                return false;
            }
            return true;
        }
        $("#btnAdd").click(function (e) {
            addOrEditTranAdjustment(false);
        });
        $("#btnEdit").click(function (e) {
            addOrEditTranAdjustment(true);
        });
        function addOrEditTranAdjustment(isEdit) {
            if (validateProductControl()) {
                let unitId, unitKeyword, adjustTypeId, adjustTypeKeyword;
                let number = $("#inputNumber").val();
                let productId = $("#inputProductID").val();
                let productCode = $("#inputCode").val();
                let productName = $("#inputProductName").val();
                let quantity = $("#inputQuantity").val();
                if (isMultiUnit == "True") {
                    unitId = $('#divUnit option:selected').val();
                    unitKeyword = $('#divUnit option:selected').text();
                }
                adjustTypeId = $('#divAdjustType option:selected').val();
                adjustTypeKeyword = $('#divAdjustType option:selected').text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("TranAdjustmentAddEditAction", "Adjustment")',
                    data: { "productId": productId, "productCode": productCode, "productName": productName, "quantity": quantity, "unitId": unitId, "unitKeyword": unitKeyword, "adjustTypeId": adjustTypeId, "adjustTypeKeyword": adjustTypeKeyword, "isEdit": isEdit, "number": number },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            createTranAdjustmentData(response.LstTranAdjustment);
                            clearProductControl();
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        }

        function createTranAdjustmentData(lstTranAdjustment) {
            let num = 0;
            $("#tblTranAdjustment").find("tbody").empty();
            $.each(lstTranAdjustment, function (i, item) {
                num += 1;
                if (item.UnitKeyword == null) item.UnitKeyword = '';
                let row = '<tr class="row tran-table-item-row">'
                       + '<td style="display:none;">' + item.ProductID + '</td>'
                       + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0 text-link text-overflow">' + item.ProductName + '</label></td>'
                       + '<td class="col-md-3 col-lg-3"><label class="control-label mb-0">' + item.Quantity + '<span class="control-span-sm">&nbsp;' + item.UnitKeyword + '</span></label></td>'
                       + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0">' + item.AdjustTypeKeyword + '</label></td>'
                       + '<td class="col-md-1 col-lg-1 value-right"><button class="btn-icon gray" title="Delete" onclick="tranAdjustmentTableAction(3)"><i class="fa fa-remove"></i></button></td>'
                       + '<td style="display:none;">' + num + '</td>'
                       + '</tr>';
                $('#tblTranAdjustment tbody').append(row);
            })
        }
        function deleteTranAdjustment(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranAdjustmentDeleteAction", "Adjustment")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranAdjustmentData(response.LstTranAdjustment);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        $("#tblTranAdjustment").on("click", "tbody tr", function (event) {
            $('#tblTranAdjustment tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                let number = $(this).text();
                if (tranAdjustmentAction == 3) {
                    tranAdjustmentAction = 0;
                    deleteTranAdjustment(number);
                } else {
                    prepareToEditTranAdjustment(number);
                }
            })
        });
        function prepareToEditTranAdjustment(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PrepareToEditTranAdjustmentAction", "Adjustment")',
                data: { "number": number, "isMultiUnit": isMultiUnit },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        $("#inputNumber").val(number);
                        $("#inputProductID").val(response.ProductID);
                        $("#inputCode").val(response.ProductCode);
                        $("#inputProductName").val(response.ProductName);
                        $("#inputQuantity").val(response.Quantity);
                        createUnitData(response);
                        createAdjustmentData(response);
                        $("#ddlUnit").val(response.UnitID);
                        $("#ddlAdjustType").val(response.AdjustTypeID);
                        showHideTranAdjustmentAddEdit(true);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }

        $("#btnCancel").click(function (e) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CancelAction", "Adjustment")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    clearProductControl();
                    $("#tblTranAdjustment").find("tbody").empty();
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });


        $('#inputCode').keydown(function (event) {
            if (event.which === 13) {
                let productCode = $("#inputCode").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProductByCodeAction", "Adjustment")',
                    data: { "productCode": productCode, "isMultiUnit": isMultiUnit },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsExistProduct)
                            showToast(0, 'Not found product with this code!');
                        else {
                            $("#inputProductID").val(response.ProductID);
                            $("#inputProductName").val(response.ProductName);
                            $("#inputQuantity").val('1');
                            createAdjustmentData(response);
                            createUnitData(response);
                            showHideTranAdjustmentAddEdit(false);
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });
        $('#inputSearch').keydown(function (event) {
            if (event.which === 13) {
                let keyword = $("#inputSearch").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProductByKeywordAction", "Adjustment")',
                    data: { "keyword": keyword },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (response.length == 0)
                            showToast(0, 'Not found product!');
                        else {
                            createSearchProductData(response);
                            $('#modalSearchProduct').modal('show');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });
        $(document).on('click', '.btnProduct', function (e) {
            let productId = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProductClickAction", "ProductMenu")',
                data: { "productId": productId, "isMultiUnit": isMultiUnit, "isMultiCurrency": isMultiCurrency },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else fillSelectedProductData(response, productId);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        function createSearchProductData(response) {
            $("#tblSearchProduct").find("tbody").empty();
            $.each(response, function (i, item) {
                var rows = "<tr class='row table-item' style='cursor:pointer;'>"
                    + "<td style='display:none;'>" + item.ProductID + "</td>"
                    + '<td class="col-md-8 col-lg-8"><label class="control-label mb-0 text-overflow">' + item.ProductName + '</label></td>'
                    + '<td class="col-md-4 col-lg-4 value-right"><label class="control-label mb-0">' + item.Code + '</label></td>'
                    + "</tr>";
                $('#tblSearchProduct tbody').append(rows);
            });
        }
        $("#tblSearchProduct").on("click", "tbody tr", function (event) {
            $(this).find("td:first").each(function () {
                let productId = $(this).text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchProductClickAction", "Adjustment")',
                    data: { "productId": productId, "isMultiUnit": isMultiUnit },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            fillSelectedProductData(response, productId);
                            $('#modalSearchProduct').modal('hide');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            })
        });

        function fillEditData() {
            $('#btnEditContinue').val('@ViewBag.AdjustmentID');
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val('@ViewBag.Date');
            $('#inputVoucherID').val('@ViewBag.VoucherID');
            $("#ddlLocation").val('@ViewBag.LocationID');
            $("#txtRemarkNote").val('@ViewBag.Remark');
            showHideUnit();
            createDefaultAdjustType();
            showHideTranAdjustmentAddEdit(false);
            showHideMainButton(true, false, false);
            let tranAdjustmentList = JSON.parse('@Html.Raw(Json.Encode(Session["TranAdjustmentData"]))');
            createTranAdjustmentData(tranAdjustmentList);
        }

        $("#btnContinue").click(function (e) {
            let row = $("#tblTranAdjustment tbody tr").length;
            if (row < 1) return;
            $("#modalRemarkTitle").text("Add Remark");
            $("#lblRemark").text("Enter a Note");
            $('#modalRemark').modal('show');
        });
        $("#btnRemarkOk").click(function (e) {
            let No = $('#lblUserVoucherNo').text();
            let userVoucherNo = $('#lblUserVoucherNo').text();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let locationId = $('#ddlLocation option:selected').val();
            let remark = $('#txtRemarkNote').val();
            let userId = localStorage.getItem("UserID");
            showLoadingIcon();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AdjustmentSubmitAction", "Adjustment")',
                data: JSON.stringify({
                    "userVoucherNo": userVoucherNo, "date": date, "voucherId": voucherId, "locationId": locationId,
                    "remark": remark, "userId": userId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    showToast(1, 'Adjustment Successful!');
                    $('#modalRemark').modal('hide');
                    clearProductControl();
                    $("#tblTranAdjustment").find("tbody").empty();
                    $("#lblUserVoucherNo").text(response.UserVoucherNo);
                    $('#inputDate').val(getTodayDate());
                    $('#inputVoucherID').val("");
                    $("#ddlLocation").val(defaultLocationId);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnEditContinue").click(function (e) {
            let row = $("#tblTranAdjustment tbody tr").length;
            if (row < 1) return;
            $("#modalRemarkTitle").text("Add Remark");
            $("#lblRemark").text("Enter a Note");
            $('#btnEditRemarkOk').val($(this).val());
            $('#modalRemark').modal('show');
        });
        $("#btnEditRemarkOk").click(function (e) {
            let row = $("#tblTranAdjustment tbody tr").length;
            if (row < 1) return;
            let adjustmentId = $(this).val();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let locationId = $('#ddlLocation option:selected').val();
            let remark = $('#txtRemarkNote').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("AdjustmentEditAction", "Adjustment")',
                data: {
                    "adjustmentId": adjustmentId, "date": date, "voucherId": voucherId, "locationId": locationId, "remark": remark
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess) {
                        alert("Session Expired!");
                        redirectToLogin();
                    }
                    else {
                        window.location.href = '@Url.Action("ListAdjustment", "Adjustment")?userId=' + userId;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnEditCancel").click(function (e) {
            window.location.href = '@Url.Action("ListAdjustment", "Adjustment")?userId=' + userId;
        });

    });
    function fillSelectedProductData(response, productId) {
        $("#inputProductID").val(productId);
        $("#inputCode").val(response.Code);
        $("#inputProductName").val(response.ProductName);
        $("#inputQuantity").val('1');
        createUnitData(response);
        createAdjustmentData(response);
        showHideTranAdjustmentAddEdit(false);
    }
    function showHideTranAdjustmentAddEdit(isEdit) {
        if (isEdit) {
            $('#btnAdd').css("display", "none");
            $("#btnEdit").show();
        } else {
            $("#btnAdd").show();
            $('#btnEdit').css("display", "none");
        }
    }
    function showHideMainButton(isEdit) {
        if (isEdit) {
            $('#btnCancel').css("display", "none");
            $('#btnContinue').css("display", "none");
            $('#btnRemarkOk').css("display", "none");
        } else {
            $("#btnEditCancel").css("display", "none");
            $('#btnEditContinue').css("display", "none");
            $('#btnEditRemarkOk').css("display", "none");
            $('#btnCancel').show();
            $('#btnContinue').show();
            $('#btnRemarkOk').show();
        }
    }
    function createUnitData(response) {
        let unit;
        $("#ddlUnit").html("");
        for (var i = 0; i < response.LstUnit.length; i++) {
            unit += '<option value="' + response.LstUnit[i].UnitID + '">' + response.LstUnit[i].Keyword + '</option>';
        }
        $("#ddlUnit").append(unit);
    }
    function createAdjustmentData(response) {
        let adjust;
        $("#ddlAdjustType").html("");
        for (var i = 0; i < response.LstAdjustType.length; i++) {
            adjust += '<option value="' + response.LstAdjustType[i].AdjustTypeID + '">' + response.LstAdjustType[i].ShortName + '</option>';
        }
        $("#ddlAdjustType").append(adjust);
    }
    function tranAdjustmentTableAction(value) {
        tranAdjustmentAction = value;
    }
</script>


