@using Inventory.ViewModels
@model AdjustmentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuAdjustmentGp {
            display: block;
        }
    </style>

</head>

<div>
    <div class="row setup-title-layout">
        <div class="col-md-6 col-lg-6">
            <label class="page-title">@Resource.AdjustmentList</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <button id="btnAdd" class="btn btn-primary" style="float:right">ADD</button>
        </div>
    </div>
    <div class="row setup-title-layout search-div">
        <table class="width-100-percent">
            <tr>
                <td class="control-label" style="text-align:center;">From Date</td>
                <td><input id="inputFromDate" type="date" class="form-control control-input" /></td>
                <td class="control-label" style="text-align:center;">To Date</td>
                <td><input id="inputToDate" type="date" class="form-control control-input" /></td>
                <td><input id="inputUserVoucherNo" type="text" class="form-control control-input" placeholder="Voucher No." /></td>
                
                <td>
                    <div class="btn-group" style="float:right;">
                        <button id="btnSearch" class="btn btn-first setup-btn-search" title="Search"><i class="fa fa-search"></i></button>
                        <button id="btnRefresh" class="btn btn-light" title="Refresh"><i class="fa fa-refresh refresh-icon"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row padding-10">
        <div class="col-md-12 col-lg-12">
            <table id="tblAdjustmentList" class="col-md-12 col-lg-12" role="grid">
                <thead>
                    <tr class="row table-header">
                        <th class="col-md-2 col-lg-2">Date</th>
                        <th class="col-md-3 col-lg-3">Voucher No.</th>
                        <th class="col-md-6 col-lg-6">Remark</th>
                        <th class="col-md-1 col-lg-1">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="divPaging" class="row paging">
        <div class="col-md-1 col-lg-1"><label id="lblPageNumber" class="page-num"></label></div>
        <div id="divPagingItem" class="col-md-11 col-lg-11 paging-item"></div>
    </div>
</div>
<div>
    @{
        Html.RenderPartial("_AdjustmentDetailDialog");
    }
</div>

<div>
    @{
        Html.RenderPartial("_ConfirmDialog");
    }
</div>

<script type="text/javascript">

    document.getElementById('subMenuAdjustmentList').className = 'active';
    let listActionValue, selectedRowIndex;
    $(function () {
        $('#btnAdd').click(function () {
            window.location.href = '@Url.Action("Adjustment", "Adjustment")?userId=' + userId;
        });
    })
    $(document).ready(function () {
        setModuleTitle('@Resource.Adjustment', '@Resource.ListAdjustment');
        initializeControl();
        createMasterAdjustmentData('', false);
        createPaging('@ViewBag.TotalPageNum', '@ViewBag.CurrentPage');

        function initializeControl() {
            $('#inputFromDate').val(getTodayDate());
            $('#inputToDate').val(getTodayDate());
        }

        function clearControl() {
            $('#inputFromDate').val(getTodayDate());
            $('#inputToDate').val(getTodayDate());
            $('#inputUserVoucherNo').val('');
        }

        function createMasterAdjustmentData(response, isFromJson) {
            $("#tblAdjustmentList").find("tbody").empty();
            if (!isFromJson) response = JSON.parse('@Html.Raw(Json.Encode(ViewData["LstMasterAdjustment"]))');
            $.each(response, function (index, item) {
                var row = '<tr class="row table-item" onclick="findRowIndex(this)">'
                        + '<td class="col-md-2 col-lg-2 text-overflow">' + item.AdjustDateTime + '</td>'
                        + '<td class="col-md-3 col-lg-3">' + item.UserVoucherNo + '</td>'
                        + '<td class="col-md-6 col-lg-6 text-overflow" style="height:25px;">' + item.Remark + '</td>'
                        + '<td class="col-md-1 col-lg-1 btn-group">'
                            + '<button title="View" class="btn btn-sm btn-dark" onclick="listTableAction(1)"><i class="fa fa-list"></i></button>'
                if (isEditEntryModule == 'True') {
                    row += '<button title="Edit" class="btn btn-sm btn-primary" onclick="listTableAction(2)"><i class="fa fa-edit"></i></button>'
                } else {
                    row += '<button title="Edit" class="btn btn-sm" disabled><i class="fa fa-edit"></i></button>'
                }
                if (isDeleteEntryModule == 'True') {
                    row += '<button title="Delete" class="btn btn-sm btn-danger" onclick="listTableAction(3)"><i class="fa fa-remove"></i></button>'
                } else {
                    row += '<button title="Delete" class="btn btn-sm" disabled><i class="fa fa-remove"></i></button>'
                }                            
                row += '</td>'
                        + '<td style="display:none">' + item.AdjustmentID + '</td>'
                    + '</tr>'
                $('#tblAdjustmentList tbody').append(row);
            });
        }

        $(document).on('click', '.btnPage', function (e) {
            let currentPage = $(this).text();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("AdjustmentPagingAction", "Adjustment")',
                data: { "currentPage": currentPage },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createMasterAdjustmentData(response.LstMasterAdjustment, true);
                        createPaging(response.TotalPage, currentPage);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#tblAdjustmentList").on("click", "tbody tr", function (event) {
            $(this).find("td:last").each(function () {
                let adjustmentId = $(this).text();
                if (listActionValue == 1) {   // view
                    clearTableAction();
                    viewDetail(adjustmentId);
                } else if (listActionValue == 2) {  // edit
                    clearTableAction();
                    window.location.href = '@Url.Action("Adjustment", "Adjustment")?userId=' + userId + '&adjustmentId=' + adjustmentId;
                } else if (listActionValue == 3) {  // delete
                    clearTableAction();
                    $('#modalConfirm').modal('show');
                    $("#btnDelOk").val(adjustmentId);
                }
            });
        });

        $("#btnDelOk").click(function () {
            let adjustmentId = $("#btnDelOk").val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteAction", "Adjustment")',
                data: { "adjustmentId": adjustmentId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                    {
                        responseUnSuccessful(response);
                    }                    
                    else {
                        if (selectedRowIndex != null) {
                            document.getElementById("tblAdjustmentList").deleteRow(selectedRowIndex);
                            createPaging(response.TotalPage, "");
                            showToast(1, response.ResultDefaultData.Message);
                        }
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        function viewDetail(adjustmentId) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ViewAction", "Adjustment")',
                data: { "adjustmentId": adjustmentId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        createMasterAdjustmentDetail(response);
                        createTranAdjustmentDetail(response);
                        $('#modalAdjustmentDetail').modal('show');
                    }                   
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }

        $("#btnSearch").click(function (e) {
            let fromDate = $('#inputFromDate').val();
            let toDate = $('#inputToDate').val();
            let userVoucherNo = $('#inputUserVoucherNo').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchAction", "Adjustment")',
                data: { "userId": userId, "fromDate": fromDate, "toDate": toDate, "userVoucherNo": userVoucherNo },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    createMasterAdjustmentData(response.LstMasterAdjustment, true);
                    createPaging(response.TotalPage, response.CurrentPage);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnRefresh").click(function (e) {
            clearControl();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("RefreshAction", "Adjustment")',
                data: { "userId": userId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    createMasterAdjustmentData(response.LstMasterAdjustment, true);
                    createPaging(response.TotalPage, response.CurrentPage);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });


    });
    function listTableAction(value) {
        listActionValue = value;
    }
    function findRowIndex(x) {
        selectedRowIndex = x.rowIndex;
    }
    function clearTableAction() {
        listActionValue = 0;
    }
</script>




