@using Inventory.ViewModels;
@model PurchaseReturnViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuPurchaseGp {
            display: block;
        }      
        .changecursor tbody tr{
            cursor:not-allowed;   
            background-color:#e9ecef;       
        }
        .changecursor tbody tr:hover{
            cursor:not-allowed;
        }
        .changecursor label{
            cursor:not-allowed;
        }
        .changecursor label:hover{
            cursor:not-allowed;
        }
    </style>
</head>

<script type="text/javascript">
    document.getElementById('subMenuPurchaseReturn').className = 'active';
</script>

<div class="row m-t-5 m-b-5 m-l-5">
    <div class="col-md-4 col-lg-4 note align-justify-center">
        <label id="lblUserVoucherNo" class="control-label mb-0"></label>
    </div>
    <div class="col-md-4 col-lg-4">
        <input id="inputDate" type="date" class="form-control control-input" />
    </div>
    <div class="col-md-4 col-lg-4">
        <input id="inputVoucherID" type="text" class="form-control control-input" placeholder="@Resource.VoucherID" />
    </div>   
</div>
<div class="row">
    <div id="divPurchaseReturn" class="col-md-6 col-lg-6">
        <div id="divTranReturnByVoucher" class="m-t-5 padding-5 search-div">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <input id="inputNumber" type="hidden" />
                    <input id="inputID" type="hidden" />
                    <input id="inputProductID" type="hidden" />
                    <input id="inputUnitID" type="hidden" />
                    <input id="inputCurrencyID" type="hidden" />
                    <input id="inputCurrencyName" type="hidden" />
                    <input id="inputMaxQty" type="hidden" />
                    <input id="inputProductName" type="text" class="form-control control-input" placeholder="@Resource.ProductName" disabled />
                </div>
                <div id="divQuantity" class="col-md-3 col-lg-3">
                    <input id="inputQuantity" type="text" class="form-control control-input numberonly" placeholder="@Resource.ReturnQty" />                    
                </div>
                <div id="divUnit" class="col-md-1 col-lg-1 note align-justify-center">
                    <label id="lblUnit" class="control-label mb-0">UNIT</label>
                </div>
            </div>
            <div class="row m-t-5 align-center">
                <div class="col-md-4 col-lg-4">
                    <input id="inputPrice" type="text" class="form-control control-input numberonly" placeholder="@Resource.Price" disabled />
                </div>
                <div id="divCurrency" class="col-md-1 col-lg-1 note align-justify-center">
                    <label id="lblCurrency" class="control-label mb-0">MMK</label>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="inputDisPercent" type="text" class="form-control control-input numberonly" placeholder="@Resource.PercentSign" disabled />
                </div>               
                <div id="divTranBtn" class="col-md-3 col-lg-3 aligh-right">
                    <button id="btnAdd" class="btn btn-second">@Resource.Add</button>
                    <button id="btnEdit" class="btn btn-third">@Resource.Edit</button>
                </div>
            </div>
        </div>

        <div id="divReturnByProduct" class="m-t-5 padding-5 search-div">
            <div class="input-icons">
                <i class="fa fa-search icon"></i>
                <input id="inputSearchReturnProduct" type="text" class="form-control control-input input-field" placeholder="@Resource.SearchProduct" />
            </div>
            <div class="m-t-5 padding-5 search-div">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <input id="inputReturnNumber" type="hidden" />
                        <input id="inputReturnProductID" type="hidden" />
                        <input id="inputReturnProductCode" type="text" class="form-control control-input" placeholder="@Resource.Code" />
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <input id="inputReturnProductName" type="text" class="form-control control-input" placeholder="@Resource.ProductName" disabled />
                    </div>
                    <div class="col-md-2 col-lg-2" id="">
                        <input id="inputReturnProductQuantity" type="text" class="form-control control-input numberonly" placeholder="@Resource.ReturnQty" />
                    </div>
                    <div id="divddlUnit" class="col-md-2 col-lg-2">
                        @Html.DropDownList("Unit", Model.Units, new { @id = "ddlUnit", @class = "form-control control-input" })
                    </div>
                </div>
                <div class="row m-t-5 align-center">
                    <div class="col-md-3 col-lg-3">
                        <input id="inputReturnProductPrice" type="text" class="form-control control-input numberonly" placeholder="@Resource.Price" />
                    </div>
                    <div id="divddlCurrency" class="col-md-3 col-lg-3">
                        @Html.DropDownList("Currency", Model.Currencies, new { @id = "ddlCurrency", @class = "form-control control-input" })
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <input id="inputReturnProductDisPercent" type="text" class="form-control control-input numberonly" placeholder="@Resource.Dis@Resource.OpenParenthesis@Resource.PercentSign@Resource.CloseParenthesis" maxlength="2" />
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <input id="chkItemFOC" type="checkbox" /><span>&nbsp;&nbsp;@Resource.FOC</span>
                    </div>
                    <div id="divReturnProductTranBtn" class="col-md-2 col-lg-2 aligh-right">
                        <button id="btnAddReturnProduct" class="btn btn-second">@Resource.Add</button>
                        <button id="btnEditReturnProduct" class="btn btn-third">@Resource.Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="divPurchaseReturnChild">
            <div id="divPurchaseReturnTran" class="tran-table">
                <table id="tblTranPurchaseReturn" class="width-100-percent">
                    <thead>
                        <tr class="row tran-table-header-row">
                            <td class="col-md-4 col-lg-4 text-overflow"><span>@Resource.Product</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Qty</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Price</span></td>
                            <td class="col-md-1 col-lg-1 text-overflow"><span>@Resource.Dis</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span class="aligh-right">@Resource.Amount</span></td>
                            <td class="col-md-1 col-lg-1"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="divPurchaseReturnByProductTran" class="tran-table">
                <table id="tblTranPurchaseReturnByProduct" class="width-100-percent">
                    <thead>
                        <tr class="row tran-table-header-row">
                            <td class="col-md-4 col-lg-4 text-overflow"><span>@Resource.Product</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Qty</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Price</span></td>
                            <td class="col-md-1 col-lg-1 text-overflow"><span>@Resource.Dis</span></td>
                            <td class="col-md-2 col-lg-2 text-overflow"><span class="aligh-right">@Resource.Amount</span></td>
                            <td class="col-md-1 col-lg-1"></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div style="bottom:0px;position:absolute;width:100%;">
                <div class="row">
                    <div class="col-md-3 col-lg-3 padding-10">@Resource.Total</div>
                    <div class="col-md-4 col-lg-4"></div>
                    <div class="col-md-5 col-lg-5 aligh-right padding-10">
                        <label id="lblTotal" class="total-amount-value mb-0 mr-10">0</label>
                    </div>
                </div>
                <div class="row mr-0 soft-gray-background pt-1">
                    <div class="col-md-6 col-lg-6">
                        <button id="btnCancel" class="btn btn-third">@Resource.Reset</button>
                        <button id="btnEditCancel" class="btn btn-third m-t-0">@Resource.Cancel</button>
                    </div>

                    <div class="col-md-6 col-lg-6 aligh-right">
                        <button id="btnContinue" class="btn btn-first plr-30">@Resource.Continue</button>
                        <button id="btnEditContinue" class="btn btn-first plr-30 m-t-0">@Resource.Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divPurchase" class="col-md-6 col-lg-6 div-return">
        <div class="row margin-5 padding-10">
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4"><input type="radio" id="rdoRetrunByVoucher" name="rdoReturnType" value="1" checked class="mr-10" /><span>@Resource.ReturnByVoucher</span></div>
            <div class="col-md-4 col-lg-4"><input type="radio" id="rdoReturnByProduct" name="rdoReturnType" value="2" class="mr-10" /><span>@Resource.ReturnByProduct</span></div>                       
        </div>
        <div class="row margin-5">                              
            <input id="inputSearch" type="text" class="form-control control-input" placeholder="@Resource.EnterPurchaseVoucherNo" />
        </div>
        <div id="divReturnByVoucher">
            <div class="row m-t-10">
                <div class="col-md-6 col-lg-6">
                    <label class="control-label">@Resource.TotalPurchaseItems</label><label id="lblTotalPurchaseItem" class="control-label ml-10" style="background-color:#ffffcc;padding-left:5px;padding-right:5px;"></label>
                </div>
            </div>
            <div id="divPurchaseChild">
                <div id="divPurchaseTran" class="tran-table">
                    <table id="tblTranPurchase" class="width-100-percent">
                        <thead>
                            <tr class="row return-table-header-row">
                                <td class="col-md-4 col-lg-4 text-overflow"><span>@Resource.Product</span></td>
                                <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Qty</span></td>
                                <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Price</span></td>
                                <td class="col-md-2 col-lg-2 text-overflow"><span>@Resource.Dis</span></td>
                                <td class="col-md-2 col-lg-2 text-overflow"><span class="aligh-right m-r-10">@Resource.Amount</span></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>        
        
    </div>
</div>
<div>
    @{
        Html.RenderPartial("_RemarkDialog");
    }
</div>
<div>
    @{
        Html.RenderPartial("_SearchProductDialog");
    }
</div>


<script type="text/javascript">
    let tranPurchaseReturnAction, isEditTranPurchaseReturn = false, isEditTranPurchaseReturnByProduct = false, tranPurchaseReturnByProductAction;
    let prevPurchasePrice, isPurchaseReturnByVoucher = true;
    $('body').addClass("hideVerticalScrollbar");
    calcPurchaseReturnHeight();
    calcPurchaseHeight(150);
    function calcPurchaseReturnHeight() {
        let windowHeight = window.innerHeight;
        let thingsHeight = 100; // average other component height
        let extraHeight = 11;
        let purchaseReturnAreaHeight = windowHeight - (thingsHeight + extraHeight);
        let purchaseReturnChildHeight = purchaseReturnAreaHeight - 100;  // 100 is top component
        let purchaseReturnTranHeight = purchaseReturnChildHeight - 40 - 40;  // 135 is bottom component and 40 is extra
        document.getElementById('divPurchaseReturn').setAttribute("style", "height:" + purchaseReturnAreaHeight + "px");
        document.getElementById('divPurchaseReturnChild').setAttribute("style", "height:" + purchaseReturnChildHeight + "px");
        document.getElementById('divPurchaseReturnTran').setAttribute("style", "height:" + purchaseReturnTranHeight + "px");
    }
    function calcPurchaseHeight(thingsHeight) {
        let windowHeight = window.innerHeight;
        let extraHeight = 20;
        let purchaseHeight = windowHeight - (thingsHeight + extraHeight);
        let purchaseTranHeight = purchaseHeight - 35;
        document.getElementById('divPurchase').setAttribute("style", "height:" + purchaseHeight + "px");
        document.getElementById('divPurchaseTran').setAttribute("style", "height:" + purchaseTranHeight + "px");
    }
    $(document).ready(function () {
        setModuleTitle('@Resource.Purchase', '@Resource.AddPurchaseReturn');
        if ('@ViewBag.IsEdit' == 'True') fillEditData();
        else initializeControl();
        function initializeControl() {
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val(getTodayDate());
            $("#inputSearch").prop("disabled", false);
            //document.getElementById("tblPurchase").disabled = false;
            showHideTranPurchaseReturnAddEdit(false);
            showHideMainButton(false);
            showHideUnit();
            showHideCurrency();
            $("#divReturnByProduct").css("display", 'none');
            $("#divPurchaseReturnByProductTran").css("display", "none");
        }

        $("input[name='rdoReturnType']").change(function (e) {
            let target = e.target;
            if (target.value == 1)
            {
                $("#inputSearch").prop("disabled",false);
                $("#divReturnByVoucher").prop("disabled", false);
                $("#divTranReturnByVoucher").css("display", 'block');
                $("#divReturnByProduct").css("display", 'none');
                $("#divPurchaseReturnByProductTran").css("display", "none");
                $("#divPurchaseReturnTran").css("display", "block");
                isPurchaseReturnByVoucher = true;
            }
            else
            {
                $("#inputSearch").val("");
                $("#tblTranPurchase").find("tbody").empty();
                $("#lblTotalPurchaseItem").text("");
                $("#inputSearch").prop("disabled",true);
                $("#divReturnByVoucher").prop("disabled", true);
                $("#divTranReturnByVoucher").css("display", 'none');
                $("#divReturnByProduct").css("display", 'block');
                showHideTranPurchaseReturnAddEditByProduct(false);
                createDefaultCurrency();
                createDefaultUnit();
                $("#divPurchaseReturnByProductTran").css("display", "block");
                $("#divPurchaseReturnTran").css("display", "none");
                isPurchaseReturnByVoucher = false;
            }
        })
        function createDefaultUnit() {
            let unit;
            $("#ddlUnit").html("");
            unit = '<option value="0">Unit</option>';
            $("#ddlUnit").append(unit);
        }
        function createDefaultCurrency() {
            let currency;
            $("#ddlCurrency").html("");
            currency = '<option value="0">Currency</option>';
            $("#ddlCurrency").append(currency);
        }

        function showHideUnit() {
            document.getElementById("inputDisPercent").placeholder = "@Resource.Dis" + "(" + "@Resource.PercentSign" + ")";
            if (isMultiUnit == "True") {
                $("#divUnit").show();
            } else {
                $('#divUnit').css("display", "none");
                $('#divQuantity').addClass("col-md-4 col-lg-4");
            }
        }
        function showHideCurrency() {
            if (isMultiCurrency == "True") {
                $("#divTranBtn").removeClass("col-md-4 col-lg-4");
                $('#divTranBtn').addClass("col-md-3 col-lg-3");
                $("#divCurrency").css("display","block");
            }
            else
            {
                $('#divCurrency').css("display", "none");
                $('#divTranBtn').addClass("col-md-4 col-lg-4");
            }
        }
        $("#inputSearch").keydown(function (event) {
            if (event.which === 13) {
                let purchaseVoucherNo = $("#inputSearch").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetPurchaseItemsByPurchaseVoucherNoAction", "PurchaseReturn")',
                    data: { "purchaseVoucherNo": purchaseVoucherNo },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            responseUnSuccessful(response);
                        }
                        else {
                            if (!response.IsExistPurchase) {
                                showToast(0, '@Inventory.Common.AppConstants.Message.NoReturnCreditVoucher');
                                $("#tblTranPurchase").find("tbody").empty();
                                $('#lblTotalPurchaseItem').text("");
                            }
                            else {
                                if (!response.IsVoucherFOC) {
                                    $('#lblTotalPurchaseItem').text(response.TotalPurchaseItem + '(' + response.TotalPurchaseItemQty + ')');
                                    createTranPurchaseData(response.LstTranPurchase);
                                    $("#tblTranPurchaseReturn").find("tbody").empty();
                                }
                                else {
                                    showToast(0, response.ResultDefaultData.Message);
                                    $("#inputSearch").val("");
                                }
                            }
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        })

        function createTranPurchaseData(lstTranPurchase) {

            $("#tblTranPurchase").find("tbody").empty();
            $.each(lstTranPurchase, function (i, item) {

                if (item.UnitKeyword == null) item.UnitKeyword = '';
                if (item.CurrencyKeyword == null) item.CurrencyKeyword = '';
                let row = '<tr class="row tran-table-item-row pt-1">'
                       + '<td style="display:none;">' + item.ProductID + '</td>'
                       + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0 text-link text-overflow">' + item.ProductName + '</label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Quantity + '<span class="control-span-sm">&nbsp;' + item.UnitKeyword + '</span></label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + separatedComma(item.PurchasePrice) + '<span class="control-span-sm">&nbsp;' + item.CurrencyKeyword + '</span></label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + separatedComma(item.Discount) + '</label></td>'
                       + '<td class="col-md-2 col-lg-2 value-right"><label class="control-label mb-0">' + separatedComma(item.Amount) + '</label></td>'
                       + '<td style="display:none;">' + item.ID + '</td>'
                       + '</tr>';
                $('#tblTranPurchase tbody').append(row);
            })
        }

        $("#tblTranPurchase").on("click", "tbody tr", function (event) {
            $('#tblTranPurchase tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                let number = $(this).text();
                prepareToEditTranPurchase(number);
            })
        });

        function prepareToEditTranPurchase(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PrepareToEditTranPurchaseAction", "PurchaseReturn")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        $("#inputNumber").val(number);
                        $("#inputID").val(response.ID);
                        $("#inputProductID").val(response.ProductID);
                        $("#inputProductName").val(response.ProductName);
                        $("#inputQuantity").val(response.Quantity);
                        $("#inputMaxQty").val(response.Quantity);
                        $("#inputPrice").val(response.Price);
                        $("#inputDisPercent").val(response.DisPercent + '@Resource.PercentSign');
                        $("#inputUnitID").val(response.UnitID);
                        $("#lblUnit").text(response.UnitKeyword);
                        $("#inputCurrencyID").val(response.CurrencyID);
                        $("#inputCurrencyName").val(response.CurrencyKeyword);
                        if (response.CurrencyID > 0) {
                            $("#lblCurrency").text(response.CurrencyKeyword);
                            //showHideCurrency(true);
                        }
                        isEditTranPurchaseReturn = false;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        function validateProductControl() {
            let qty = $("#inputQuantity").val();
            let maxQty = parseInt($("#inputMaxQty").val());
            if (qty > maxQty) {
                showToast(0, '@Inventory.Common.AppConstants.Message.PurReturnQtyCheck');
                $("#inputQuantity").val("");
                $("#inputQuantity").focus();
                return false;
            }
            else if ($("#inputProductID").val().length == 0 || $("#inputProductID").val() == 0) return false;
            else if ($("#inputQuantity").val().length == 0 || $("#inputQuantity").val() == 0) {
                $("#inputQuantity").focus();
                return false;
            }
            else if ($("#inputPrice").val().length == 0) {
                $("#inputPrice").focus();
                return false;
            }
            return true;
        }

        $("#inputQuantity").keydown(function () {
            if (event.which === 13) {
                if (validateProductControl()) {
                    addOrEditTranPurchaseReturn(isEditTranPurchaseReturn);
                }
            }
        })
        $("#btnAdd").click(function () {
            if (validateProductControl()) {
                addOrEditTranPurchaseReturn(isEditTranPurchaseReturn);
            }
        });
        $("#btnEdit").click(function (e) {
            if (validateProductControl()) {
                addOrEditTranPurchaseReturn(isEditTranPurchaseReturn);
            }
        });

        function addOrEditTranPurchaseReturn(isEdit) {
            let number = $("#inputNumber").val();
            let ID = $("#inputID").val();
            let productId = $("#inputProductID").val();
            let productName = $("#inputProductName").val();
            let quantity = $("#inputQuantity").val();
            let maxQty = $("#inputMaxQty").val();
            let price = $("#inputPrice").val();
            let disPercent = parseInt($("#inputDisPercent").val());
            let unitId = $("#inputUnitID").val();
            let unitKeyword = $("#lblUnit").text();
            let currencyId = $("#inputCurrencyID").val();
            let currencyKeyword = $("#inputCurrencyName").val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranPurchaseReturnAddEditAction", "PurchaseReturn")',
                data: { "ID": ID, "productId": productId, "productName": productName, "quantity": quantity, "maxQuantity": maxQty, "price": price, "disPercent": disPercent, "unitId": unitId, "unitKeyword": unitKeyword, "currencyId": currencyId, "currencyKeyword": currencyKeyword, "isEdit": isEdit, "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranPurchaseReturnData(response.LstTranPurchaseReturn);
                        $("#lblTotal").text(separatedComma(response.SubTotal));
                        $("#lblTotal").val(response.SubTotal);
                        $("#lblUnit").text("UNIT");
                        clearProductControl();
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        function createTranPurchaseReturnData(lstTranPurchaseReturn) {
            $("#tblTranPurchaseReturn").find("tbody").empty();
            $.each(lstTranPurchaseReturn, function (i, item) {
                if (item.UnitKeyword == null) item.UnitKeyword = '';
                if (item.CurrencyKeyword == null) item.CurrencyKeyword = '';
                let row = '<tr class="row tran-table-item-row">'
                       + '<td style="display:none;">' + item.ProductID + '</td>'
                       + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0 text-link text-overflow">' + item.ProductName + '</label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Quantity + '<span class="control-span-sm">&nbsp;' + item.UnitKeyword + '</span></label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + separatedComma(item.PurchasePrice) + '<span class="control-span-sm">&nbsp;' + item.CurrencyKeyword + '</span></label></td>'
                       + '<td class="col-md-1 col-lg-1"><label class="control-label mb-0">' + separatedComma(item.Discount) + '</label></td>'
                       + '<td class="col-md-2 col-lg-2 value-right"><label class="control-label mb-0">' + separatedComma(item.Amount) + '</label></td>'
                       + '<td class="col-md-1 col-lg-1 value-right"><button class="btn-icon gray" title="Delete" onclick="tranPurchaseReturnTableAction(3)"><i class="fa fa-remove"></i></button></td>'
                       + '<td style="display:none;">' + item.Number + '</td>'
                       + '</tr>';
                $('#tblTranPurchaseReturn tbody').append(row);
            })
        }
        function clearProductControl() {
            $("#inputNumber").val("");
            $("#inputProductID").val("");
            $("#inputProductName").val("");
            $("#inputQuantity").val("");
            $("#inputPrice").val("");
            $("#inputDisPercent").val("");
            showHideTranPurchaseReturnAddEdit(false);
            isEditTranPurchaseReturn = false;
        }
        function clearPurchaseReturnByProductArea() {
            $("#inputReturnNumber").val("");
            $("#inputReturnProductID").val("");
            $("#inputReturnProductName").val("");
            $("#inputReturnProductQuantity").val("");
            $("#inputReturnProductPrice").val("");
            $("#inputReturnProductDisPercent").val("");
            $("#inputReturnProductCode").val("");
            $("#chkItemFOC").prop('checked', false);
        }
        $("#tblTranPurchaseReturn").on("click", "tbody tr", function (event) {
            $('#tblTranPurchaseReturn tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                let number = $(this).text();
                if (tranPurchaseReturnAction == 3) {
                    tranPurchaseReturnAction = 0;
                    deleteTranPurchaseReturn(number);
                } else {
                    prepareToEditTranPurchaseReturn(number);
                }
            })
        });
        function deleteTranPurchaseReturn(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranPurchaseReturnDeleteAction", "PurchaseReturn")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranPurchaseReturnData(response.LstTranPurchaseReturn);
                        $("#lblTotal").text(separatedComma(response.SubTotal));
                        $("#lblTotal").val(response.SubTotal);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        function prepareToEditTranPurchaseReturn(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PrepareToEditTranPurchaseReturnAction", "PurchaseReturn")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        $("#inputNumber").val(number);
                        $("#inputID").val(response.ID);
                        $("#inputProductID").val(response.ProductID);
                        $("#inputProductName").val(response.ProductName);
                        $("#inputQuantity").val(response.Quantity);
                        $("#inputMaxQty").val(response.MaxQuantity);
                        $("#inputPrice").val(response.Price);
                        $("#inputDisPercent").val(response.DisPercent + '@Resource.PercentSign');
                        $("#inputUnitID").val(response.UnitID);
                        $("#lblUnit").text(response.UnitKeyword);
                        $("#inputCurrencyID").val(response.CurrencyID);
                        $("#inputCurrencyName").val(response.CurrencyKeyword);
                        showHideTranPurchaseReturnAddEdit(true);
                        isEditTranPurchaseReturn = true;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        $("#btnCancel").click(function () {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CancelAction", "PurchaseReturn")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    clearProductControl();
                    $("#tblTranPurchaseReturn").find("tbody").empty();
                    $("#lblTotal").text("0");
                    //createTranPurchaseData(response.LstTranPurchase);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });
        $("#btnContinue").click(function (e) {
            let row = $("#tblTranPurchaseReturn tbody tr").length;
            let row2 = $("#tblTranPurchaseReturnByProduct tbody tr").length;
            if (row < 1 && row2 < 1) return;
            $("#modalRemarkTitle").text("Add Remark");
            $("#lblRemark").text("Enter a Note");
            $('#modalRemark').modal('show');
        });
        $("#btnRemarkOk").click(function () {
            let userVoucherNo = $('#lblUserVoucherNo').text();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let remark = $('#txtRemarkNote').val();
            let total = $("#lblTotal").val();
            let userId = localStorage.getItem("UserID");
            showLoadingIcon();
            $.ajax({
                type: "POST",
                url: '@Url.Action("PurchaseReturnSubmitAction", "PurchaseReturn")',
                data: JSON.stringify({
                    "userVoucherNo": userVoucherNo, "date": date, "voucherId": voucherId,
                    "remark": remark, "total": total, "userId": userId,"isPurchaseReturnByVoucher":isPurchaseReturnByVoucher
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    $('#modalRemark').modal('hide');
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        showToast(1, response.ResultDefaultData.Message);
                        clearProductControl();
                        $("#tblTranPurchase").find("tbody").empty();
                        $("#tblTranPurchaseReturn").find("tbody").empty();
                        $("#lblUserVoucherNo").text(response.UserVoucherNo);
                        $('#inputDate').val(getTodayDate());
                        $('#inputVoucherID').val("");
                        $("#inputSearch").val("");
                        $("#lblTotal").text("0");
                        $('#lblTotalPurchaseItem').text("");
                        $('#txtRemarkNote').val("");
                        clearPurchaseReturnByProductArea();
                        $("#tblTranPurchaseReturnByProduct").find("tbody").empty();
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        })
        function fillEditDatatest() {
            $('#btnEditContinue').val('@ViewBag.PurchaseReturnID');
        }
        function fillEditData() {
            $('#btnEditContinue').val('@ViewBag.PurchaseReturnID');
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#inputDate').val('@ViewBag.Date');
            $('#inputVoucherID').val('@ViewBag.VoucherID');
            $('#lblTotal').text(separatedComma('@ViewBag.Total'));
            $('#lblTotal').val('@ViewBag.Total');
            $('#inputSearch').val('@ViewBag.ReturnVoucherNo');
            let returnVoucherNo = $("#inputSearch").val();
            if(returnVoucherNo!=''){
                $('#lblTotalPurchaseItem').text('@ViewBag.TotalItem' + '(' + '@ViewBag.TotalQuantity' + ')');
                $("#inputSearch").prop("disabled", true);
                let tranPurchaseList = JSON.parse('@Html.Raw(Json.Encode(Session["TranPurchaseData"]))');
                createTranPurchaseData(tranPurchaseList);
                $('#tblTranPurchase').addClass("changecursor");
                var nodes = document.getElementById("divPurchase").getElementsByTagName('*');
                for (var i = 0; i < nodes.length; i++) {
                    nodes[i].disabled = true;
                }
                showHideTranPurchaseReturnAddEdit(false);
                $("#divReturnByProduct").css("display", 'none');
                $("#divPurchaseReturnByProductTran").css("display", "none");
                let tranPurchaseReturnList = JSON.parse('@Html.Raw(Json.Encode(Session["TranPurchaseReturnData"]))');
                createTranPurchaseReturnData(tranPurchaseReturnList);
                isPurchaseReturnByVoucher = true;
            }
            else{
                showHideTranPurchaseReturnAddEditByProduct(false);
                $("#divTranReturnByVoucher").css("display", 'none');
                $("#divPurchaseReturnTran").css("display", "none");
                $("#rdoReturnByProduct").prop('checked', true);
                $("#inputSearch").prop("disabled", true);
                if(isMultiUnit) createDefaultCurrency();
                if(isMultiCurrency) createDefaultUnit();
                let tranPurchaseReturnList = JSON.parse('@Html.Raw(Json.Encode(Session["TranPurchaseReturnByProductData"]))');
                createTranPurchaseReturnByProductData(tranPurchaseReturnList);
                isPurchaseReturnByVoucher = false;
            }

            showHideMainButton(true);
            showHideUnit();
            $("input[name='rdoReturnType']").prop("disabled", true);
            $("#txtRemarkNote").val('@ViewBag.Remark');
            
        }
        $("#btnEditCancel").click(function (e) {
            window.location.href = '@Url.Action("PurchaseReturn", "PurchaseReturn")?userId=' + userId;
        });
        $("#btnEditContinue").click(function () {
            let row = $("#tblTranPurchaseReturn tbody tr").length;
            let row2 = $("#tblTranPurchaseReturnByProduct tbody tr").length;
            if (row < 1 && row2 < 1) return;
            $('#btnRemarkEdit').val($("#btnEditContinue").val());
            $('#modalRemark').modal('show');
            showHideMainButton(true);
            $("#lblRemark").text("Enter a Note");
            $("#modalRemarkTitle").text("Add Remark");
            $('#btnRemarkEdit').css("display", "block");
        });
        $("#btnRemarkEdit").click(function () {
            let purchaseReturnId = $(this).val();
            let date = $('#inputDate').val();
            let voucherId = $('#inputVoucherID').val();
            let remark = $('#txtRemarkNote').val();
            let total = $("#lblTotal").val();
            let returnVoucherNo = $("#inputSearch").val();
            let userId = localStorage.getItem("UserID");
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PurchaseReturnEditAction", "PurchaseReturn")',
                data: {
                    "purchaseReturnId": purchaseReturnId, "date": date, "voucherId": voucherId,
                    "total": total, "returnVoucherNo": returnVoucherNo, "remark": remark, "isPurchaseReturnByVoucher": isPurchaseReturnByVoucher
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        $('#modalRemark').modal('hide');
                        responseUnSuccessful(response);
                    }
                    else {
                        window.location.href = '@Url.Action("ListPurchaseReturn", "PurchaseReturn")?userId=' + userId;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });

        })
        $("#inputReturnProductCode").keydown(function (event) {
            if (event.which === 13) {
                let productCode = $("#inputReturnProductCode").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url:'@Url.Action("GetProductByCodeAction", "PurchaseReturn")',
                    data: { "productCode": productCode, "isMultiUnit": isMultiUnit, "isMultiCurrency": isMultiCurrency },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            responseUnSuccessful(response);
                        }
                        else {
                            if (!response.IsExistProduct)
                                showToast(0, '@Inventory.Common.AppConstants.Message.NoProductByCode');
                            else {
                                $("#inputReturnNumber").val(response.Product.ProductID);
                                $("#inputReturnProductID").val(response.Product.ProductID);
                                $("#inputReturnProductName").val(response.Product.ProductName);
                                $("#inputReturnProductQuantity").val('1');
                                $("#inputReturnProductPrice").val(response.Product.PurchasePrice);
                                if (response.DisPercent != 0) $("#inputReturnProductDisPercent").val(response.Product.DisPercent);
                                else $("#inputReturnProductDisPercent").val("");
                                if(isMultiUnit) createUnitData(response);
                                if(isMultiCurrency) createCurrencyData(response);
                                showHideTranPurchaseReturnAddEditByProduct(false);
                            }
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                })
            }
        })

        $("#inputSearchReturnProduct").keydown(function (event) {
            if (event.which === 13) {
                let keyword = $("#inputSearchReturnProduct").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProductByKeywordAction","PurchaseReturn")',
                    data: { "keyword": keyword },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (response.length == 0)
                            showToast(0, '@Inventory.Common.AppConstants.Message.NoProduct');
                        else {
                            createSearchProductData(response);
                            $('#modalSearchProduct').modal('show');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                })
            }
        })

        function createSearchProductData(response) {
            $("#tblSearchProduct").find("tbody").empty();
            $.each(response, function (i, item) {
                var rows = "<tr class='row table-item' style='cursor:pointer;'>"
                    + "<td style='display:none;'>" + item.ProductID + "</td>"
                    + '<td class="col-md-8 col-lg-8"><label class="control-label mb-0 text-overflow">' + item.ProductName + '</label></td>'
                    + '<td class="col-md-4 col-lg-4 value-right"><label class="control-label mb-0">' + separatedComma(item.PurchasePrice) + '</label></td>'
                    + "</tr>";
                $('#tblSearchProduct tbody').append(rows);
            });
        }
        $("#tblSearchProduct").on("click", "tbody tr", function (event) {
            $(this).find("td:first").each(function () {
                let productId = $(this).text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchProductClickAction", "PurchaseReturn")',
                    data: { "productID": productId, "isMultiUnit": isMultiUnit, "isMultiCurrency": isMultiCurrency },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            $("#inputReturnNumber").val(response.Product.ProductID);
                            $("#inputReturnProductID").val(response.Product.ProductID);
                            $("#inputReturnProductCode").val(response.Product.Code);
                            $("#inputReturnProductName").val(response.Product.ProductName);
                            $("#inputReturnProductQuantity").val('1');
                            $("#inputReturnProductPrice").val(response.Product.PurchasePrice);
                            if (response.DisPercent != 0) $("#inputReturnProductDisPercent").val(response.Product.DisPercent);
                            else $("#inputReturnProductDisPercent").val("");
                            if(isMultiUnit) createUnitData(response);
                            if(isMultiCurrency) createCurrencyData(response);
                            showHideTranPurchaseReturnAddEditByProduct(false);
                            $('#modalSearchProduct').modal('hide');
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            })
        });
        $("#inputReturnProductQuantity").keydown(function (event) {
            if (event.which === 13) {
                addOrEditTranPurchaseReturnByProduct(isEditTranPurchaseReturnByProduct);
            }
        })
        $("#inputReturnProductPrice").keydown(function (event) {
            if (event.which === 13) {
                addOrEditTranPurchaseReturnByProduct(isEditTranPurchaseReturnByProduct);
            }
        })
        $("#btnAddReturnProduct").click(function (e) {
            addOrEditTranPurchaseReturnByProduct(isEditTranPurchaseReturnByProduct);
        });
        $("#btnEditReturnProduct").click(function (e) {
           addOrEditTranPurchaseReturnByProduct(isEditTranPurchaseReturnByProduct);
        });
        function addOrEditTranPurchaseReturnByProduct(isEdit) {
            let productId = $("#inputReturnProductID").val();
            if (productId.length == 0 || productId == 0) return false;
            let quantity = $("#inputReturnProductQuantity").val();
            if (quantity == 0 || quantity.length == 0) {
                $("#inputReturnProductQuantity").focus();
                return false;
            }
            let price = $("#inputReturnProductPrice").val();
            if (price.length == 0) {
                $("#inputReturnProductPrice").focus();
                return false;
            }
            let disPercent, unitId, currencyId, unitKeyword, currencyKeyword, isItemFOC = false;
            let number = $("#inputReturnNumber").val();
            let productCode=$("#inputReturnProductCode").val();
            let productName=$("#inputReturnProductName").val();
            disPercent = $("#inputReturnProductDisPercent").val();
            if (disPercent.length == 0) disPercent = 0;
            if (isMultiUnit == "True") {
                unitId = $('#divddlUnit option:selected').val();
                unitKeyword = $('#divddlUnit option:selected').text();
            }
            if (isMultiCurrency == "True") {
                currencyId = $('#divddlCurrency option:selected').val();
                currencyKeyword = $('#divddlCurrency option:selected').text();
            }
            if ($('#chkItemFOC').is(":checked")) isItemFOC = true;
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranPurchaseReturnByProductAddEditAction", "PurchaseReturn")',
                data: {
                    "productID": productId, "productName": productName, "code": productCode, "quantity": quantity, "purPrice": price,
                    "disPercent": disPercent, "unitId": unitId, "unitKeyword": unitKeyword, "currencyId": currencyId, "currencyKeyword": currencyKeyword,
                    "isEdit": isEdit, "isItemFOC": isItemFOC,"number":number
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranPurchaseReturnByProductData(response.LstTranPurchaseReturn);
                        $("#lblTotal").text(separatedComma(response.SubTotal));
                        $("#lblTotal").val(response.SubTotal);
                        clearPurchaseReturnByProductArea();
                        $('#inputReturnProductPrice').prop("disabled", false);
                        showHideTranPurchaseReturnAddEditByProduct(false);
                        isEditTranPurchaseReturnByProduct = false;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            })
        }
        function createTranPurchaseReturnByProductData(lstTranPurchaseReturn) {
            $("#tblTranPurchaseReturnByProduct").find("tbody").empty();
            $.each(lstTranPurchaseReturn, function (i, item) {
                if (item.UnitKeyword == null) item.UnitKeyword = '';
                if (item.CurrencyKeyword == null) item.CurrencyKeyword = '';
                let row = '<tr class="row tran-table-item-row">'
                       + '<td style="display:none;">' + item.ProductID + '</td>'
                       + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0 text-link text-overflow">' + item.ProductName + '</label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Quantity + '<span class="control-span-sm">&nbsp;' + item.UnitKeyword + '</span></label></td>'
                       + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + separatedComma(item.PurchasePrice) + '<span class="control-span-sm">&nbsp;' + item.CurrencyKeyword + '</span></label></td>'
                       + '<td class="col-md-1 col-lg-1"><label class="control-label mb-0">' + separatedComma(item.Discount) + '</label></td>'
                       + '<td class="col-md-2 col-lg-2 value-right"><label class="control-label mb-0">' + separatedComma(item.Amount) + '</label></td>'
                       + '<td class="col-md-1 col-lg-1 value-right"><button class="btn-icon gray" title="Delete" onclick="tranPurchaseReturnByProductTableAction(3)"><i class="fa fa-remove"></i></button></td>'
                       + '<td style="display:none;">' + item.Number + '</td>'
                       + '</tr>';
                $('#tblTranPurchaseReturnByProduct tbody').append(row);
            })
        }
        $("#tblTranPurchaseReturnByProduct").on("click", "tbody tr", function (event) {
            $('#tblTranPurchaseReturnByProduct tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                let number = $(this).text();
                if (tranPurchaseReturnByProductAction == 3) {
                    tranPurchaseReturnByProductAction = 0;
                    deleteTranPurchaseReturnByProduct(number);
                } else {
                    prepareToEditTranPurchaseReturnByProduct(number);
                }
            })
        });
        function deleteTranPurchaseReturnByProduct(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("TranPurchaseReturnByProductDeleteAction", "PurchaseReturn")',
                data: { "number": number },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.IsRequestSuccess)
                        redirectToLogin();
                    else {
                        createTranPurchaseReturnByProductData(response.LstTranPurchaseReturn);
                        $("#lblTotal").text(separatedComma(response.SubTotal));
                        $("#lblTotal").val(response.SubTotal);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        function prepareToEditTranPurchaseReturnByProduct(number) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PrepareToEditTranPurchaseReturnByProductAction", "PurchaseReturn")',
                data: { "number": number,"isMultiUnit":isMultiUnit,"isMultiCurrency":isMultiCurrency },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        responseUnSuccessful(response);
                    }
                    else {
                        showHideTranPurchaseReturnAddEditByProduct(true);
                        $("#inputReturnNumber").val(number);
                        $("#inputReturnProductID").val(response.Product.ProductID);
                        $("#inputReturnProductCode").val(response.Product.ProductCode);
                        $("#inputReturnProductName").val(response.Product.ProductName);
                        $("#inputReturnProductQuantity").val(response.Product.Quantity);
                        $("#inputReturnProductPrice").val(response.Product.PurchasePrice);
                        $("#inputReturnProductDisPercent").val(response.Product.DiscountPercent);
                        if (isMultiUnit == "True") {
                            createUnitData(response);
                            $("#ddlUnit").val(response.Product.UnitID);
                        }
                        if (isMultiCurrency == "True") {
                            createCurrencyData(response);
                            $("#ddlCurrency").val(response.Product.CurrencyID);
                        }
                        if (response.Product.IsFOC == true)
                        {
                            $('#inputReturnProductPrice').prop("disabled", true);
                            $("#chkItemFOC").prop('checked', true);
                        }
                        else $("#chkItemFOC").prop('checked', false);
                        isEditTranPurchaseReturnByProduct = true;
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
        $('#chkItemFOC').change(function () {
            let productId = $('#inputReturnProductID').val();
            if (productId == "") return;
            if (this.checked) {
                prevPurchasePrice = $('#inputReturnProductPrice').val();
                $('#inputReturnProductPrice').val('0');
                $('#inputReturnProductPrice').prop("disabled",true);
            }
            else {
                $('#inputReturnProductPrice').val(prevPurchasePrice);
                $('#inputReturnProductPrice').prop("disabled", false);
            }
        });

    });

    function showHideTranPurchaseReturnAddEdit(isEdit) {
        if (isEdit) {
            $('#btnAdd').css("display", "none");
            $("#btnEdit").show();
        } else {
            $("#btnAdd").show();
            $('#btnEdit').css("display", "none");
        }
    }
    function showHideTranPurchaseReturnAddEditByProduct(isEdit) {
        if(isEdit)
        {
            $('#btnAddReturnProduct').css("display", "none");
            $('#btnEditReturnProduct').css("display", "block");
        }
        else
        {
            $('#btnAddReturnProduct').css("display", "block");
            $('#btnEditReturnProduct').css("display", "none");
        }
    }
    function showHideMainButton(isEdit) {
        if (isEdit) {
            $('#btnCancel').css("display", "none");
            $('#btnContinue').css("display", "none");
            $('#btnRemarkOk').css("display", "none");
        } else {
            $("#btnEditCancel").css("display", "none");
            $('#btnEditContinue').css("display", "none");
            $('#btnRemarkEdit').css("display", "none");
        }
    }
    function tranPurchaseReturnTableAction(value) {
        tranPurchaseReturnAction = value;
    }
    function tranPurchaseReturnByProductTableAction(value) {
        tranPurchaseReturnByProductAction = value;
    }
    function createUnitData(response) {
        let unit;
        $("#ddlUnit").html("");
        for (var i = 0; i < response.LstUnit.length; i++) {
            unit += '<option value="' + response.LstUnit[i].UnitID + '">' + response.LstUnit[i].Keyword + '</option>';
        }
        $("#ddlUnit").append(unit);
    }
    function createCurrencyData(response) {
        let currency;
        $("#ddlCurrency").html("");
        for (var i = 0; i < response.LstCurrency.length; i++) {
            currency += '<option value="' + response.LstCurrency[i].CurrencyID + '">' + response.LstCurrency[i].Keyword + '</option>';
        }
        $("#ddlCurrency").append(currency);
    }

</script>


