@using Inventory.ViewModels;
@model RpBottomSaleItemViewModel

@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let filter;
        $(document).ready(function () {
            let title = '@Resource.BottomSaleItemReport';
            let fromDate = '@Model.FromDate.ToShortDateString()';
            let toDate = '@Model.ToDate.ToShortDateString()';
            filter = "";
            setReportTitle(title);
            setDefaultFilter(fromDate, toDate, filter);
        })
    </script>
</head>

<div>
    <div class="row table-header">
        <div class="col-md-2 col-lg-2">@Resource.Code</div>
        <div class="col-md-2 col-lg-2">@Resource.ProductName</div>
        <div class="col-md-2 col-lg-2">@Resource.Qty</div>
        <div class="col-md-2 col-lg-2">@Resource.Price</div>
        <div class="col-md-2 col-lg-2">@Resource.Dis</div>
        <div class="col-md-2 col-lg-2">@Resource.Amount</div>
    </div>
    @{
        var productId = 0;

        foreach (var item in Model.lstTranSale as List<RpBottomSaleItemViewModel.TranSaleModels>)
        {
            if (productId != 0)
            {
                if (productId != item.ProductID)
                {
                    <div class="row rpt-sub-total">
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2">@Resource.Total</div>
                        <div class="col-md-2 col-lg-2">@Model.lstTranSale.Where(m => m.ProductID == productId).Sum(m => m.Quantity)</div>
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2">@Model.lstTranSale.Where(m =>m.ProductID == productId).Sum(m => m.Amount)</div>
                    </div>
                }
            }

            <div class="row rpt-item">
                <div class="col-md-2 col-lg-2">@item.ProductCode</div>
                <div class="col-md-2 col-lg-2">@item.ProductName</div>
                <div class="col-md-2 col-lg-2">@item.Quantity</div>
                <div class="col-md-2 col-lg-2">@item.SalePrice</div>
                <div class="col-md-2 col-lg-2">@item.Discount</div>
                <div class="col-md-2 col-lg-2">@item.Amount</div>
            </div>
            productId = item.ProductID;
        }

        var listCount = Model.lstTranSale.Count();
        if (listCount != 0)
        {
            var lastProductID = Model.lstTranSale[listCount - 1].ProductID;
            List<RpBottomSaleItemViewModel.TranSaleModels> list = Model.lstTranSale.Where(m => m.ProductID == lastProductID).ToList();
            if (list.Count() > 1)
            {
                <div class="row rpt-sub-total">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-2 col-lg-2">@Resource.Total</div>
                    <div class="col-md-2 col-lg-2">@Model.lstTranSale.Where(m => m.ProductID == lastProductID).Sum(m => m.Quantity)</div>
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-2 col-lg-2">@Model.lstTranSale.Where(m => m.ProductID == lastProductID).Sum(m => m.Amount)</div>
                </div>
            }
        }

    }

</div>
