<table id="tblTranPurOrder" class="width-100-percent">
    <thead>
        <tr class="row voucher-table-header">
            <td class="col-md-5 col-lg-5">@Resource.Product</td>
            <td class="col-md-3 col-lg-3">@Resource.Qty</td>
            <td class="col-md-2 col-lg-2">@Resource.Price</td>
            <td class="col-md-2 col-lg-2 aligh-right">@Resource.Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<table class="width-100-percent">
    <tr class="voucher-divider">
        <td><label class="voucher-sub-footer">@Resource.Subtotal@Resource.ColonSign</label></td>
        <td class="aligh-right"><label id="lblSubtotal" class="voucher-sub-footer"></label></td>
    </tr>
    <tr class="voucher-divider">
        <td><label class="voucher-sub-footer">@Resource.Tax@Resource.ColonSign</label></td>
        <td class="aligh-right"><label id="lblTaxValue" class="voucher-sub-footer"></label></td>
    </tr>
    <tr class="voucher-divider">
        <td><label class="voucher-sub-footer">@Resource.Charges@Resource.ColonSign</label></td>
        <td class="aligh-right"><label id="lblChargesValue" class="voucher-sub-footer"></label></td>
    </tr>
    <tr class="voucher-divider">
        <td><label class="voucher-sub-footer">@Resource.Total@Resource.ColonSign</label></td>
        <td class="aligh-right"><label id="lblTotal" class="voucher-sub-footer"></label></td>
    </tr>
</table>

