<!DOCTYPE html>
<html lang="en">
<!-- settings23:07-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>QuickInventory - POS & Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  
    <div class="main-wrapper">        
        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/assets/img/logo.png" width="35" height="35" alt="">
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <div class="page-title-box float-left">
                <h3>@Resource.QuickInventory</h3>
            </div>
            <div class="toast" data-autohide="true" style="position:absolute;right:0;">
                <div class="toast-header">
                    <strong id="lblToastHeader" class="mr-auto">header</strong>                    
                </div>
                <div class="toast-body">
                    <label id="lblToastMessage">message</label>
                </div>
            </div>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span id="loginUser"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">@Resource.MyProfile</a>
                        <a class="dropdown-item" href="#">@Resource.EditProfile</a>
                        <a class="dropdown-item" href="#">@Resource.Settings</a>
                        <a class="dropdown-item" href="~/User/Login">@Resource.Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">@Resource.MyProfile</a>
                    <a class="dropdown-item" href="#">@Resource.EditProfile</a>
                    <a class="dropdown-item" href="#">@Resource.Settings</a>
                    <a class="dropdown-item" href="~/User/Login">@Resource.Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-menu">
                    <ul>
                        <li id="linkBackHome">
                            <a href="#"><i class="fa fa-home back-icon"></i> <span>@Resource.BackToHome</span></a>
                        </li>
                        <li class="menu-title">@Resource.Settings</li>                        
                        <li id="menuUser">
                            <a href="~/User/UserList"><i class="fa fa-user"></i> <span>@Resource.User</span></a>
                        </li> 
                        <li id="menuUserRight">
                            <a href="#"><i class="fa fa-key"></i> <span>@Resource.UserRight</span></a>
                        </li>    
                        <li id="menuDivision">
                            <a href="~/Division/DivisionList?p=1"><i class="fa fa-th"></i> <span>@Resource.Division</span></a>
                        </li> 
                        <li id="menuTownship">
                            <a href="~/Township/TownshipList?p=1"><i class="fa fa-th"></i> <span>@Resource.Township</span></a>
                        </li> 
                        <li id="menuCustomer">
                            <a href="~/Customer/CustomerList?p=1"><i class="fa fa-user"></i> <span>@Resource.Customer</span></a>
                        </li> 
                        <li id="menuSupplier">
                            <a href="~/Supplier/SupplierList?p=1"><i class="fa fa-user"></i> <span>@Resource.Supplier</span></a>
                        </li> 
                        <li id="menuStaff">
                            <a href="~/Staff/StaffList"><i class="fa fa-user"></i> <span>@Resource.Staff</span></a>
                        </li> 
                        <li id="menuMainMenu">
                            <a href="~/MainMenu/MainMenuList?p=1"><i class="fa fa-file-text-o"></i> <span>@Resource.MainMenu</span></a>
                        </li>  
                        <li id="menuSubMenu">
                            <a href="~/SubMenu/SubMenuList?p=1"><i class="fa fa-file-text-o"></i> <span>@Resource.SubMenu</span></a>
                        </li>    
                        <li id="menuProduct">
                            <a href="~/Product/ProductList?p=1"><i class="fa fa-cube"></i> <span>@Resource.Product</span></a>
                        </li>    
                        <li id="menuBank">
                            <a href="~/Bank/BankList?p=1"><i class="fa fa-bank"></i> <span>@Resource.Bank</span></a>
                        </li>
                        <li id="menuBankPayment">
                            <a href="~/BankPayment/BankPaymentList?p=1"><i class="fa fa-money"></i> <span>@Resource.BankPayment</span></a>
                        </li>                                                                                         
                        <li id="menuClient">
                            <a href="~/Client/ClientList"><i class="fa fa-user"></i> <span>@Resource.Client</span></a>
                        </li> 
                        <li id="menuAdjustType">
                            <a href="~/AdjustType/AdjustTypeList?p=1"><i class="fa fa-adjust"></i> <span>@Resource.AdjustType</span></a>
                        </li>                                    
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">            
                @RenderBody()
            </div>        
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <script>
        var isMultiCurrency = false, isMultiUnit = false, isBankPayment = false,
            userId = 0, userName, isTechnician = 0;

        isMultiCurrency = localStorage.getItem("IsMultiCurrency");
        isMultiUnit = localStorage.getItem("IsMultiUnit");
        isBankPayment = localStorage.getItem("IsBankPayment");
        userId = localStorage.getItem("UserID");
        userName = localStorage.getItem("UserName");
        isTechnician = localStorage.getItem("IsTechnician");

        $("#loginUser").text(userName);

        if (isTechnician == 0) hideModule();

        $(function () {
            $('.toast').toast({
                delay: 3000
            });

            $('#menuUserRight').click(function () {
                window.location.href = '@Url.Action("UserRight", "UserRight")?userId=' + userId + '&isTechnician=' + isTechnician;
            });

            $('#linkBackHome').click(function () {
                if(isTechnician == 1)window.location.href = '@Url.Action("Dashboard", "Home")';
                else window.location.href = '@Url.Action("Index", "Entry")?userId=' + userId + '&isTechnician=' + isTechnician;
            });
        });

        function showToast(type,message){
            $('.toast').toast('show');
            if (type == 1) {
                $('#lblToastHeader').text("Success");
                $('.toast-header').removeClass("toast-error");
                $('.toast-header').addClass("toast-success");
            } else if (type == 0) {
                $('#lblToastHeader').text("Alert");
                $('.toast-header').removeClass("toast-success");
                $('.toast-header').addClass("toast-error");
            }
            $('#lblToastMessage').text(message);
        }

        $(document).on('keypress', '.numberonly', function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/^[0-9]*$/)) {
                return false;
            }
        });

        function responseUnSuccessful(response) {
            if (response.ResultDefaultData.UnSuccessfulReason == '@Inventory.Common.AppConstants.RequestUnSuccessful.SessionExpired') {
                alert('@Resource.SessionExpired');
                redirectToLogin();
            } else if (response.ResultDefaultData.UnSuccessfulReason == '@Inventory.Common.AppConstants.RequestUnSuccessful.InCompletedData') {
                showToast(0, response.ResultDefaultData.Message);
            } else if (response.ResultDefaultData.UnSuccessfulReason == '@Inventory.Common.AppConstants.RequestUnSuccessful.UnExpectedError') {
                showToast(0, response.ResultDefaultData.Message);
            }
        }

        function hideModule() {  
            let isShowUserModule = localStorage.getItem("UserModule");
            let isShowUserRightModule = localStorage.getItem("UserRightModule");
            let isShowDivisionModule = localStorage.getItem("DivisionModule");
            let isShowTownshipModule = localStorage.getItem("TownshipModule");
            let isShowCustomerModule = localStorage.getItem("CustomerModule");
            let isShowSupplierModule = localStorage.getItem("SupplierModule");
            let isShowStaffModule = localStorage.getItem("StaffModule");
            let isShowMainMenuModule = localStorage.getItem("MainMenuModule");
            let isShowSubMenuModule = localStorage.getItem("SubMenuModule");
            let isShowProductModule = localStorage.getItem("ProductModule");
            let isShowBankModule = localStorage.getItem("BankModule");
            let isShowBankPaymentModule = localStorage.getItem("BankPaymentModule");
            let isShowClientModule = localStorage.getItem("ClientModule");
            let isShowAdjustTypeModule = localStorage.getItem("AdjustTypeModule");

            if (isShowUserModule != 'True') $("#menuUser").css('display', 'none');
            if (isShowUserRightModule != 'True') $("#menuUserRight").css('display', 'none');
            if (isShowDivisionModule != 'True') $("#menuDivision").css('display', 'none');
            if (isShowTownshipModule != 'True') $("#menuTownship").css('display', 'none');
            if (isShowCustomerModule != 'True') $("#menuCustomer").css('display', 'none');
            if (isShowSupplierModule != 'True') $("#menuSupplier").css('display', 'none');
            if (isShowStaffModule != 'True') $("#menuStaff").css('display', 'none');
            if (isShowMainMenuModule != 'True') $("#menuMainMenu").css('display', 'none');
            if (isShowSubMenuModule != 'True') $("#menuSubMenu").css('display', 'none');
            if (isShowProductModule != 'True') $("#menuProduct").css('display', 'none');
            if (isShowBankModule != 'True') $("#menuBank").css('display', 'none');
            if (isShowBankPaymentModule != 'True') $("#menuBankPayment").css('display', 'none');
            if (isShowClientModule != 'True') $("#menuClient").css('display', 'none');
            if (isShowAdjustTypeModule != 'True') $("#menuAdjustType").css('display', 'none');
        }

    </script>
</body>

<!-- settings23:11-->
</html>