<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>QuickInventory - POS & Inventory Management</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">

        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/assets/img/logo.png" width="35" height="35" alt=""> <span>@Resource.QuickInventory</span>
                </a>               
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>

            <div class="header-left align-center">
                <span id="spnModule" class="header-module">Module</span>
                <span class="header-module"> &nbsp;/&nbsp; </span>
                <span id="spnSubModule" class="header-sub-module">SubModule</span>
            </div>
                          
            <div class="toast" data-autohide="true" style="position:absolute;right:0;">
                <div class="toast-header">
                    <strong id="lblToastHeader" class="mr-auto">header</strong>
                </div>
                <div class="toast-body">
                    <label id="lblToastMessage">message</label>
                </div>
            </div>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">          
                <li class="nav-item dropdown d-none d-sm-block" title="@Resource.OpenedBills">
                    <a href="#" class="nav-link"><i class="fa fa-dollar"></i></a>                   
                </li>               
                <li class="nav-item dropdown d-none d-sm-block" title="@Resource.Settings">
                    <a href="#" class="nav-link"><i class="fa fa-cog"></i></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span id="loginUser"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="~/CompanySetting/CompanySettingEntry">Settings</a>
                        <a class="dropdown-item" href="~/User/Login">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">@Resource.MyProfile</a>
                    <a class="dropdown-item" href="#">@Resource.EditProfile</a>
                    <a class="dropdown-item" href="~/CompanySetting/CompanySettingEntry">@Resource.Settings</a>
                    <a class="dropdown-item" href="~/User/Login">@Resource.Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li id="menuDashboard">
                            <a href="~/Home/Dashboard"><i class="fa fa-dashboard"></i> <span>@Resource.Dashboard</span></a>
                        </li>       
                        <li class="submenu">
                            <a href=""><i class="fa fa-fax"></i> <span> @Resource.Sale </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuSaleGp">
                                <li id="subMenuSale"><a href="#">@Resource.POS</a></li>
                                <li id="subMenuOpenBill"><a href="#">@Resource.OpenedBills</a></li>
                                <li id="subMenuSaleList"><a href="#">@Resource.ListSale</a></li>
                                <li id="subMenuClientSaleOrder"><a href="~/CLSaleOrder/CLMasterSaleOrderList">@Resource.ClientSaleOrder</a></li>                               
                                <li id="subMenuSaleOrderList"><a href="#">@Resource.ListSaleOrder</a></li>
                                <li id="subMenuSaleOrder"><a href="#">@Resource.AddSaleOrder</a></li>
                            </ul>
                        </li>  
                        <li class="submenu">
                            <a href=""><i class="fa fa-plus"></i> <span> @Resource.Purchase </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuPurchaseGp">
                                <li id="subMenuPurchaseList"><a href="#">@Resource.ListPurchase</a></li>  
                                <li id="subMenuPurchase"><a href="#">@Resource.AddPurchase</a></li>   
                                <li id="subMenuPurchaseOrderList"><a href="#">@Resource.ListPurchaseOrder</a></li>
                                <li id="subMenuPurchaseOrder"><a href="#">@Resource.AddPurchaseOrder</a></li>                            
                            </ul>
                        </li>  
                        <li class="submenu">
                            <a href=""><i class="fa fa-adjust"></i> <span> @Resource.Adjustment </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuAdjustmentGp">
                                <li id="subMenuAdjustmentList"><a href="#">@Resource.ListAdjustment</a></li>
                                <li id="subMenuAdjustment"><a href="#">@Resource.AddAdjustment</a></li>
                            </ul>
                        </li> 
                        <li class="submenu">
                            <a href=""><i class="fa fa-exchange"></i> <span> @Resource.Transfer </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuTransferGp">
                                <li id="subMenuTransferList"><a href="#">@Resource.ListTransfer</a></li>
                                <li id="subMenuTransfer"><a href="#">@Resource.AddTransfer</a></li>
                            </ul>
                        </li> 
                        <li class="submenu">
                            <a href=""><i class="fa fa-sitemap"></i> <span> @Resource.Consignment </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuConsignmentGp">
                                <li id="subMenuCustomerConsignList"><a href="#">@Resource.ListCustomerConsign</a></li>
                                <li id="subMenuCustomerConsign"><a href="#">@Resource.AddCustomerConsign</a></li>
                            </ul>
                        </li>  
                        <li class="submenu">
                            <a href=""><i class="fa fa-cubes"></i> <span> @Resource.OpeningStock </span> <span class="menu-arrow"></span></a>
                            <ul id="subMenuOpeningStockGp">
                                <li id="subMenuOpeningStockList"><a href="#">@Resource.ListOpeningStock</a></li>
                                <li id="subMenuOpeningStock"><a href="#">@Resource.AddOpeningStock</a></li>
                            </ul>
                        </li>          
                        <li>
                            <a href="~/CompanySetting/CompanySettingEntry"><i class="fa fa-cog"></i> <span>@Resource.Settings</span></a>
                        </li>                                            
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">@RenderBody()</div>
        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>

    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Site.js"></script>

    <script>
        var userId = 0, userName, isMultiUnit = false, isMultiCurrency = false, isBankPayment = false;
        const SaleModule = 1, PurchaseModule = 2;

        userId = localStorage.getItem("UserID");
        userName = localStorage.getItem("UserName");
        isMultiUnit = localStorage.getItem("IsMultiUnit");
        isMultiCurrency = localStorage.getItem("IsMultiCurrency");
        isBankPayment = localStorage.getItem("IsBankPayment");

        $("#loginUser").text(userName);

        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT'
            });
			$('#datetimepicker4').datetimepicker({
                format: 'LT'
			});
			$('#subMenuSale').click(function () {
			    window.location.href = '@Url.Action("POS", "Sale")?userId=' + userId;
			});
            $('#subMenuSaleList').click(function () {
                window.location.href = '@Url.Action("ListSale", "Sale")?userId=' + userId;
            });
            $('#subMenuOpenBill').click(function () {
                window.location.href = '@Url.Action("ListOpenBill", "Sale")?userId=' + userId;
            });
            $('#subMenuPurchase').click(function () {
                window.location.href = '@Url.Action("Purchase", "Purchase")?userId=' + userId;
            });
            $('#subMenuPurchaseList').click(function () {
                window.location.href = '@Url.Action("ListPurchase", "Purchase")?userId=' + userId;
            });
            $('#subMenuSaleOrder').click(function () {
                window.location.href = '@Url.Action("SaleOrder", "SaleOrder")?userId=' + userId;
            });
            $('#subMenuSaleOrderList').click(function () {
                window.location.href = '@Url.Action("ListSaleOrder", "SaleOrder")?userId=' + userId;
            });
            $('#subMenuPurchaseOrder').click(function () {
                window.location.href = '@Url.Action("PurchaseOrder", "PurchaseOrder")?userId=' + userId;
            });
            $('#subMenuPurchaseOrderList').click(function () {
                window.location.href = '@Url.Action("ListPurchaseOrder", "PurchaseOrder")?userId=' + userId;
            });
            $('#subMenuAdjustmentList').click(function () {
                window.location.href = '@Url.Action("ListAdjustment", "Adjustment")?userId=' + userId;
            });
            $('#subMenuAdjustment').click(function () {
                window.location.href = '@Url.Action("Adjustment", "Adjustment")?userId=' + userId;
            });
            $('#subMenuTransferList').click(function () {
                window.location.href = '@Url.Action("ListTransfer", "Transfer")?userId=' + userId;
            });
            $('#subMenuTransfer').click(function () {
                window.location.href = '@Url.Action("Transfer", "Transfer")?userId=' + userId;
            });
            $('#subMenuCustomerConsignList').click(function () {
                window.location.href = '@Url.Action("ListCustomerConsign", "CustomerConsign")?userId=' + userId;
            });
            $('#subMenuCustomerConsign').click(function () {
                window.location.href = '@Url.Action("CustomerConsign", "CustomerConsign")?userId=' + userId;
            });
            $('#subMenuOpeningStockList').click(function () {
                window.location.href = '@Url.Action("ListOpeningStock", "OpeningStock")?userId=' + userId;
            });
            $('#subMenuOpeningStock').click(function () {
                window.location.href = '@Url.Action("OpeningStock", "OpeningStock")?userId=' + userId;
            });
            $('.toast').toast({
                delay: 3000
            });
        });

        function showToast(type, message) {
            $('.toast').toast('show');
            if (type == 1) {
                $('#lblToastHeader').text("Success");
                $('.toast-header').removeClass("toast-error");
                $('.toast-header').addClass("toast-success");
            } else if (type == 0) {
                $('#lblToastHeader').text("Alert");
                $('.toast-header').removeClass("toast-success");
                $('.toast-header').addClass("toast-error");
            }
            $('#lblToastMessage').text(message);
        }

        function showAlertInDialog(type, message) {
            if (type == 1) $("#divAlertSuccess").delay(3000).addClass("in").toggle(true).fadeOut(500);
            else if (type == 0) $("#divAlertError").delay(3000).addClass("in").toggle(true).fadeOut(500);
            $("#spnAlertMessage").text(message);
        }

        function redirectToLogin() {
            window.location.href = '@Url.Action("Login", "User")';
        }

        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            return result;
        }

        function getTodayDate() {
            let date = new Date();
            let day = ("0" + date.getDate()).slice(-2);
            let month = ("0" + (date.getMonth() + 1)).slice(-2);
            let today = date.getFullYear() + "-" + (month) + "-" + (day);
            return today;
        }

        function createPaging(totalPage, currentPage) {
            if (totalPage == 0)
                $("#divPaging").css("display", "none");
            else {
                let pageItem;
                $("#divPaging").show();
                $("#divPagingItem").empty();
                if (currentPage.length != 0) $("#lblPageNumber").text("Page: " + currentPage);
                for (let i = 1; i <= totalPage; i++) {
                    pageItem += '<button class="btnPage btn btn-paging">' + i + '</button>'
                }
                $('#divPagingItem').append(pageItem);
            }
        }

        $(document).on('keypress', '.numberonly', function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/^[0-9]*$/)) {
                return false;
            }
        });

        function setModuleTitle(module, subModule) {
            $("#spnModule").text(module);
            $("#spnSubModule").text(subModule);
        }

    </script>

</body>

</html>