@using Inventory.ViewModels
@model PaymentViewModel

<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">@Resource.Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divAlertError" class="alert alert-danger alert-dismissible fade show" style="display:none;">                   
                    <h4 class="alert-heading">Alert!</h4><span id="spnAlertMessage"></span> 
                </div>  
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <table class="width-100-percent" style="border-spacing:0 0.5em;border-collapse:separate;">
                            <tr>
                                <td><label class="control-label mb-0">@Resource.PayType</label></td>
                                <td>@Html.DropDownList("Payment", Model.PayTypes, new { @id = "ddlPayment", @class = "form-control control-input" })</td>
                            </tr>                          
                            <tr id="trLimitedDay" class="soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.LimitedDay</label></td>
                                <td class="padding-10">@Html.DropDownList("LimitedDay", Model.LimitedDays, new { @id = "ddlLimitedDay", @class = "form-control control-input" })</td>
                            </tr>
                            <tr class="trAdvancedPay soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.AdvancedPay</label></td>
                                <td class="padding-10"><input id="inputAdvancedPay" type="text" class="form-control control-input numberonly" /></td>
                            </tr>                                                 
                            <tr id="trPayMethod">
                                <td><label class="control-label mb-0">@Resource.PayMethod</label></td>
                                <td>@Html.DropDownList("PayMethod", Model.PayMethods, new { @id = "ddlPayMethod", @class = "form-control control-input" })</td>
                            </tr>                                                                      
                            <tr id="trBankPayment" class="soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.BankPay</label></td>
                                <td class="padding-10">@Html.DropDownList("BankPayment", Model.BankPayments, new { @id = "ddlBankPayment", @class = "form-control control-input" })</td>
                            </tr>
                            <tr class="trPercent soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.Percent</label></td>
                                <td class="padding-10"><input id="inputPercent" type="text" class="form-control control-input numberonly" maxlength="2" /></td>
                            </tr>                                      
                        </table>  
                        <div class="row">
                            <div class="col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label class="control-label mb-0">@Resource.VoucherDiscount</label>
                                    <input id="inputVouDisAmount" type="text" class="form-control control-input numberonly" />
                                    <input id="inputVouDisPercent" type="text" class="form-control control-input numberonly" maxlength="2" />
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 align-center"> 
                                <input id="inputHdnVouDisType" type="hidden"/>
                                <button id="btnDiscountAmount" class="discount" value="2">@Resource.DolorSign</button>                                                         
                                <button id="btnDiscountPercent" class="discount-active" value="1">@Resource.PercentSign</button>                                                                                  
                            </div>
                        </div>  
                        <div id="divVoucherFOC" class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group soft-gray-background padding-10">
                                    <input id="chkVoucherFOC" type="checkbox" /><span>&nbsp;&nbsp;@Resource.VoucherFOC</span>
                                </div>
                            </div>
                        </div>                         
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label mb-0">@Resource.Remark</label>
                                    <textarea id="txtRemark" class="form-control control-input"></textarea>
                                </div>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <table class="width-100-percent padding-10 soft-gray-background" style="border-spacing:0.5em;border-collapse:separate;">
                            <tr>
                                <td><label class="control-label mb-0">@Resource.TotalItems@Resource.ColonSign</label></td>
                                <td><label id="lblPayTotalItem" class="control-input mb-0">0</label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label mb-0">@Resource.TotalPay@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPayTotal" type="hidden" /><label id="lblPayTotal" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr class="trAdvancedPay">
                                <td><label class="control-label mb-0">@Resource.AdvancedPay@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnAdvancedPay" type="hidden" /><label id="lblAdvancedPay" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr>
                                <td><label class="control-label mb-0">@Resource.VoucherDiscount@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnVoucherDiscount" type="hidden" /><label id="lblVoucherDiscount" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr>
                                <td><label class="total-amount-label mb-0">@Resource.Grandtotal@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPayGrandtotal" type="hidden" /><label id="lblPayGrandtotal" class="total-amount-value mb-0">0</label></div></td>
                            </tr>
                            <tr class="trPercent">
                                <td><label class="control-label mb-0">@Resource.Percent@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPercent" type="hidden" /><label id="lblPercent" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr id="trPcntGrandtotal">
                                <td></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPcntGrandtotal" type="hidden" /><label id="lblPcntGrandtotal" class="total-amount-value mb-0">0</label></div></td>
                            </tr>
                            <tr id="trPaid">
                                <td><label class="control-label mb-0">@Resource.Paid@Resource.ColonSign</label></td>
                                <td class="value-right"><input id="inputPaid" type="text" class="form-control control-input numberonly" style="text-align:right;"/></td>
                            </tr>
                            <tr id="trReturnChange">
                                <td><label class="control-label mb-0">@Resource.ReturnChange@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><label id="lblReturnChange" class="control-input mb-0">0</label></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" class="btn btn-white-outline-third">@Resource.Close</button>
                <button id="btnSubmit" class="btn btn-first" data-dismiss="modal" aria-label="Close">@Resource.Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var isDisplayLimitedDay;

    function initializePaymentControl(isDisplayLimitedDay) {
        this.isDisplayLimitedDay = isDisplayLimitedDay;
        showHideByPayment(1);
        showHideByPayMethod(1);
        $("#inputHdnVouDisType").val('');
        changeDiscountType(1);
        clearPaidChange();
    }

    function showHideByPayment(value) {
        clearByPayment();
        let payMethodVal = $('#ddlPayMethod option:selected').val();
        showHideVoucherFOC(value, payMethodVal);
        if (value == 1) {  //cash
            $("#trLimitedDay").css('display', 'none');
            $(".trAdvancedPay").css('display', 'none');
        } else if (value == 2) {  //credit  
            $(".trAdvancedPay").show();
            if (isDisplayLimitedDay == true) {
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetLimitedDayAction", "PaymentDialog")',
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        createLimitedDayData(response);
                        $("#trLimitedDay").show();
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        }
    }

    function showHideByPayMethod(value) {
        clearByPayMethod();
        let paymentVal = $('#ddlPayment option:selected').val();
        showHideVoucherFOC(paymentVal, value);
        if (value == 1) {  //cash in hand
            $("#trBankPayment").css('display', 'none');
            $(".trPercent").css('display', 'none');
            $("#trPcntGrandtotal").css('display', 'none');
        } else if (value == 2) {  //banking
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBankPaymentAction", "PaymentDialog")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    createBankPaymentData(response);
                    $("#trBankPayment").show();
                    $(".trPercent").show();
                    $("#trPcntGrandtotal").show();
                    let grandtotal = $("#inputHdnPayGrandtotal").val();
                    $("#lblPcntGrandtotal").text(separatedComma(parseInt(grandtotal)));
                    $("#inputHdnPcntGrandtotal").val(grandtotal);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
    }

    function showHideVoucherFOC(paymentVal,payMethodVal) {
        if (paymentVal == 1 && payMethodVal == 1) {  // payment is cash and pay method is cash in hand
            $("#divVoucherFOC").show();
            return;
        }
        $("#divVoucherFOC").css('display', 'none');
    }

    function clearByPayment() {
        $("#inputAdvancedPay").val("");
        $("#lblAdvancedPay").text('0');
        $("#inputHdnAdvancedPay").val("");
    }

    function clearByPayMethod() {
        $("#inputPercent").val("");
        $("#lblPercent").text('0');
        $("#inputHdnPercent").val("");
        $("#lblPcntGrandtotal").text('0');
        $("#inputHdnPcntGrandtotal").val("");
    }

    $("#btnClose").click(function (e) {
        $('#modalPayment').modal('hide');
    });

    $('#ddlPayment').change(function () {
        let val = $('#ddlPayment option:selected').val();
        showHideByPayment(val);
        calcAmount();
    });

    $('#ddlPayMethod').change(function () {
        let val = $('#ddlPayMethod option:selected').val();
        showHideByPayMethod(val);
        calcAmount();
    });

    $('#inputAdvancedPay').keydown(function (event) {
        if (event.which === 13) {
            let totalPay = $("#inputHdnPayTotal").val();
            let advancedPay = $("#inputAdvancedPay").val();
            if (advancedPay.length == 0 || advancedPay == 0) return;
            if (parseInt(advancedPay) > parseInt(totalPay)) {               
                showAlertInDialog(0,"Advanced Pay is greater than Total Pay!");                
                return;
            }
            $("#lblAdvancedPay").text(separatedComma(parseInt(advancedPay)));
            $("#inputHdnAdvancedPay").val(advancedPay);
            calcAmount();
        }
    });

    $('#inputPercent').keydown(function (event) {
        if (event.which === 13) {            
            calcAmount();
        }
    });

    function getPayPercentAmt(grandtotal) {
        let percent = $("#inputPercent").val();
        if (percent == null || percent.length == 0) percent = 0;
        let percentAmt = (parseInt(grandtotal) * parseInt(percent)) / 100;
        return percentAmt;
    }

    function calcAmount() {
        let totalPay,advancedPay,voucherDiscount,grandtotal,percentAmt,percentGrandtotal;
        totalPay = $("#inputHdnPayTotal").val();
        advancedPay = $("#inputHdnAdvancedPay").val();
        voucherDiscount = $("#inputHdnVoucherDiscount").val();

        if (advancedPay == null || advancedPay.length == 0) advancedPay = 0;
        if (voucherDiscount == null || voucherDiscount.length == 0) voucherDiscount = 0;

        grandtotal = parseInt(totalPay) - (parseInt(advancedPay) + parseInt(voucherDiscount));
        $("#lblPayGrandtotal").text(separatedComma(grandtotal));
        $("#inputHdnPayGrandtotal").val(grandtotal);

        percentAmt = parseInt(getPayPercentAmt(grandtotal));
        $("#lblPercent").text(separatedComma(percentAmt));
        $("#inputHdnPercent").val(percentAmt);

        percentGrandtotal = parseInt(grandtotal) + parseInt(percentAmt);
        $("#lblPcntGrandtotal").text(separatedComma(parseInt(percentGrandtotal)));
        $("#inputHdnPcntGrandtotal").val(percentGrandtotal);
    }

    function createLimitedDayData(response) {
        let limitedDay;
        $("#ddlLimitedDay").html("");
        for (var i = 0; i < response.length; i++) {
            limitedDay += '<option value="' + response[i].LimitedDayID + '">' + response[i].LimitedDayName + '</option>';
        }
        $("#ddlLimitedDay").append(limitedDay);
    }

    function createBankPaymentData(response) {
        let bankPayment;
        $("#ddlBankPayment").html("");
        for (var i = 0; i < response.length; i++) {
            bankPayment += '<option value="' + response[i].BankPaymentID + '">' + response[i].Name + '</option>';
        }
        $("#ddlBankPayment").append(bankPayment);
    }    

    $("#btnDiscountPercent").click(function (e) {
        let value = $(this).val();
        changeDiscountType(value);
    });

    $("#btnDiscountAmount").click(function (e) {
        let value = $(this).val();
        changeDiscountType(value);
    });

    function changeDiscountType(value) {
        let discountType = $("#inputHdnVouDisType").val();
        if (value == discountType) return;
        $("#inputVouDisAmount").val("");
        $("#inputVouDisPercent").val("");
        $("#lblVoucherDiscount").text("0");
        $("#inputHdnVoucherDiscount").val(0);
        $("#inputHdnVouDisType").val(value);
        if (value == 1) {  //by percent
            $("#btnDiscountPercent").removeClass('discount');
            $("#btnDiscountPercent").addClass('discount-active');
            $("#btnDiscountAmount").removeClass('discount-active');
            $("#btnDiscountAmount").addClass('discount');
            $("#inputVouDisPercent").show();
            $("#inputVouDisAmount").css('display', 'none');
        } else if (value == 2) {  //by amount
            $("#btnDiscountPercent").removeClass('discount-active');
            $("#btnDiscountPercent").addClass('discount');
            $("#btnDiscountAmount").removeClass('discount');
            $("#btnDiscountAmount").addClass('discount-active');
            $("#inputVouDisAmount").show();
            $("#inputVouDisPercent").css('display', 'none');
        }
        calcAmount();
    }

    $('#inputVouDisAmount').keydown(function (event) {
        if (event.which === 13) {
            let disAmount, percent;
            if ($("#inputVouDisAmount").val() == null || $("#inputVouDisAmount").val().length == 0) return;
            let totalPay = $("#inputHdnPayTotal").val();
            disAmount = $("#inputVouDisAmount").val();                       
            if (parseInt(disAmount) > parseInt(totalPay)) {
                showAlertInDialog(0, "Voucher Discount is greater than Total Pay!");
                return;
            }
            $("#lblVoucherDiscount").text(separatedComma(parseInt(disAmount)));
            $("#inputHdnVoucherDiscount").val(disAmount);
            calcAmount();
        }
    });

    $('#inputVouDisPercent').keydown(function (event) {
        if (event.which === 13) {
            let disAmount, percent;
            if ($("#inputVouDisPercent").val() == null || $("#inputVouDisPercent").val().length == 0) return;
            percent = $("#inputVouDisPercent").val();
            let totalPay = $("#inputHdnPayTotal").val();
            disAmount = (parseInt(totalPay) * parseInt(percent)) / 100;
            $("#lblVoucherDiscount").text(separatedComma(parseInt(disAmount)));
            $("#inputHdnVoucherDiscount").val(parseInt(disAmount));
            calcAmount();
        }
    });

    $('#inputPaid').keydown(function (event) {
        if (event.which === 13) {
            let grandtotal;
            let paidAmt = $("#inputPaid").val();
            if (isBankPayment == "True") {
                let val = $('#ddlPayMethod option:selected').val();
                if (val == 2) {  //banking
                    grandtotal = $("#inputHdnPcntGrandtotal").val();
                    setReturnChange(paidAmt, grandtotal);
                } else {
                    grandtotal = $("#inputHdnPayGrandtotal").val();
                    setReturnChange(paidAmt, grandtotal);
                }
            } else {
                grandtotal = $("#inputHdnPayGrandtotal").val();
                setReturnChange(paidAmt, grandtotal);
            }
        }
    });

    function setReturnChange(paidAmt, grandtotal) {
        if (paidAmt != null && paidAmt.length != 0 && grandtotal != null && grandtotal.length != 0) {
            let changeAmt = parseInt(paidAmt) - parseInt(grandtotal);
            $("#lblReturnChange").text(separatedComma(parseInt(changeAmt)));
        }
    }

    function clearPaidChange() {
        $("#inputPaid").val('');
        $("#lblReturnChange").text('');
    }

</script>
