@using Inventory.ViewModels
@model PaymentViewModel

<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">@Resource.Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divAlertError" class="alert alert-danger alert-dismissible fade show" style="display:none;">                   
                    <h4 class="alert-heading">Alert!</h4><span id="spnAlertMessage"></span> 
                </div>  
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <table class="width-100-percent" style="border-spacing:0 0.5em;border-collapse:separate;">
                            <tr>
                                <td><label class="control-label mb-0">@Resource.PayType</label></td>
                                <td>@Html.DropDownList("Payment", Model.PayTypes, new { @id = "ddlPayment", @class = "form-control control-input" })</td>
                            </tr>                          
                            <tr id="trLimitedDay" class="soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.LimitedDay</label></td>
                                <td class="padding-10">@Html.DropDownList("LimitedDay", Model.LimitedDays, new { @id = "ddlLimitedDay", @class = "form-control control-input" })</td>
                            </tr>
                            <tr class="trAdvancedPay soft-gray-background">
                                <td class="padding-10"><label class="control-label mb-0">@Resource.AdvancedPay</label></td>
                                <td class="padding-10"><input id="inputAdvancedPay" type="text" class="form-control control-input numberonly" /></td>
                            </tr>                                                                                                                                                                                 
                        </table> 

                        <div style="background-color:#f8f9fa;padding:10px">
                            <div id="divUseMultiPayMethod" style="text-align:right;color:#299697">
                                <input id="chkUseMultiPayMethod" type="checkbox" /><span>&nbsp;&nbsp;@Resource.UseMultiPayMethod</span>
                            </div>

                            <div id="divPayMethod" class="m-t-10">
                                <div id="trPayMethod" class="row">
                                    <div class="col-md-4 col-lg-4 align-center">
                                        <label class="control-label mb-0">@Resource.PayMethod</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        @Html.DropDownList("PayMethod", Model.PayMethods, new { @id = "ddlPayMethod", @class = "form-control control-input" })
                                    </div>
                                </div>
                                <div class="soft-gray-background m-t-10">
                                    <div id="trBankPayment" class="row padding-10">
                                        <div class="col-md-4 col-lg-4 align-center">
                                            <label class="control-label mb-0">@Resource.BankPay</label>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            @Html.DropDownList("BankPayment", Model.BankPayments, new { @id = "ddlBankPayment", @class = "form-control control-input" })
                                        </div>
                                    </div>
                                    <div class="row trPercent padding-10">
                                        <div class="col-md-4 col-lg-4 align-center">
                                            <label class="control-label mb-0">@Resource.Percent</label>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <input id="inputPercent" type="text" class="form-control control-input numberonly" maxlength="2" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="divMultiPayMethod" class="padding-10 soft-gray-background m-t-10">
                                <label class="control-label mb-0">@Resource.MultiPayMethod</label>
                                <div class="row m-t-10">
                                    <div class="col-md-4 col-lg-4 align-center">
                                        <label class="control-label mb-0" style="color:#299697;">@Resource.CashInHand</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        <input id="inputCashInHand" type="text" class="form-control control-input numberonly" />
                                    </div>
                                </div>
                                <label class="control-label mb-0 m-t-10" style="color:#299697;">@Resource.Banking</label>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 align-center">
                                        <label class="control-label mb-0">@Resource.BankPay</label>
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        @Html.DropDownList("BankPaymentMulti", Model.BankPayments, new { @id = "ddlBankPaymentMulti", @class = "form-control control-input" })
                                    </div>
                                </div>
                                <div class="row m-t-10">
                                    <div class="col-md-4 col-lg-4 align-center">
                                        <input id="inputBankPaymentPercent" type="text" class="form-control control-input numberonly" maxlength="2" placeholder="%" />
                                    </div>
                                    <div class="col-md-8 col-lg-8">
                                        <input id="inputBankPaymentAmount" type="text" class="form-control control-input numberonly" placeholder="Amount" />
                                    </div>
                                </div>
                                <table id="tblBankPayment" class="width-100-percent m-t-10">
                                    <tbody></tbody>
                                </table>
                            </div> 
                        </div>

                        <div class="row m-t-10">
                            <div class="col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label class="control-label mb-0">@Resource.VoucherDiscount</label>
                                    <input id="inputVouDisAmount" type="text" class="form-control control-input numberonly" />
                                    <input id="inputVouDisPercent" type="text" class="form-control control-input numberonly" maxlength="2" />
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 align-center"> 
                                <input id="inputHdnVouDisType" type="hidden"/>
                                <button id="btnDiscountAmount" class="discount" value="2">@Resource.DolorSign</button>                                                         
                                <button id="btnDiscountPercent" class="discount-active" value="1">@Resource.PercentSign</button>                                                                                  
                            </div>
                        </div>  
                        <div id="divVoucherFOC" class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group soft-gray-background padding-10">
                                    <input id="chkVoucherFOC" type="checkbox" /><span>&nbsp;&nbsp;@Resource.VoucherFOC</span>
                                </div>
                            </div>
                        </div>                         
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label mb-0">@Resource.Remark</label>
                                    <textarea id="txtRemark" class="form-control control-input"></textarea>
                                </div>
                            </div>
                        </div>                                            
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <table class="width-100-percent padding-10 soft-gray-background" style="border-spacing:0.5em;border-collapse:separate;">
                            <tr>
                                <td><label class="control-label mb-0">@Resource.TotalItems@Resource.ColonSign</label></td>
                                <td><label id="lblPayTotalItem" class="control-input mb-0">0</label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label mb-0">@Resource.TotalPay@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPayTotal" type="hidden" /><label id="lblPayTotal" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr class="trAdvancedPay">
                                <td><label class="control-label mb-0">@Resource.AdvancedPay@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnAdvancedPay" type="hidden" /><label id="lblAdvancedPay" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr>
                                <td><label class="control-label mb-0">@Resource.VoucherDiscount@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnVoucherDiscount" type="hidden" /><label id="lblVoucherDiscount" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr>
                                <td><label class="total-amount-label mb-0">@Resource.Grandtotal@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPayGrandtotal" type="hidden" /><label id="lblPayGrandtotal" class="total-amount-value mb-0">0</label></div></td>
                            </tr>
                            <tr class="trPercent">
                                <td><label class="control-label mb-0">@Resource.Percent@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPercent" type="hidden" /><label id="lblPercent" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr id="trPcntGrandtotal">
                                <td></td>
                                <td class="value-right"><div class="note"><input id="inputHdnPcntGrandtotal" type="hidden" /><label id="lblPcntGrandtotal" class="total-amount-value mb-0">0</label></div></td>
                            </tr>
                            <tr id="trCashInHand">
                                <td><label class="control-label mb-0">@Resource.CashInHand@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnCashInHand" type="hidden" /><label id="lblCashInHand" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr id="trBankingTotal">
                                <td><label class="control-label mb-0">@Resource.BankingTotal@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><input id="inputHdnBankingTotal" type="hidden" /><label id="lblBankingTotal" class="control-input mb-0">0</label></div></td>
                            </tr>
                            <tr id="trPaid">
                                <td><label class="control-label mb-0">@Resource.Paid@Resource.ColonSign</label></td>
                                <td class="value-right"><input id="inputPaid" type="text" class="form-control control-input numberonly" style="text-align:right;"/></td>
                            </tr>
                            <tr id="trReturnChange">
                                <td><label class="control-label mb-0">@Resource.ReturnChange@Resource.ColonSign</label></td>
                                <td class="value-right"><div class="note"><label id="lblReturnChange" class="control-input mb-0">0</label></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" class="btn btn-white-outline-third">@Resource.Close</button>
                <button id="btnSubmit" class="btn btn-first" data-dismiss="modal" aria-label="Close">@Resource.Submit</button>
                <button id="btnEditSubmit" class="btn btn-second" data-dismiss="modal" aria-label="Close">@Resource.Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var isDisplayLimitedDay, isSaleEdit = false, limitedDayId, bankPaymentId;
    let bankPayMethodListAction;

    function fillSalePaymentData(isDisplayLimitedDay, masterSaleModel, saleId) {
        hideAllControl();
        isSaleEdit = true;
        this.isDisplayLimitedDay = isDisplayLimitedDay;
        //$('#btnSubmit').css("display", "none");
        $('#btnEditSubmit').show();
        $('#btnEditSubmit').val(saleId);
        $('#ddlPayment').val(masterSaleModel.PaymentID);
        if (masterSaleModel.PaymentID == 2) $('#ddlPayment').prop("disabled", true);

        showByPayment(masterSaleModel.PaymentID);
        showByPayMethod(masterSaleModel.PayMethodID);

        if (masterSaleModel.IsVouFOC == true) $("#chkVoucherFOC").prop("checked", true);
        else $("#chkVoucherFOC").prop("checked", false);

        limitedDayId = masterSaleModel.LimitedDayID;

        $("#inputAdvancedPay").val(masterSaleModel.AdvancedPay);
        $("#lblAdvancedPay").text(separatedComma(parseInt(masterSaleModel.AdvancedPay)));
        $("#inputHdnAdvancedPay").val(masterSaleModel.AdvancedPay);

        bankPaymentId = masterSaleModel.BankPaymentID;

        $("#inputPercent").val(masterSaleModel.PaymentPercent);

        $("#inputHdnVouDisType").val('');
        if (masterSaleModel.VouDisAmount == 0) changeDiscountType(1);
        else changeDiscountType(2);
        if (masterSaleModel.VouDisAmount != 0) {
            $("#inputVouDisAmount").val(masterSaleModel.VouDisAmount);
            calcVouDisAmount();
        }
        else if (masterSaleModel.VouDisPercent != 0) {
            $("#inputVouDisPercent").val(masterSaleModel.VouDisPercent);
            calcVouDisPercent();
        }

        calcAmount();
        $('#txtRemark').val(masterSaleModel.Remark);
        clearPaidChange();

        if (masterSaleModel.IsMultiPay == true) {
            $("#chkUseMultiPayMethod").prop("checked", true);
            $("#inputCashInHand").val(masterSaleModel.CashInHand);
            $("#lblCashInHand").text(separatedComma(parseInt(masterSaleModel.CashInHand)));
            $("#inputHdnCashInHand").val(masterSaleModel.CashInHand);
            @*let bankPayList = JSON.parse('@Html.Raw(Json.Encode(Session["MultiPayMethodData"]))');
            createBankPayMethodData(bankPayList);
            $("#lblBankingTotal").text(separatedComma(parseInt(masterSaleModel.BankingTotal)));
            $("#inputHdnBankingTotal").val(masterSaleModel.BankingTotal);*@
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMultiBankPayAction", "Sale")',
                data: {"saleId":saleId},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    createBankPayMethodData(response.LstMultiBankPay);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        } else {
            $('#ddlPayMethod').val(masterSaleModel.PayMethodID);
        }
    }

    function hideAllControl() {
        $("#trLimitedDay").css('display', 'none');
        $(".trAdvancedPay").css('display', 'none');
        $('#divPayMethod').css("display", "none");
        $('#divMultiPayMethod').css("display", "none");
        $("#trBankPayment").css('display', 'none');
        $(".trPercent").css('display', 'none');
        $("#trPcntGrandtotal").css('display', 'none');
        $("#trCashInHand").css('display', 'none');
        $("#trBankingTotal").css('display', 'none');
        $('#btnSubmit').css("display", "none");
        $('#btnEditSubmit').css("display", "none");
    }

    function hideByPayment() {
        $("#trLimitedDay").css('display', 'none');
        $(".trAdvancedPay").css('display', 'none');
    }

    function hideByPayMethod() {
        $('#divPayMethod').css("display", "none");
        $('#divMultiPayMethod').css("display", "none");
        $("#trBankPayment").css('display', 'none');
        $(".trPercent").css('display', 'none');
        $("#trPcntGrandtotal").css('display', 'none');
        $("#trCashInHand").css('display', 'none');
        $("#trBankingTotal").css('display', 'none');
    }

    function initializePaymentControl(isDisplayLimitedDay) {
        hideAllControl();
        this.isDisplayLimitedDay = isDisplayLimitedDay; // for sale module
        //$('#btnEditSubmit').css("display", "none");
        $('#btnSubmit').show();
        showByPayment(1);
        showByPayMethod(1);
        $("#inputHdnVouDisType").val('');
        changeDiscountType(1);
        calcAmount();
        clearPaidChange();
        $("#chkUseMultiPayMethod").prop("checked", false);
        //$("#chkUseMultiPayMethod").prop("checked", false);
        //$('#divPayMethod').show();
        //$('#divMultiPayMethod').css("display", "none");
        //$("#trCashInHand").css('display', 'none');
        //$("#trBankingTotal").css('display', 'none');
        //showMultiPay();
    }

    function showMultiPay() {
        $('#divMultiPayMethod').show();
        $("#trCashInHand").show();
        $("#trBankingTotal").show();
        //if (isShow == true) {
        //    $("#chkUseMultiPayMethod").prop("checked", true);
        //    $('#divMultiPayMethod').show();
        //    $("#trCashInHand").show();
        //    $("#trBankingTotal").show();

        //    $('#divPayMethod').css("display", "none");
        //    $(".trPercent").css('display', 'none');
        //    $("#trPcntGrandtotal").css('display', 'none');

        //    getBankPayment();
        //} else {
        //    $("#chkUseMultiPayMethod").prop("checked", false);
        //    $('#divMultiPayMethod').css("display", "none");
        //    $("#trCashInHand").css('display', 'none');
        //    $("#trBankingTotal").css('display', 'none');

        //    $('#divPayMethod').show();
        //}
    }

    function showByPayment(value) {
        clearByPayment();
        let payMethodVal = $('#ddlPayMethod option:selected').val();
        showHideVoucherFOC(value, payMethodVal);
        //if (value == 1) {  //cash
        //    $("#trLimitedDay").css('display', 'none');
        //    $(".trAdvancedPay").css('display', 'none');
        //} else
            if (value == 2) {  //credit
            $(".trAdvancedPay").show();
            if (isDisplayLimitedDay == true) {
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetLimitedDayAction", "PaymentDialog")',
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        createLimitedDayData(response);
                        $("#trLimitedDay").show();
                        if (isSaleEdit && limitedDayId != 0) $('#ddlLimitedDay').val(limitedDayId);
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        }
    }

    function showByPayMethod(value) {
        clearByPayMethod();
        clearMultiPay();
        let paymentVal = $('#ddlPayment option:selected').val();
        showHideVoucherFOC(paymentVal, value);
        if (value == 1) {  //cash in hand
            //$("#trBankPayment").css('display', 'none');
            //$(".trPercent").css('display', 'none');
            //$("#trPcntGrandtotal").css('display', 'none');
            $('#divPayMethod').show();
            $('#ddlPayMethod').val(1);
            bankPaymentId = 0;
        } else if (value == 2 || value == 3) {  //banking or multi pay
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBankPaymentAction", "PaymentDialog")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (value == 2) {  //banking
                        createBankPaymentData(response);
                        $('#divPayMethod').show();
                        $("#trBankPayment").show();
                        $(".trPercent").show();
                        $("#trPcntGrandtotal").show();
                        if (isSaleEdit && bankPaymentId != 0) $('#ddlBankPayment').val(bankPaymentId);
                    } else if (value == 3) {  //multi pay
                        showMultiPay();
                        createBankPaymentMultiData(response);
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }
    }

    function showHideVoucherFOC(paymentVal,payMethodVal) {
        if (paymentVal == 1 && payMethodVal == 1) {  // payment is cash and pay method is cash in hand
            $("#divVoucherFOC").show();
            return;
        }
        $("#divVoucherFOC").css('display', 'none');
    }

    function clearByPayment() {
        $("#inputAdvancedPay").val("");
        $("#lblAdvancedPay").text('0');
        $("#inputHdnAdvancedPay").val("");
    }

    function clearByPayMethod() {
        $("#inputPercent").val("");
        $("#lblPercent").text('0');
        $("#inputHdnPercent").val("");
        $("#lblPcntGrandtotal").text('0');
        $("#inputHdnPcntGrandtotal").val("");
    }

    $("#btnClose").click(function (e) {
        $('#modalPayment').modal('hide');
    });

    $('#ddlPayment').change(function () {
        let val = $('#ddlPayment option:selected').val();
        hideByPayment();
        showByPayment(val);
        calcAmount();
        //$("#chkUseMultiPayMethod").prop("checked", false);   // to edit
        //hideMultiPayMethod();
    });

    $('#ddlPayMethod').change(function () {
        let val = $('#ddlPayMethod option:selected').val();
        hideByPayMethod();
        showByPayMethod(val);
        calcAmount();
    });

    $('#inputAdvancedPay').keydown(function (event) {
        if (event.which === 13) {
            let totalPay = $("#inputHdnPayTotal").val();
            let advancedPay = $("#inputAdvancedPay").val();
            if (advancedPay.length == 0 || advancedPay == 0) return;
            if (parseInt(advancedPay) > parseInt(totalPay)) {
                showAlertInDialog(0,"Advanced Pay is greater than Total Pay!");
                return;
            }
            $("#lblAdvancedPay").text(separatedComma(parseInt(advancedPay)));
            $("#inputHdnAdvancedPay").val(advancedPay);
            calcAmount();
        }
    });

    $('#inputPercent').keydown(function (event) {
        if (event.which === 13) {
            calcAmount();
        }
    });

    function getPayPercentAmt(grandtotal) {
        let percent = $("#inputPercent").val();
        if (percent == null || percent.length == 0) percent = 0;
        let percentAmt = (parseInt(grandtotal) * parseInt(percent)) / 100;
        return percentAmt;
    }

    function calcAmount() {
        let totalPay,advancedPay,voucherDiscount,grandtotal,percentAmt,percentGrandtotal;
        totalPay = $("#inputHdnPayTotal").val();
        advancedPay = $("#inputHdnAdvancedPay").val();
        voucherDiscount = $("#inputHdnVoucherDiscount").val();

        if (advancedPay == null || advancedPay.length == 0) advancedPay = 0;
        if (voucherDiscount == null || voucherDiscount.length == 0) voucherDiscount = 0;

        grandtotal = parseInt(totalPay) - (parseInt(advancedPay) + parseInt(voucherDiscount));
        $("#lblPayGrandtotal").text(separatedComma(grandtotal));
        $("#inputHdnPayGrandtotal").val(grandtotal);

        percentAmt = parseInt(getPayPercentAmt(grandtotal));
        $("#lblPercent").text(separatedComma(percentAmt));
        $("#inputHdnPercent").val(percentAmt);

        percentGrandtotal = parseInt(grandtotal) + parseInt(percentAmt);
        $("#lblPcntGrandtotal").text(separatedComma(parseInt(percentGrandtotal)));
        $("#inputHdnPcntGrandtotal").val(percentGrandtotal);
    }

    function createLimitedDayData(response) {
        let limitedDay;
        $("#ddlLimitedDay").html("");
        for (var i = 0; i < response.length; i++) {
            limitedDay += '<option value="' + response[i].LimitedDayID + '">' + response[i].LimitedDayName + '</option>';
        }
        $("#ddlLimitedDay").append(limitedDay);
    }

    function createBankPaymentData(response) {
        let bankPayment;
        $("#ddlBankPayment").html("");
        for (var i = 0; i < response.length; i++) {
            bankPayment += '<option value="' + response[i].BankPaymentID + '">' + response[i].Name + '</option>';
        }
        $("#ddlBankPayment").append(bankPayment);
    }

    function createBankPaymentMultiData(response) {
        let bankPayment;
        $("#ddlBankPaymentMulti").html("");
        for (var i = 0; i < response.length; i++) {
            bankPayment += '<option value="' + response[i].BankPaymentID + '">' + response[i].Name + '</option>';
        }
        $("#ddlBankPaymentMulti").append(bankPayment);
    }

    $("#btnDiscountPercent").click(function (e) {
        let value = $(this).val();
        changeDiscountType(value);
        calcAmount();
    });

    $("#btnDiscountAmount").click(function (e) {
        let value = $(this).val();
        changeDiscountType(value);
        calcAmount();
    });

    function changeDiscountType(value) {
        let discountType = $("#inputHdnVouDisType").val();
        if (value == discountType) return;
        $("#inputVouDisAmount").val("");
        $("#inputVouDisPercent").val("");
        $("#lblVoucherDiscount").text("0");
        $("#inputHdnVoucherDiscount").val(0);
        $("#inputHdnVouDisType").val(value);
        if (value == 1) {  //by percent
            $("#btnDiscountPercent").removeClass('discount');
            $("#btnDiscountPercent").addClass('discount-active');
            $("#btnDiscountAmount").removeClass('discount-active');
            $("#btnDiscountAmount").addClass('discount');
            $("#inputVouDisPercent").show();
            $("#inputVouDisAmount").css('display', 'none');
        } else if (value == 2) {  //by amount
            $("#btnDiscountPercent").removeClass('discount-active');
            $("#btnDiscountPercent").addClass('discount');
            $("#btnDiscountAmount").removeClass('discount');
            $("#btnDiscountAmount").addClass('discount-active');
            $("#inputVouDisAmount").show();
            $("#inputVouDisPercent").css('display', 'none');
        }
    }

    $('#inputVouDisAmount').keydown(function (event) {
        if (event.which === 13) {
            calcVouDisAmount();
            calcAmount();
        }
    });

    function calcVouDisAmount() {
        let disAmount, percent;
        if ($("#inputVouDisAmount").val() == null || $("#inputVouDisAmount").val().length == 0) return;
        let totalPay = $("#inputHdnPayTotal").val();
        disAmount = $("#inputVouDisAmount").val();
        if (parseInt(disAmount) > parseInt(totalPay)) {
            showAlertInDialog(0, "Voucher Discount is greater than Total Pay!");
            return;
        }
        $("#lblVoucherDiscount").text(separatedComma(parseInt(disAmount)));
        $("#inputHdnVoucherDiscount").val(disAmount);
    }

    $('#inputVouDisPercent').keydown(function (event) {
        if (event.which === 13) {
            calcVouDisPercent();
            calcAmount();
        }
    });

    function calcVouDisPercent() {
        let disAmount, percent;
        if ($("#inputVouDisPercent").val() == null || $("#inputVouDisPercent").val().length == 0) return;
        percent = $("#inputVouDisPercent").val();
        let totalPay = $("#inputHdnPayTotal").val();
        disAmount = (parseInt(totalPay) * parseInt(percent)) / 100;
        $("#lblVoucherDiscount").text(separatedComma(parseInt(disAmount)));
        $("#inputHdnVoucherDiscount").val(parseInt(disAmount));
    }

    $('#inputPaid').keydown(function (event) {
        if (event.which === 13) {
            let grandtotal;
            let paidAmt = $("#inputPaid").val();
            if (isBankPayment == "True") {
                let val = $('#ddlPayMethod option:selected').val();
                if (val == 2) {  //banking
                    grandtotal = $("#inputHdnPcntGrandtotal").val();
                    setReturnChange(paidAmt, grandtotal);
                } else {
                    grandtotal = $("#inputHdnPayGrandtotal").val();
                    setReturnChange(paidAmt, grandtotal);
                }
            } else {
                grandtotal = $("#inputHdnPayGrandtotal").val();
                setReturnChange(paidAmt, grandtotal);
            }
        }
    });

    function setReturnChange(paidAmt, grandtotal) {
        if (paidAmt != null && paidAmt.length != 0 && grandtotal != null && grandtotal.length != 0) {
            let changeAmt = parseInt(paidAmt) - parseInt(grandtotal);
            $("#lblReturnChange").text(separatedComma(parseInt(changeAmt)));
        }
    }

    function clearPaidChange() {
        $("#inputPaid").val('');
        $("#lblReturnChange").text('');
    }

    $("#chkUseMultiPayMethod").change(function (e) {
        var checkbox = e.target;
        hideByPayMethod();

        //clearMultiBankPay();
        if (checkbox.checked) {

            showByPayMethod(3);
            //clearMultiPayMethod();
            //showMultiPayMethod();
            //getBankPayment();
        } else {
            showByPayMethod(1);
        }
    });

    //function showMultiPayMethod() {
    //    $('#divMultiPayMethod').show();
    //    $("#divPayMethod").css('display', 'none');
    //    if ($('.trPercent').css('display') != 'none') {
    //        $(".trPercent").css('display', 'none');
    //    }
    //    if ($('#trPcntGrandtotal').css('display') != 'none') {
    //        $("#trPcntGrandtotal").css('display', 'none');
    //    }
    //    $("#trCashInHand").show();
    //    $("#trBankingTotal").show();
    //}

    //function hideMultiPayMethod() {
    //    $('#divMultiPayMethod').css('display', 'none');
    //    $("#divPayMethod").show();
    //    if ($('#trBankPayment').css('display') != 'none') {
    //        $(".trPercent").show();
    //        $("#trPcntGrandtotal").show();
    //    }
    //    $("#trCashInHand").css('display', 'none');
    //    $("#trBankingTotal").css('display', 'none');
    //}

    @*function getBankPayment() {
        showLoadingIcon();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetBankPaymentAction", "PaymentDialog")',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                hideLoadingIcon();
                createBankPaymentMultiData(response);
            },
            failure: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            },
            error: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            }
        });
    }*@

            $('#inputCashInHand').keydown(function (event) {
                if (event.which === 13) {
                    validateMultiPayMethod();
                }
            });

            function validateMultiPayMethod() {
                let grandTotal = 0, advancedPay = 0;

                let cashInHand;
                if ($("#inputCashInHand").val() == null || $("#inputCashInHand").val().length == 0) cashInHand = 0;
                else cashInHand = $("#inputCashInHand").val();

                let paymentVal = $('#ddlPayment option:selected').val();
                if (paymentVal == 1) {
                    if ($("#inputHdnPayGrandtotal").val() == null || $("#inputHdnPayGrandtotal").val().length == 0) grandTotal = 0;
                    else grandTotal = $("#inputHdnPayGrandtotal").val();
                } else if (paymentVal == 2) {
                    if ($("#inputHdnAdvancedPay").val() == null || $("#inputHdnAdvancedPay").val().length == 0) advancedPay = 0;
                    else advancedPay = $("#inputHdnAdvancedPay").val();
                }

                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ValidateMultiPayMethodAction", "Sale")',
                    data: { "cashInHand": cashInHand, "grandTotal": grandTotal, "advancedPay": advancedPay, "payType": paymentVal },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            showAlertInDialog(0, response.ResultDefaultData.Message);
                            $("#inputCashInHand").val('');
                        } else {
                            $("#inputHdnCashInHand").val(cashInHand);
                            $("#lblCashInHand").text(separatedComma(parseInt(cashInHand)));
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }

            $('#inputBankPaymentAmount').keydown(function (event) {
                if (event.which === 13) {
                    addBankPayMethodAmount();
                }
            });

            function addBankPayMethodAmount() {
                let grandTotal = 0, advancedPay = 0;

                let bankPaymentId = $('#ddlBankPaymentMulti option:selected').val();
                let bankPaymentName = $('#ddlBankPaymentMulti option:selected').text();

                let paymentPercent;
                if ($("#inputBankPaymentPercent").val() == null || $("#inputBankPaymentPercent").val().length == 0) paymentPercent = 0;
                else paymentPercent = $("#inputBankPaymentPercent").val();

                if ($("#inputBankPaymentAmount").val() == null || $("#inputBankPaymentAmount").val().length == 0) return;
                let amount = $("#inputBankPaymentAmount").val();

                let cashInHand;
                if ($("#inputHdnCashInHand").val() == null || $("#inputHdnCashInHand").val().length == 0) cashInHand = 0;
                else cashInHand = $("#inputHdnCashInHand").val();

                let paymentVal = $('#ddlPayment option:selected').val();
                if (paymentVal == 1) {
                    if ($("#inputHdnPayGrandtotal").val() == null || $("#inputHdnPayGrandtotal").val().length == 0) grandTotal = 0;
                    else grandTotal = $("#inputHdnPayGrandtotal").val();
                } else if (paymentVal == 2) {
                    if ($("#inputHdnAdvancedPay").val() == null || $("#inputHdnAdvancedPay").val().length == 0) advancedPay = 0;
                    else advancedPay = $("#inputHdnAdvancedPay").val();
                }

                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("BankPayMethodAddAction", "Sale")',
                    data: { "bankPaymentId": bankPaymentId, "bankPaymentName": bankPaymentName, "paymentPercent": paymentPercent, "amount": amount, "cashInHand": cashInHand, "grandTotal": grandTotal, "advancedPay": advancedPay, "payType": paymentVal },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess)
                            showAlertInDialog(0, response.ResultDefaultData.Message);
                        else {
                            createBankPayMethodData(response.LstMultiPayMethod);
                            $("#inputBankPaymentPercent").val('');
                            $("#inputBankPaymentAmount").val('');
                            $("#inputHdnBankingTotal").val(response.BankingTotal);
                            $("#lblBankingTotal").text(separatedComma(parseInt(response.BankingTotal)));
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }

            function createBankPayMethodData(lstMultiPayMethod) {
                alert(lstMultiPayMethod);
                $("#tblBankPayment").find("tbody").empty();
                $.each(lstMultiPayMethod, function (i, item) {
                    let row = '<tr class="row tran-table-item-row">'
                           + '<td style="display:none;">' + item.BankPaymentID + '</td>'
                           + '<td class="col-md-4 col-lg-4"><label class="control-label mb-0">' + item.BankPaymentName + '</label></td>'
                           + '<td class="col-md-3 col-lg-3 value-right"><label class="control-label mb-0">' + item.PaymentPercent + '<span class="control-span-sm">&nbsp;%</span></label></td>'
                           + '<td class="col-md-4 col-lg-4 value-right"><label class="control-label mb-0">' + separatedComma(item.Amount) + '</label></td>'
                           + '<td class="col-md-1 col-lg-1 value-right"><button class="btn-icon gray" title="Delete" onclick="bankPayMethodDeleteAction(3)"><i class="fa fa-remove"></i></button></td>'
                           + '</tr>';
                    $('#tblBankPayment tbody').append(row);
                })
            }

            function bankPayMethodDeleteAction(value) {
                bankPayMethodListAction = value;
            }

            $("#tblBankPayment").on("click", "tbody tr", function (event) {
                $(this).find("td:first").each(function () {
                    let bankPaymentId = $(this).text();
                    if (bankPayMethodListAction == 3) {
                        bankPayMethodListAction = 0;
                        deleteBankPayMethod(bankPaymentId);
                    }
                })
            });

            function deleteBankPayMethod(bankPaymentId) {
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("BankPayMethodDeleteAction", "Sale")',
                    data: { "bankPaymentId": bankPaymentId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess)
                            showAlertInDialog(0, response.ResultDefaultData.Message);
                        else {
                            createBankPayMethodData(response.LstMultiPayMethod);
                            $("#inputHdnBankingTotal").val(response.BankingTotal);
                            $("#lblBankingTotal").text(separatedComma(parseInt(response.BankingTotal)));
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }

            function clearMultiPay() {
                $("#inputCashInHand").val('');
                $("#inputHdnCashInHand").val('');
                $("#lblCashInHand").text("0");
                $("#inputHdnBankingTotal").val('');
                $("#lblBankingTotal").text("0");
                $("#inputBankPaymentPercent").val('');
                $("#inputBankPaymentAmount").val('');

                @*showLoadingIcon();
        $.ajax({
            type: "GET",
            url: '@Url.Action("BankPayMethodClearAction", "Sale")',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                hideLoadingIcon();
            },
            failure: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            },
            error: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            }
        });*@
            }

            function clearMultiBankPay() {
                $("#tblBankPayment").find("tbody").empty();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("BankPayMethodClearAction", "Sale")',
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }

</script>
