<div id="divProductMenu">
    <div class="row">
        <div class="col-md-12 col-lg-12 mainmenu">
            <table>
                <tr>
                    @foreach (var item in Model.ProductMenus.MainMenus)
                    {
                        <td>
                            <button class="btnMainMenu menu-main" value="@item.MainMenuID">@item.MainMenuName</button>
                        </td>
                    }                   
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div id="divSubMenu" class="col-md-4 col-lg-4 submenu">
            @foreach (var item in Model.ProductMenus.SubMenus)
            {
                <button class="btnSubMenu menu-sub" value="@item.SubMenuID">@item.SubMenuName</button>                
            }
        </div>
        <div id="divProduct" class="col-md-8 col-lg-8 product">                        
            @foreach (var item in Model.ProductMenus.Products)
            {
                <button class="btnProduct menu-product" value="@item.ProductID">@item.ProductName</button>                      
            }                        
        </div>
    </div>
</div>

<script type="text/javascript">

    calcMenuHeight();

    function calcMenuHeight() {
        let windowHeight = window.innerHeight;
        let thingsHeight = 167; // average other component height
        let extraHeight = 20;
        let menuHeight = windowHeight - (thingsHeight + extraHeight);
        document.getElementById('divSubMenu').setAttribute("style", "height:" + menuHeight + "px");
        document.getElementById('divProduct').setAttribute("style", "height:" + menuHeight + "px");
    }

    $(document).ready(function () {

        $(document).on('click', '.btnMainMenu', function (e) {
            let mainMenuId = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("MainMenuClickAction", "ProductMenu")',
                data: { "mainMenuId": mainMenuId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    clearSubMenuData();
                    clearProductData();
                    createSubMenuData(response);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $(document).on('click', '.btnSubMenu', function (e) {
            let subMenuId = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SubMenuClickAction", "ProductMenu")',
                data: { "subMenuId": subMenuId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    clearProductData();
                    createProductData(response);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });        

        function createSubMenuData(response) {
            $.each(response.SubMenus, function (i, item) {
                let btn = '<button class="btnSubMenu menu-sub" value=' + item.SubMenuID + '>' + item.SubMenuName + '</button>'
                $('#divSubMenu').append(btn);
            })
        }

        function createProductData(response) {
            $.each(response.Products, function (i, item) {
                let btn = '<button class="btnProduct menu-product" value=' + item.ProductID + '>' + item.ProductName + '</button>'
                $('#divProduct').append(btn);
            })
        }

        function clearSubMenuData() {
            $(".btnSubMenu").remove();
        }

        function clearProductData() {
            $(".btnProduct").remove();
        }

    });

</script>
