@using Inventory.ViewModels
@model CustomerOutstandingViewModel

<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="adminModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle">@Resource.CustomerOutstandingPayment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="tab">
                    <button id="defaultOpen" class="tablinks" onclick="openPayment(event, 'Current')">Current</button>
                    <button class="tablinks" onclick="openPayment(event, 'History')">History</button>
                </div>

                <div id="divAlertError" class="alert alert-danger alert-dismissible fade show" style="display:none;">
                    <h4 class="alert-heading">Alert!</h4><span id="spnAlertMessage"></span>
                </div>
                <div id="Current" class="tabcontent" style="border:1px solid #f3f3f3;background-color:#fff;padding:10px;">  
                                  
                    <div class="row setup-title-layout search-div">
                        <div class="col-md-2 col-lg-2">
                            <input id="inputDate" type="date" class="form-control control-input" />
                        </div>
                        <div class="col-md-2 col-lg-2 padding-10 text-center">
                            <input id="inputHidCustomerID" type="hidden" />
                            <label id="lblCustomer" class="control-label note mb-0 display-block">Customer Name</label>
                        </div>                      
                        <div class="col-md-8 col-lg-8  padding-10" style="text-align:right;">
                            @Html.RadioButtonFor(model => Model.PayType, 1, new { @id = "rdoPayEach", @class = "PayType", @checked = "checked" })&nbsp;@Html.Label(Resource.PayEachVoucher)
                            &nbsp;&nbsp;
                            @Html.RadioButtonFor(model => Model.PayType, 2, new { @id = "rdoPayAll", @class = "PayType" })&nbsp;@Html.Label(Resource.PayByAll)
                        </div>
                    </div>

                    <div class="row">
                        <table id="tblTranOutstandingList" class="col-md-12 col-lg-12" role="grid">
                            <thead>
                                <tr class="row table-header">
                                    <th class="col-md-2 col-lg-2">@Resource.Date</th>
                                    <th class="col-md-2 col-lg-2">@Resource.VoucherNo</th>
                                    <th class="col-md-2 col-lg-2 aligh-right">@Resource.Opening</th>
                                    <th class="col-md-2 col-lg-2 aligh-right">@Resource.Sale</th>
                                    <th class="col-md-2 col-lg-2 text-center">@Resource.PayDate</th>                                   
                                    <th class="col-md-2 col-lg-2 text-center">@Resource.Payment</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="col-md-12 col-lg-12 search-div">
                            <div class="row">
                                <div class="col-md-4 col-lg-4"></div>
                                <div class="col-md-4 col-lg-4 aligh-right">
                                    <div class="align-justify-center">
                                        <h5 class="mb-0">@Resource.Balance@Resource.ColonSign</h5>&nbsp;&nbsp;
                                        <h4 id="hTotalBalance" class="mb-0 first-text-color"></h4>
                                        <input id="inputHidTotalBalance" type="hidden" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2 text-center padding-10">
                                    <input id="inputAllPayDate" type="date" class="border-gray control-input padding-5" style="height:50px;" />
                                </div>
                                <div class="col-md-2 col-lg-2 text-center padding-10">
                                    <input id="inputAllPayment" type="text" class="border-gray control-input mb-0 numberonly text-center" style="height:50px;" placeholder="0" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="modal-footer m-t-10">
                        <button id="btnClose" class="btn btn-white-outline-third">@Resource.Close</button>
                        <button id="btnPayment" class="btn btn-first plr-30">@Resource.Payment</button>
                    </div>               
                </div>

                 <div id="History" class="tabcontent" style="border:1px solid #f3f3f3;background-color:#fff;padding:10px;">

                        <div class="row setup-title-layout search-div">
                            <div class="col-md-2 col-lg-2">
                                <label id="lblHCustomer" class="control-label note mb-0">Customer Name</label>
                            </div>
                            <div class="col-md-10 col-lg-10 db-border padding-5">
                                <table class="width-100-percent">
                                    <tr>
                                        <td class="control-label" style="text-align:center;">From Date</td>
                                        <td><input id="inputHFromDate" type="date" class="form-control control-input" /></td>
                                        <td class="control-label" style="text-align:center;">To Date</td>
                                        <td><input id="inputHToDate" type="date" class="form-control control-input" /></td>                                        
                                        <td>
                                            <div class="btn-group" style="float:right">
                                                <button id="btnHSearch" class="btn btn-first setup-btn-search" title="Search"><i class="fa fa-search"></i></button>
                                                <button id="btnHRefresh" class="btn btn-light" title="Refresh"><i class="fa fa-refresh refresh-icon"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <table id="tblTranOutstandingHistoryList" class="col-md-12 col-lg-12" role="grid">
                                <thead>
                                    <tr class="row table-header">
                                        <th class="col-md-2 col-lg-2">@Resource.Date</th>
                                        <th class="col-md-3 col-lg-3">@Resource.VoucherNo</th>
                                        <th class="col-md-2 col-lg-2 text-center">@Resource.PayDate</th>
                                        <th class="col-md-3 col-lg-3 text-center">@Resource.Payment</th>
                                        <th class="col-md-2 col-lg-2">@Resource.PayType</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                     <div class="modal-footer">
                         <button id="btnHistoryClose" class="btn btn-white-outline-third">@Resource.Close</button>
                         <button id="btnHistorySave" class="btn btn-first plr-30">@Resource.Save</button>
                     </div>

                </div>
           
            </div>
           
        </div>
    </div>
</div>

<div>
    @{
        Html.RenderPartial("_PayMethodDialog", Model.Payments);
    }
</div>

<script type="text/javascript">

    let num = 0, allPayment = 0, userVoucherNo = "", ledgerId = 0;

    function initializeHeaderControl(customerId, customerName) {
        $('#inputHidCustomerID').val(customerId);
        $('#lblCustomer').text(customerName);
        $('#inputDate').val(getTodayDate());
    }

    function initializePaymentControl(totalBalance) {
        const rdoPayEach = document.getElementById('rdoPayEach');
        rdoPayEach.checked = true;
        changeControlByPayType(1);
        $('#hTotalBalance').text(separatedComma(totalBalance));
        $('#inputHidTotalBalance').val(totalBalance);
        $('#inputAllPayDate').val(getTodayDate());
    }

    function changeControlByPayType(payType) {
        if (payType == 1) {
            $('#inputAllPayDate').attr("disabled", true);
            $('#inputAllPayment').attr("disabled", true);
            $('.inputPayDate').attr("disabled", false);
            $('.inputPayment').attr("disabled", false);
            $('#inputAllPayDate').val(getTodayDate());
            $('#inputAllPayment').val("");
        } else if (payType == 2) {
            $('#inputAllPayDate').attr("disabled", false);
            $('#inputAllPayment').attr("disabled", false);
            $('.inputPayDate').attr("disabled", true);
            $('.inputPayment').attr("disabled", true);
            $('.inputPayDate').val(getTodayDate());
            $('.inputPayment').val("");
            $('#tblTranOutstandingList tr').removeClass("selected");
            allPayment = 0;
        }
    }

    function createCustomerOutstandingData(response) {
        num = 0;
        $("#tblTranOutstandingList").find("tbody").empty();
        $.each(response, function (i, item) {
            num += 1;
            let row = '<tr id=' + num + ' class="row table-item">'
                    + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Date + '</label></td>'
                    + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.UserVoucherNo + '</label></td>'
            if (item.Opening == 0) {
                row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">-</label></td>'
            }
            else {
                row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">' + separatedComma(item.Opening) + '</label></td>'
            }
            if (item.Sale == 0) {
                row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">-</label></td>'
            } else {
                row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">' + separatedComma(item.Sale) + '</label></td>'
            }
            row += '<td class="col-md-2 col-lg-2 text-center"><input type="date" class="inputPayDate border-gray control-input" /></td>'
                    + '<td class="col-md-2 col-lg-2 text-center"><input type="text" class="inputPayment border-gray control-input mb-0 numberonly text-center" placeholder="0" /></td>'
                    + '<td style="display:none;">' + item.UserVoucherNo + '</td>'
                    + '</tr>';
            $('#tblTranOutstandingList tbody').append(row);
        })
    }

    function openPayment(evt, paymentName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(paymentName).style.display = "block";
        evt.currentTarget.className += " active";
        if (paymentName == "History") {
            $("#tblTranOutstandingHistoryList").find("tbody").empty();
            let customerId = $('#inputHidCustomerID').val();
            let customerName = $('#lblCustomer').text();
            paymentHistoryView(customerId,customerName);
        }
    }

    function paymentHistoryView(customerId,customerName) {
        showLoadingIcon();
        $.ajax({
            type: "GET",
            url: '@Url.Action("PaymentAction", "CustomerOutstandingHistory")',
            data: { "customerId": customerId },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                hideLoadingIcon();
                if (!response.ResultDefaultData.IsRequestSuccess)
                    showAlertInDialog(0, response.ResultDefaultData.Message);
                else {
                    initializeHistoryControl(customerId, customerName);
                    createOutstandingHistoryData(response.LstCustomerOutstandingPayment);
                }
            },
            failure: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            },
            error: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            }
        });
    }

    function initializeHistoryControl(customerId, customerName) {
        $('#lblHCustomer').text(customerName);
        $('#inputHFromDate').val(getTodayDate());
        $('#inputHToDate').val(getTodayDate());
    }

    function clearHistoryControl() {
        $('#inputHFromDate').val(getTodayDate());
        $('#inputHToDate').val(getTodayDate());
    }

    function createOutstandingHistoryData(response) {
        num = 0;
        $("#tblTranOutstandingHistoryList").find("tbody").empty();
        $.each(response, function (i, item) {
            num += 1;
            let row = '<tr id=' + num + ' class="row table-item">'
                    + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Date + '</label></td>'
                    + '<td class="col-md-3 col-lg-3"><label class="control-label mb-0">' + item.UserVoucherNo + '</label></td>'

            if (item.PayType == 1) {
                row += '<td class="col-md-2 col-lg-2 text-center"><input type="date" class="inputPayDate border-gray control-input" value="' + item.PayDate + '" /></td>'
                    + '<td class="col-md-3 col-lg-3 text-center"><input type="text" class="inputPayment border-gray control-input mb-0 numberonly text-center" placeholder="0" value="' + item.Payment + '" /></td>'
                    + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">@Resource.PayEachVoucher</label></td>'
            }
            else if (item.PayType == 2) {
                row += '<td class="col-md-2 col-lg-2 text-center"><input type="date" class="inputPayDate border-gray control-input" value="' + item.PayDate + '" disabled /></td>'
                    + '<td class="col-md-3 col-lg-3 text-center"><input type="text" class="inputPayment border-gray control-input mb-0 numberonly text-center" placeholder="0" value="' + item.Payment + '" disabled /></td>'
                    + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">@Resource.PayByAll</label></td>'
            }
            row += '<td style="display:none;">' + item.LedgerID + '</td>'
            + '</tr>';
            $('#tblTranOutstandingHistoryList tbody').append(row);
        })
    }

    function createPayMethodData(response) {
        let payMethod;
        $("#ddlPayMethod").html("");
        for (var i = 0; i < response.length; i++) {
            payMethod += '<option value="' + response[i].PayMethodID + '">' + response[i].PayMethodName + '</option>';
        }
        $("#ddlPayMethod").append(payMethod);
    }

    function createBankPaymentData(response) {
        let bankPayment;
        $("#ddlBankPayment").html("");
        for (var i = 0; i < response.length; i++) {
            bankPayment += '<option value="' + response[i].BankPaymentID + '">' + response[i].Name + '</option>';
        }
        $("#ddlBankPayment").append(bankPayment);
    }

    function searchHistoryAction() {
        let fromDate = $('#inputHFromDate').val();
        let toDate = $('#inputHToDate').val();
        let customerId = $('#inputHidCustomerID').val();
        showLoadingIcon();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchAction", "CustomerOutstandingHistory")',
            data: { "customerId": customerId, "fromDate": fromDate, "toDate": toDate },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                hideLoadingIcon();
                if (!response.ResultDefaultData.IsRequestSuccess)
                    showAlertInDialog(0, response.ResultDefaultData.Message);
                else createOutstandingHistoryData(response.LstCustomerOutstandingPayment);               
            },
            failure: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            },
            error: function (response) {
                hideLoadingIcon();
                alert(response.responseText);
            }
        });
    }

    $(document).ready(function () {

        $("#tblTranOutstandingList").on("click", "tbody tr", function (event) {
            let payType = $('.PayType').filter(':checked').val();
            if (payType == 2) return;
            $('#tblTranOutstandingList tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                userVoucherNo = $(this).text();
            })
        });

        $("#tblTranOutstandingList").on("keydown", "tbody tr .inputPayment", function (event) {
            if (event.which === 13) {
                if (userVoucherNo == "") return;
                let payment = $(this).val();
                if (payment == "" || payment == 0) return;
                let trId = $(this).closest('tr').attr('id'); // table row ID
                let nextTrId = parseInt(trId) + 1;
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AddPaymentAction", "CustomerOutstanding")',
                    data: { "userVoucherNo": userVoucherNo, "payment": payment },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            if (response.ResultDefaultData.UnSuccessfulReason!= '@Inventory.Common.AppConstants.RequestUnSuccessful.SessionExpired')
                                showAlertInDialog(0, response.ResultDefaultData.Message);
                            else responseUnSuccessful(response);
                        }
                        else {
                            $('#tblTranOutstandingList tr').removeClass("selected");
                            $('#tblTranOutstandingList #' + nextTrId + '').addClass("selected");
                            $('#tblTranOutstandingList #' + nextTrId + ' .inputPayment').focus();
                            userVoucherNo = $('#tblTranOutstandingList #' + nextTrId + ' td:last').text();
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });

        $("#tblTranOutstandingList").on("change", "tbody tr .inputPayDate", function (event) {
            if (userVoucherNo == "") return;
            let payDate = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangedPayDateAction", "CustomerOutstanding")',
                data: { "userVoucherNo": userVoucherNo, "payDate": payDate },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        if (response.ResultDefaultData.UnSuccessfulReason != '@Inventory.Common.AppConstants.RequestUnSuccessful.SessionExpired')
                            showAlertInDialog(0, response.ResultDefaultData.Message);
                        else responseUnSuccessful(response);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $('#inputDate').change(function () {
            let date = $('#inputDate').val();
            let customerId = $('#inputHidCustomerID').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("DateChangeAction", "CustomerOutstanding")',
                data: { "customerId": customerId, "date": date },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        showAlertInDialog(0, response.ResultDefaultData.Message);
                    else {
                        initializePaymentControl(response.TotalBalance);
                        createCustomerOutstandingData(response.LstCustomerOutstandingPayment);
                        $('.inputPayDate').val(getTodayDate());
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $('.PayType').change(function () {
            let payType = $(this).filter(':checked').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PayTypeChangeAction", "CustomerOutstanding")',
                data: { "payType": payType },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    changeControlByPayType(payType);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $('#inputAllPayment').keydown(function (event) {
            if (event.which === 13) {
                let payment = $(this).val();
                validateAllPayment(payment);
            }
        });

        function validateAllPayment(payment) {
            let totalBalance = $('#inputHidTotalBalance').val();
            if (payment == "" || payment == 0) return false;
            else if (parseInt(payment) > parseInt(totalBalance)) {
                showAlertInDialog(0, '@Inventory.Common.AppConstants.Message.InvalidPayment');
                return false;
            } else return true;
        }

        $("#btnPayment").click(function (e) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPayMethodAction", "CustomerOutstanding")',
                data: { },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        showAlertInDialog(0, response.ResultDefaultData.Message);
                    else {
                        $('#modalPayMethod').modal('show');
                        createPayMethodData(response.LstPayMethod);
                        createBankPaymentData(response.LstBankPayment);
                        $('#ddlBankPayment').attr("disabled", true);
                        $('#divBankPay').addClass('disabled_color');
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnSubmit").click(function (e) {
            let payType = $('.PayType').filter(':checked').val();
            let allPayDate = "";
            if (payType == 2) {
                allPayment = $('#inputAllPayment').val();
                if (!validateAllPayment(allPayment)) return;
                else allPayDate = $('#inputAllPayDate').val();
            }
            let customerId = $('#inputHidCustomerID').val();
            let payMethodId = $('#ddlPayMethod option:selected').val();
            let bankPaymentId = 0;
            if (payMethodId != 1) bankPaymentId = $('#ddlBankPayment option:selected').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SaveAction", "CustomerOutstanding")',
                data: { "payType": payType, "allPayment": allPayment, "allPayDate": allPayDate, "customerId": customerId, "payMethodId": payMethodId, "bankPaymentId": bankPaymentId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        showAlertInDialog(0, response.ResultDefaultData.Message);
                    }
                    else {
                        showToast(1, response.ResultDefaultData.Message);
                        $('#modalPayMethod').modal('hide');
                        $('#modalPayment').modal('hide');
                        searchAction();
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnClose").click(function (e) {
            $('#modalPayment').modal('hide');
        });

        $("#tblTranOutstandingHistoryList").on("click", "tbody tr", function (event) {
            $('#tblTranOutstandingHistoryList tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                ledgerId = $(this).text();
            })
        });

        $("#tblTranOutstandingHistoryList").on("keydown", "tbody tr .inputPayment", function (event) {
            if (event.which === 13) {
                if (ledgerId == 0) return;
                let payment = $(this).val();
                if (payment == "") return;
                let trId = $(this).closest('tr').attr('id'); // table row ID
                let nextTrId = parseInt(trId) + 1;
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AddPaymentAction", "CustomerOutstandingHistory")',
                    data: { "ledgerId": ledgerId, "payment": payment },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess) {
                            if (response.ResultDefaultData.UnSuccessfulReason != '@Inventory.Common.AppConstants.RequestUnSuccessful.SessionExpired')
                                showAlertInDialog(0, response.Message);
                            else responseUnSuccessful(response);
                        }
                        else {
                            $('#tblTranOutstandingHistoryList tr').removeClass("selected");
                            $('#tblTranOutstandingHistoryList #' + nextTrId + '').addClass("selected");
                            $('#tblTranOutstandingHistoryList #' + nextTrId + ' .inputPayment').focus();
                            ledgerId = $('#tblTranOutstandingHistoryList #' + nextTrId + ' td:last').text();
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });

        $("#tblTranOutstandingHistoryList").on("change", "tbody tr .inputPayDate", function (event) {
            if (ledgerId == 0) return;
            let payDate = $(this).val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangedPayDateAction", "CustomerOutstandingHistory")',
                data: { "ledgerId": ledgerId, "payDate": payDate },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        if (response.ResultDefaultData.UnSuccessfulReason != '@Inventory.Common.AppConstants.RequestUnSuccessful.SessionExpired')
                            showAlertInDialog(0, response.Message);
                        else responseUnSuccessful(response);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnHistorySave").click(function (e) {
            let customerId = $('#inputHidCustomerID').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SaveAction", "CustomerOutstandingHistory")',
                data: { "customerId": customerId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess) {
                        showAlertInDialog(0, response.ResultDefaultData.Message);
                    }
                    else {
                        showToast(1, response.ResultDefaultData.Message);
                        $('#modalPayment').modal('hide');
                        searchAction();
                    }
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnHistoryClose").click(function (e) {
            $('#modalPayment').modal('hide');
        });

        $("#btnHSearch").click(function (e) {
            searchHistoryAction();
        });

        $("#btnHRefresh").click(function (e) {
            clearHistoryControl();
            let customerId = $('#inputHidCustomerID').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PaymentAction", "CustomerOutstandingHistory")',
                data: { "customerId": customerId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    if (!response.ResultDefaultData.IsRequestSuccess)
                        showAlertInDialog(0, response.ResultDefaultData.Message);
                    else createOutstandingHistoryData(response.LstCustomerOutstandingPayment);                    
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

    });

</script>
