@using Inventory.ViewModels
@model CustomerOutstandingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuOutstandingGp {
            display: block;
        }
    </style>

</head>

<div style="border:1px solid #f3f3f3;background-color:#fff;padding:10px;filter:drop-shadow(2px 2px 2px gray);">

    <div class="row setup-title-layout">
        <div class="col-md-6 col-lg-6">
            <label class="page-title">@Resource.CustomerOutstandingPayment</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <button id="btnClose" class="close" type="button" onclick="history.back()" style="float:right">
                <span aria-hidden="true" style="font-size:25px;">&times;</span>
            </button> 
        </div>
    </div>

    <div class="row m-t-5 m-b-5 m-l-5">
        <div class="col-md-4 col-lg-4 note align-justify-center">
            <label id="lblUserVoucherNo" class="control-label mb-0"></label>
        </div>
        <div class="col-md-4 col-lg-4">
            <input id="inputDate" type="date" class="form-control control-input" />
        </div>
        <div class="col-md-4 col-lg-4">
            <input id="inputVoucherID" type="text" class="form-control control-input" placeholder="@Resource.VoucherID" />
        </div>
    </div>

    <div class="row setup-title-layout search-div">
        <div class="col-md-3 col-lg-3  padding-10">
            <label id="lblCustomer" class="control-label note mb-0">Customer Name</label>
        </div>
        <div class="col-md-9 col-lg-9  padding-10" style="text-align:right;">
            @Html.RadioButtonFor(model => Model.PayType, 1, new { @class = "PayType", @checked = "checked" })&nbsp;@Html.Label(Resource.PayEachVoucher)
            &nbsp;&nbsp;
            @Html.RadioButtonFor(model => Model.PayType, 2, new { @class = "PayType" })&nbsp;@Html.Label(Resource.PayByAll)
        </div>
    </div>

    <div class="row">
        <table id="tblOutstandingList" class="col-md-12 col-lg-12" role="grid">
            <thead>
                <tr class="row table-header">
                    <th class="col-md-2 col-lg-2">@Resource.Date</th>
                    <th class="col-md-2 col-lg-2">@Resource.VoucherNo</th>
                    <th class="col-md-2 col-lg-2 aligh-right">@Resource.Opening</th>
                    <th class="col-md-2 col-lg-2 aligh-right">@Resource.Sale</th>
                    <th class="col-md-2 col-lg-2 text-center">@Resource.PayDate</th>                  
                    <th class="col-md-2 col-lg-2 text-center">@Resource.Payment</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="col-md-12 col-lg-12 search-div">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-4 col-lg-4 aligh-right">
                    <div class="align-justify-center">
                        <h5 class="mb-0">@Resource.Balance@Resource.ColonSign</h5>&nbsp;&nbsp;
                        <h4 id="hTotalBalance" class="mb-0 first-text-color"></h4>
                        <input id="inputHidTotalBalance" type="hidden"/>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 text-center padding-10">
                    <input id="inputAllPayDate" type="date" class="border-gray control-input padding-5" style="height:50px;" />
                </div>
                <div class="col-md-2 col-lg-2 text-center padding-10">
                    <input id="inputAllPayment" type="text" class="border-gray control-input mb-0 numberonly text-center" style="height:50px;" placeholder="0" />
                </div>
            </div>
        </div>
    </div>

    <div class="row soft-gray-background pt-1">
        <div class="col-md-2 col-lg-2">
            <button id="btnReset" class="btn btn-white-outline-third">@Resource.Reset</button>
        </div>
        <div class="col-md-7 col-lg-7"></div>
        <div class="col-md-3 col-lg-3 aligh-right">
            @*<button id="btnEdit" class="btn btn-first plr-30">@Resource.Edit</button>*@
            <button id="btnSave" class="btn btn-first plr-30">@Resource.Save</button>
        </div>
    </div>

</div>

<script type="text/javascript">

    let num = 0, userVoucherNo, allPayment = 0;

    document.getElementById('subMenuCustomerOutstandingList').className = 'active';

    $(document).ready(function () {

        if ('@ViewBag.ErrorMessage'.length != 0) {
            showToast(0, '@ViewBag.ErrorMessage');
        }

        setModuleTitle('@Resource.Outstanding', '@Resource.CustomerOutstandingPayment');
        initializeControl();
        createCustomerOutstandingData();
        $('.inputPayDate').val(getTodayDate());

        function initializeControl() {
            $('#lblUserVoucherNo').text('@ViewBag.UserVoucherNo');
            $('#lblCustomer').text('@ViewBag.CustomerName');
            $('#inputDate').val(getTodayDate());
            $('#inputAllPayDate').val(getTodayDate());
            changeControlByPayType(1);
            $('#hTotalBalance').text(separatedComma('@ViewBag.TotalBalance'));
            $('#inputHidTotalBalance').val('@ViewBag.TotalBalance');
            //showHideMainButton(false);
        }

        function changeControlByPayType(payType) {
            if (payType == 1) {
                $('#inputAllPayDate').attr("disabled", true);
                $('#inputAllPayment').attr("disabled", true);
                $('.inputPayDate').attr("disabled", false);
                $('.inputPayment').attr("disabled", false);
                $('#inputAllPayDate').val(getTodayDate());
                $('#inputAllPayment').val("");               
            } else if (payType == 2) {
                $('#inputAllPayDate').attr("disabled", false);
                $('#inputAllPayment').attr("disabled", false);
                $('.inputPayDate').attr("disabled", true);
                $('.inputPayment').attr("disabled", true);
                $('.inputPayDate').val(getTodayDate());
                $('.inputPayment').val("");
                $('#tblOutstandingList tr').removeClass("selected");
                allPayment=0;
            }
        }

        $("#tblOutstandingList").on("click", "tbody tr", function (event) {
            let payType = $('.PayType').filter(':checked').val();
            if (payType == 2) return;
            $('#tblOutstandingList tr').removeClass("selected");
            $(this).addClass("selected");
            $(this).find("td:last").each(function () {
                userVoucherNo = $(this).text();
            })
        });

        $("#tblOutstandingList").on("keydown", "tbody tr .inputPayment", function (event) {
            if (event.which === 13) {
                if (userVoucherNo == "") return;
                let payment = $(this).val();
                if (payment == "" || payment == 0) return;
                let trId = $(this).closest('tr').attr('id'); // table row ID
                let nextTrId = parseInt(trId) + 1;
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AddPaymentAction", "CustomerOutstanding")',
                    data: { "userVoucherNo": userVoucherNo, "payment": payment },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess)
                            responseUnSuccessful(response);
                        else {
                            $('#tblOutstandingList tr').removeClass("selected");
                            $('#tblOutstandingList #' + nextTrId + '').addClass("selected");
                            $('#tblOutstandingList #' + nextTrId + ' .inputPayment').focus();
                            userVoucherNo = $('#tblOutstandingList #' + nextTrId + ' td:last').text();
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }
        });

        $('.PayType').change(function () {
            let payType = $(this).filter(':checked').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("PayTypeChangeAction", "CustomerOutstanding")',
                data: { "payType": payType },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    changeControlByPayType(payType);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $("#btnReset").click(function (e) {
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ResetAction", "CustomerOutstanding")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    location.reload();
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        $('#inputAllPayment').keydown(function (event) {
            if (event.which === 13) {
                let payment = $(this).val();
                if (payment == "" || payment == 0) return;
                let totalBalance = $('#inputHidTotalBalance').val();
                if (parseInt(payment) > parseInt(totalBalance)) {
                    showToast(0, '@Inventory.Common.AppConstants.Message.InvalidPayment');
                } else {
                    allPayment = payment;
                }
            }
        });

        $("#btnSave").click(function (e) {
            let payType = $('.PayType').filter(':checked').val();
            let allPayDate = "";
            if (payType == 2) {
                if (allPayment == "" || allPayment == 0) return;
                else allPayDate = $('#inputAllPayDate').val();                
            }
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SaveAction", "CustomerOutstanding")',
                data: { "payType": payType, "allPayment": allPayment, "allPayDate": allPayDate },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                   
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        });

        function createCustomerOutstandingData() {
            var response = JSON.parse('@Html.Raw(Json.Encode(ViewData["LstTranCustomerOutstanding"]))');
            $.each(response, function (i, item) {
                num += 1;
                let row = '<tr id=' + num + ' class="row table-item">'
                        + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.Date + '</label></td>'
                        + '<td class="col-md-2 col-lg-2"><label class="control-label mb-0">' + item.UserVoucherNo + '</label></td>'
                if (item.Opening == 0){
                    row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">-</label></td>'
                }
                else {
                    row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">' + separatedComma(item.Opening) + '</label></td>'
                }
                if (item.Sale == 0) {
                    row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">-</label></td>'
                } else {
                    row += '<td class="col-md-2 col-lg-2 aligh-right"><label class="control-label mb-0">' + separatedComma(item.Sale) + '</label></td>'
                }
                row += '<td class="col-md-2 col-lg-2 text-center"><input type="date" class="inputPayDate border-gray control-input" /></td>'
                        + '<td class="col-md-2 col-lg-2 text-center"><input type="text" class="inputPayment border-gray control-input mb-0 numberonly text-center" placeholder="0" /></td>'
                        + '<td style="display:none;">' + item.UserVoucherNo + '</td>'
                        + '</tr>';
                $('#tblOutstandingList tbody').append(row);
            })
        }

    });

</script>
