@using Inventory.ViewModels;
@model RpPurchaseItemBySupplierViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let filter;
        $(document).ready(function () {
            let title = '@Resource.PurchaseItemBySupplierReport';
            let fromDate = '@Model.FromDate.ToShortDateString()';
            let toDate = '@Model.ToDate.ToShortDateString()';
            filter = "";
            setReportTitle(title);
            setDefaultFilter(fromDate, toDate, filter);
        });

        function separatedComma(value) {
            let iVal = parseInt(value);
            let result = iVal.toLocaleString('en-US');
            document.write(result);
        }

    </script>
</head>

<div>
    <div class="row table-header">
        <div class="col-md-2 col-lg-2">@Resource.Code</div>
        <div class="col-md-2 col-lg-2">@Resource.ProductName</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Qty</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.PurchasePrice</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Dis</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Amount</div>
    </div>


    @{
        var productId = 0;
        foreach (var supplier in Model.lstSupplier)
        {
            <div class="rpt-sub-group">
                <label>@supplier.SupplierName</label>
            </div>


            foreach (var purchase in Model.lstTranPurchase.Where(p => p.SupplierID == supplier.SupplierID).ToList())
            {

                if (productId != 0)
                {
                    var count = Model.lstTranPurchase.Where(p => p.ProductID == productId && p.SupplierID == supplier.SupplierID).ToList();

                    if (productId != purchase.ProductID && count.Count() > 1)
                    {
                        <div class="row rpt-sub-total">
                            <div class="col-md-2 col-lg-2"></div>
                            <div class="col-md-2 col-lg-2">@Resource.Total</div>
                            <div class="col-md-2 col-lg-2 aligh-right">
                            <script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Quantity))</script> </div>
                            <div class="col-md-2 col-lg-2"></div>
                            <div class="col-md-2 col-lg-2 aligh-right"><script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Discount))</script></div>
                            <div class="col-md-2 col-lg-2 aligh-right">
                            <script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Amount))</script></div>
                        </div>
                    }
                }

                <div class="row rpt-item">
                    <div class="col-md-2 col-lg-2">@purchase.ProductCode</div>                   
                    <div class="col-md-2 col-lg-2">@purchase.ProductName 
                        @if (purchase.Accessories != null)
                        {
                            <span>(@purchase.Accessories.Trim())</span>
                        }
                        @if (purchase.UnitKeyword.Length != 0)
                        {
                            <span>(@purchase.UnitKeyword)</span>
                        }                    
                    </div>                                         
                    <div class="col-md-2 col-lg-2 aligh-right">
                    <script>separatedComma(@purchase.Quantity)</script></div>
                    <div class="col-md-2 col-lg-2 aligh-right">
                    <script>separatedComma(@purchase.PurchasePrice)</script></div>
                    <div class="col-md-2 col-lg-2 aligh-right">
                    <script>separatedComma(@purchase.Discount)</script></div>
                    <div class="col-md-2 col-lg-2 aligh-right">
                    <script>separatedComma(@purchase.Amount)</script></div>
                </div>

                productId = purchase.ProductID;
            }

            var listCount = Model.lstTranPurchase.Count();
            if (listCount != 0)
            {
                var lastProductId = Model.lstTranPurchase[listCount - 1].ProductID;
                List<RpPurchaseItemBySupplierViewModel.TranPurchaseModels> list = Model.lstTranPurchase.Where(m => m.ProductID == lastProductId).ToList();
                if (list.Count() > 1)
                {
                    <div class="row rpt-sub-total">
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2">@Resource.Total</div>
                        <div class="col-md-2 col-lg-2 aligh-right">
                            <script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Quantity))</script>
                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-2 col-lg-2 aligh-right">
                            <script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Discount))</script>
                        </div>
                        <div class="col-md-2 col-lg-2 aligh-right">
                            <script>separatedComma(@Model.lstTranPurchase.Where(m => m.ProductID == productId && m.SupplierID == supplier.SupplierID).Sum(m => m.Amount))</script>
                        </div>
                    </div>
                }
            }

        }




    }


    @{ 
        var purchaseCount = Model.lstTranPurchase.Count;
        if (purchaseCount > 1)
        {
                <div class="row rpt-total">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-2 col-lg-2">@Resource.Total</div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <script>separatedComma(@Model.lstTranPurchase.Sum(m => m.Quantity))</script>
        </div>
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-2 col-lg-2 aligh-right"><script>separatedComma(@Model.lstTranPurchase.Sum(m => m.Discount))</script></div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <script>separatedComma(@Model.lstTranPurchase.Sum(m => m.Amount))</script>
        </div>
    </div>

    <div class="row rpt-main-group">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Qty</div>
        <div class="col-md-2 col-lg-2 aligh-right"></div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Dis</div>
        <div class="col-md-2 col-lg-2 aligh-right">@Resource.Amount</div>
    </div>
        }
    }



</div>


