@using Inventory.ViewModels;
@model RpPurchaseItemSimpleViewModel
@{
    Layout = "~/Views/Shared/_LayoutReportDetail.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.ErrorMessage'.length != 0) {
            showToast(0, '@ViewBag.ErrorMessage');
        }
        setReportTitle('@Resource.PurchaseItemSimpleReportWithImage');
        setDefaultFilter('@Model.FromDate.ToShortDateString()', '@Model.ToDate.ToShortDateString()', '');
        $("#divFilter").visible = false;
    });

    function separatedComma(value) {
        let iVal = parseInt(value);
        let result = iVal.toLocaleString('en-US');
        document.write(result);
    }
    </script>
</head>
<div>
    <div class="row table-header font-weight-500">
        <div class="col-md-2 col-lg-2">
            <span class="ml-10">@Resource.Code</span>
        </div>
        <div class="col-md-2 col-lg-2">
            <span> @Resource.Product</span>
        </div>
        <div class="col-md-1 col-lg-1 aligh-right">
            <span class="text-align-right">@Resource.Qty</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <span>@Resource.Price</span>
        </div>
        <div class="col-md-1 col-lg-1 aligh-right">
            <span>@Resource.Dis</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right plr-30">
            <span class="mr-10">@Resource.Amount</span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right">
            <span> @Resource.Photo</span>
        </div>
    </div>
</div>
<div>
    @foreach (var MainMenuData in Model.lstPurchaseRpt as List<RpPurchaseItemSimpleViewModel.MainMenuViewModel>)
    {
        <div class="row rpt-main-group" style="background-color:#ffffec;">
            <div class="col-md-12 col-lg-12">
                <span class="ml-10">@MainMenuData.MainMenuName</span>
            </div>
        </div>
        foreach (var SubMenuData in MainMenuData.lstSubMenu as List<RpPurchaseItemSimpleViewModel.SubMenuViewModel>)
        {
            <div class="row rpt-sub-group" style="background-color:#fffff9;">
                <div class="col-md-12 col-lg-12">
                    <span class="ml-10">@SubMenuData.SubMenuName</span>
                </div>
            </div>
            foreach (var Item in SubMenuData.lstPurchaseItem.OrderBy(m => m.Code).ThenBy(m => m.ProductName).ThenBy(m => m.UnitID).ThenBy(m=>m.Accessories).ToList() as List<RpPurchaseItemSimpleViewModel.PurchaseItemViewModel>)
            {
                <div class="row rpt-item">
                    <div class="col-md-2 col-lg-2"><span class="ml-10">@Item.Code</span></div>
                    <div class="col-md-2 col-lg-2">@Item.ProductName 
                        @if (Item.Accessories != null)
                        {
                            <span>(@Item.Accessories.Trim())</span>
                        }
                        @if (Item.UnitID != 0)
                        {
                            <span>(@Item.UnitKeyword)</span>
                        }                         
                    </div>
                    <div class="col-md-1 col-lg-1 aligh-right"><span>@Item.Quantity</span></div>
                    <div class="col-md-2 col-lg-2 aligh-right"><span><script>separatedComma(@Item.PurchasePrice)</script></span></div>
                    <div class="col-md-1 col-lg-1 aligh-right"><span><script>separatedComma(@Item.Discount)</script></span></div>
                    <div class="col-md-2 col-lg-2 aligh-right plr-30"><span class="mr-10"><script>separatedComma(@Item.Amount)</script></span></div>
                    <div class="col-md-2 col-lg-2 aligh-right">
                        @if (Item.Photo != null)
                        {
                            <img src="@Url.Content("data:image/png;base64," + Convert.ToBase64String(Item.Photo, 0, Item.Photo.Length))" style="height:50px;height:50px;" />
                        }                        
                    </div>
                </div>
            }
            <div class="row rpt-sub-total">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-md-2 col-lg-2">@Resource.Total</div>
                <div class="col-md-1 col-lg-1 aligh-right"><span>@SubMenuData.lstPurchaseItem.Sum(m => m.Quantity)</span></div>
                <div class="col-md-3 col-lg-3 aligh-right">
                    <span>
                        <script>separatedComma(@SubMenuData.lstPurchaseItem.Sum(m=>m.Discount))</script>
                    </span>
                </div>
                <div class="col-md-2 col-lg-2 aligh-right plr-30"><span class="mr-10">
                <script>separatedComma(@SubMenuData.lstPurchaseItem.Sum(m => m.Amount))</script></span></div>
            </div>
        }
    }
    <div class="row rpt-total">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-2 col-lg-2">@Resource.Total</div>
        <div class="col-md-1 col-lg-1 aligh-right">
            <span>
                <script>separatedComma(@Model.TotalQuantity)</script>
            </span>
        </div>
        <div class="col-md-3 col-lg-3 aligh-right">
            <span>
                <script>separatedComma(@Model.TotalDis)</script>
            </span>
        </div>
        <div class="col-md-2 col-lg-2 aligh-right plr-30">
            <span class="mr-10">
                <script>separatedComma(@Model.TotalAmount)</script>
            </span>
        </div>
    </div>
    <div class="row padding-10" style="font-weight:bold;">
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-1 col-lg-1 aligh-right"><span>@Resource.Qty</span></div>
        <div class="col-md-3 col-lg-3 aligh-right"><span>@Resource.Dis</span></div>
        <div class="col-md-2 col-lg-2 aligh-right plr-30"><span class="mr-10">@Resource.Amount</span></div>
    </div>
</div>


