@using Inventory.ViewModels
@model CustomerOutstandingHistoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuOutstandingGp {
            display: block;
        }
    </style>

    <script type="text/javascript">

        let listActionValue, selectedRowIndex, customerName;
        document.getElementById('subMenuCustomerOutstandingPaymentHistory').className = 'active';

        $(document).ready(function () {

            if ('@ViewBag.ErrorMessage'.length != 0) {
                showToast(0, '@ViewBag.ErrorMessage');
            }

            setModuleTitle('@Resource.Outstanding', '@Resource.CustomerOutstandingPaymentHistory');
            initializeControl();
            createOutstandingHistoryData('', false);
            createPaging('@ViewBag.TotalPageNum', '@ViewBag.CurrentPage');

            $("#btnSearch").click(function (e) {
                searchAction();
            });

            $("#btnRefresh").click(function (e) {
                clearControl();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("RefreshAction", "CustomerOutstandingHistory")',
                    data: { },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        createOutstandingHistoryData(response.LstCustomerOutstanding, true);
                        createPaging(response.TotalPage, response.CurrentPage);
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            $(document).on('click', '.btnPage', function (e) {
                let currentPage = $(this).text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("OutstandingPagingAction", "CustomerOutstandingHistory")',
                    data: { "currentPage": currentPage },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess)
                            responseUnSuccessful(response);
                        else {
                            createOutstandingHistoryData(response.LstCustomerOutstanding, true);
                            createPaging(response.TotalPage, currentPage);
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            $("#tblOutstandingList").on("click", "tbody tr", function (event) {
                customerName = $(this).find("td:first").text();
                $(this).find("td:last").each(function () {
                    let customerId = $(this).text();
                    if (listActionValue == 1) {   // payment
                        clearTableAction();
                        paymentView(customerId);
                    }
                });
            });

            function paymentView(customerId) {
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("PaymentAction", "CustomerOutstandingHistory")',
                    data: { "customerId": customerId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.ResultDefaultData.IsRequestSuccess)
                            responseUnSuccessful(response);
                        else {
                            $('#modalPayment').modal('show');
                            initializeDetailControl(customerId, customerName);
                            createOutstandingDetailData(response.LstCustomerOutstandingPayment);                         
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            }

            function initializeControl() {
                $('#inputFromDate').val(getTodayDate());
                $('#inputToDate').val(getTodayDate());
            }

            function clearControl() {
                $('#inputFromDate').val(getTodayDate());
                $('#inputToDate').val(getTodayDate());
                $("#ddlCustomer").val('0');
            }

        });

        function searchAction() {
            let fromDate = $('#inputFromDate').val();
            let toDate = $('#inputToDate').val();
            let customerId = $('#ddlCustomer option:selected').val();
            showLoadingIcon();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchAction", "CustomerOutstandingHistory")',
                data: { "fromDate": fromDate, "toDate": toDate, "customerId": customerId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    hideLoadingIcon();
                    createOutstandingHistoryData(response.LstCustomerOutstanding, true);
                    createPaging(response.TotalPage, response.CurrentPage);
                },
                failure: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                },
                error: function (response) {
                    hideLoadingIcon();
                    alert(response.responseText);
                }
            });
        }

        function createOutstandingHistoryData(response, isFromJson) {
            $("#tblOutstandingList").find("tbody").empty();
            if (!isFromJson) response = JSON.parse('@Html.Raw(Json.Encode(ViewData["LstCustomerOutstanding"]))');
            $.each(response, function (index, item) {
                var row = '<tr class="row table-item" onclick="findRowIndex(this)">'
                        + '<td class="col-md-4 col-lg-4">' + item.CustomerName + '</td>'                       
                        + '<td class="col-md-4 col-lg-4 aligh-right">' + separatedComma(item.Payment) + '</td>'
                        + '<td class="col-md-2 col-lg-2"></td>'
                        + '<td class="col-md-2 col-lg-2 btn-group">'
                            + '<button title="Payment" class="btn btn-sm btn-primary" onclick="listTableAction(1)">@Resource.ViewDetail</button>'
                        + '</td>'
                        + '<td style="display:none">' + item.CustomerID + '</td>'
                    + '</tr>'
                $('#tblOutstandingList tbody').append(row);
            });
        }

        function listTableAction(value) {
            listActionValue = value;
        }

        function findRowIndex(x) {
            selectedRowIndex = x.rowIndex;
        }

        function clearTableAction() {
            listActionValue = 0;
        }

    </script>
</head>

<div>

    <div class="row setup-title-layout">
        <div class="col-md-12 col-lg-12">
            <label class="page-title">@Resource.CustomerOutstandingPaymentHistory</label>
        </div>
    </div>

    <div class="row setup-title-layout search-div">
        <table class="width-100-percent">
            <tr>
                <td class="control-label" style="text-align:center;">From Date</td>
                <td><input id="inputFromDate" type="date" class="form-control control-input" /></td>
                <td class="control-label" style="text-align:center;">To Date</td>
                <td><input id="inputToDate" type="date" class="form-control control-input" /></td>
                <td>@Html.DropDownList("Customer", Model.Customers, new { @id = "ddlCustomer", @class = "form-control control-input" })</td>
                <td>
                    <div class="btn-group" style="float:right">
                        <button id="btnSearch" class="btn btn-first setup-btn-search" title="Search"><i class="fa fa-search"></i></button>
                        <button id="btnRefresh" class="btn btn-light" title="Refresh"><i class="fa fa-refresh refresh-icon"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row padding-10">
        <div class="col-md-12 col-lg-12">
            <table id="tblOutstandingList" class="col-md-12 col-lg-12" role="grid">
                <thead>
                    <tr class="row table-header">
                        <th class="col-md-4 col-lg-4">@Resource.Customer</th>                    
                        <th class="col-md-4 col-lg-4 aligh-right">@Resource.Payment</th>
                        <th class="col-md-2 col-lg-2"></th>
                        <th class="col-md-2 col-lg-2">@Resource.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="divPaging" class="row paging">
        <div class="col-md-1 col-lg-1"><label id="lblPageNumber" class="page-num"></label></div>
        <div id="divPagingItem" class="col-md-11 col-lg-11 paging-item"></div>
    </div>

</div>

<div>
    @{
        Html.RenderPartial("_CustomerOutstandingPaymentDetail");
    }
</div>


