@using Inventory.ViewModels
@model SaleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
        #subMenuSaleGp {
            display: block;
        }
    </style>
    <script type="text/javascript">

        let listActionValue, selectedRowIndex;
        document.getElementById('subMenuOpenBill').className = 'active';

        $(document).ready(function () {
           
            initializeControl();
            createMasterOpenBillData('', false);
            createPaging('@ViewBag.TotalPageNum', '@ViewBag.CurrentPage');  
            
            function initializeControl() {
                $('#inputFromDate').val(getTodayDate());
                $('#inputToDate').val(getTodayDate());
            }

            function clearControl() {
                $('#inputFromDate').val(getTodayDate());
                $('#inputToDate').val(getTodayDate());
                $('#inputUserVoucherNo').val('');
                $("#ddlCustomer").val('0');
            }

            $("#btnSearch").click(function (e) {
                let fromDate = $('#inputFromDate').val();
                let toDate = $('#inputToDate').val();
                let userVoucherNo = $('#inputUserVoucherNo').val();
                let customerId = $('#ddlCustomer option:selected').val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchOpenBillAction", "Sale")',
                    data: { "userId": userId, "fromDate": fromDate, "toDate": toDate, "userVoucherNo": userVoucherNo, "customerId": customerId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        createMasterOpenBillData(response.LstMasterOpenBill, true);
                        createPaging(response.TotalPage, response.CurrentPage);
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            $("#btnRefresh").click(function (e) {
                clearControl();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("RefreshOpenBillAction", "Sale")',
                    data: { "userId": userId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        createMasterOpenBillData(response.LstMasterOpenBill, true);
                        createPaging(response.TotalPage, response.CurrentPage);
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            $("#btnDelOk").click(function () {
                let openBillId = $("#btnDelOk").val();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteOpenBillAction", "Sale")',
                    data: { "openBillId": openBillId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            if (selectedRowIndex != null) {
                                document.getElementById("tblOpenBillList").deleteRow(selectedRowIndex);
                                createPaging(response.TotalPage, "");
                                showToast(1, 'Deleted Successfully!');
                            }
                        }                       
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            $("#tblOpenBillList").on("click", "tbody tr", function (event) {
                $(this).find("td:last").each(function () {
                    let openBillId = $(this).text();
                    if (listActionValue == 2) {  // add to pos
                        clearTableAction();
                        window.location.href = '@Url.Action("POS", "Sale")?userId=' + userId + '&openBillId=' + openBillId;
                    } else if (listActionValue == 3) {  // delete
                        clearTableAction();
                        $('#modalConfirm').modal('show');
                        $("#btnDelOk").val(openBillId);
                    }
                });
            });

            $(document).on('click', '.btnPage', function (e) {
                let currentPage = $(this).text();
                showLoadingIcon();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("OpenBillPagingAction", "Sale")',
                    data: { "currentPage": currentPage },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        hideLoadingIcon();
                        if (!response.IsRequestSuccess)
                            redirectToLogin();
                        else {
                            createMasterOpenBillData(response.LstMasterOpenBill, true);
                            createPaging(response.TotalPage, currentPage);
                        }
                    },
                    failure: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    },
                    error: function (response) {
                        hideLoadingIcon();
                        alert(response.responseText);
                    }
                });
            });

            function createMasterOpenBillData(response, isFromJson) {
                $("#tblOpenBillList").find("tbody").empty();
                if (!isFromJson) response = JSON.parse('@Html.Raw(Json.Encode(ViewData["LstMasterOpenBill"]))');
                $.each(response, function (index, item) {
                    var row = '<tr class="row table-item" onclick="findRowIndex(this)">'
                            +'<td class="col-md-2 col-lg-2 text-overflow">' + item.OpenDateTime + '</td>'
                            + '<td class="col-md-2 col-lg-2 text-overflow">' + item.UserVoucherNo + '</td>'
                            + '<td class="col-md-2 col-lg-2 text-overflow">' + item.CustomerName + '</td>'
                            + '<td class="col-md-3 col-lg-3 text-overflow">' + item.Note + '</td>'
                            + '<td class="col-md-2 col-lg-2 value-right">' + separatedComma(item.Total) + '</td>'
                            + '<td class="col-md-1 col-lg-1 btn-group">'
                                + '<button title="Add to POS" class="btn btn-sm btn-primary" onclick="listTableAction(2)"><i class="fa fa-dollar"></i></button>'
                                + '<button title="Delete" class="btn btn-sm btn-danger" onclick="listTableAction(3)"><i class="fa fa-remove"></i></button>'
                            +'</td>'
                            + '<td style="display:none">' + item.OpenBillID + '</td>'
                        +'</tr>'
                    $('#tblOpenBillList tbody').append(row);
                });
            }

        });

        function listTableAction(value) {
            listActionValue = value;
        }

        function findRowIndex(x) {
            selectedRowIndex = x.rowIndex;
        }

        function clearTableAction() {
            listActionValue = 0;
        }

    </script>
</head>

<div>

    <div class="row setup-title-layout">
        <div class="col-md-12 col-lg-12">
            <label class="page-title">Opened Bills</label>
        </div>
    </div>

    <div class="row setup-title-layout search-div">
        <table class="width-100-percent">
            <tr>
                <td class="control-label" style="text-align:center;">From Date</td>
                <td><input id="inputFromDate" type="date" class="form-control control-input" /></td>
                <td class="control-label" style="text-align:center;">To Date</td>
                <td><input id="inputToDate" type="date" class="form-control control-input" /></td>
                <td><input id="inputUserVoucherNo" type="text" class="form-control control-input" placeholder="Voucher No." /></td>
                <td>@Html.DropDownList("Customer", Model.Customers, new { @id = "ddlCustomer", @class = "form-control control-input" })</td>
                <td>
                    <div class="btn-group" style="float:right">
                        <button id="btnSearch" class="btn btn-first setup-btn-search" title="Search"><i class="fa fa-search"></i></button>
                        <button id="btnRefresh" class="btn btn-light" title="Refresh"><i class="fa fa-refresh refresh-icon"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row padding-10">
        <div class="col-md-12 col-lg-12">
            <table id="tblOpenBillList" class="col-md-12 col-lg-12" role="grid">
                <thead>
                    <tr class="row table-header">
                        <th class="col-md-2 col-lg-2">Date</th>
                        <th class="col-md-2 col-lg-2">Voucher No.</th>
                        <th class="col-md-2 col-lg-2">Customer</th>
                        <th class="col-md-3 col-lg-3">Note</th>
                        <th class="col-md-2 col-lg-2 aligh-right">Total</th>
                        <th class="col-md-1 col-lg-1">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="divPaging" class="row paging">
        <div class="col-md-1 col-lg-1"><label id="lblPageNumber" class="page-num"></label></div>
        <div id="divPagingItem" class="col-md-11 col-lg-11 paging-item"></div>
    </div>

</div>

<div>
    @{
        Html.RenderPartial("_ConfirmDialog");
    }
</div>



